.full-page__slide {
  &--advantages {
		@include xl() {
			.section__column {
				transform: translate(0, 200px);
				opacity: 0;
				visibility: hidden;
				transition: 0s linear .5s;
			}
			&.swiper-slide-active {
				.section__column {
					transform: translate(0, 0);
					opacity: 1;
					visibility: visible;
					&:nth-child(3n - 2) {
						transition: .5s linear .5s;
					}
					&:nth-child(3n - 1) {
						transition: .5s linear 1s;
					}
					&:nth-child(3n) {
						transition: .5s linear 1.5s;
					}
				}
			}
		}
  }
}