.full-page__slide {
  &--article-culture {
    .content-section__column {
      opacity: 0;
      visibility: hidden;
      transform: translate(-200px, 0);
      transition: 0s linear .5s;
    }
    .content-section__img-wrap {
      transition: 0s linear .5s;
      transform: translate(200px, 0);
      opacity: 0;
      visibility: hidden;
    }
    &.swiper-slide-active {
      .content-section__img-wrap {
        transform: translate(0, 0);
        opacity: 1;
        visibility: visible;
        transition: .5s linear .5s;
      }
      .content-section__column {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
        transition: .5s linear .5s;
      }
    }
  }
}