.full-page__slide {
	position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  &--content {
    height: auto;
    padding: 2.7% 0;
    @include xl() {
      // padding: 50px 0;
    }
  }
  &--height-auto {
    height: auto;
  }
}