.full-page__slide {
  &--career {
    .content-section__img {
      transform: translate(-200px, 0);
      opacity: 0;
      visibility: hidden;
      transition: 0s linear .5s;
      // background-color: #fff;
    }
    .content-section__content {
      transform: translate(-200px, 0);
      opacity: 0;
      visibility: hidden;
      transition: 0s linear .5s;
    }
    .content-section__stat {
      transform: translate(-200px, 0);
      opacity: 0;
      visibility: hidden;
      transition: 0s linear .5s;
    }
    &.swiper-slide-active {
      .content-section__img {
        transform: translate(0, 0);
        opacity: 1;
        visibility: visible;
        transition: .5s linear .5s;
      }
      .content-section__content {
        transform: translate(0, 0);
        opacity: 1;
        visibility: visible;
        transition: .5s linear 1s;
      }
      .content-section__stat {
        transform: translate(0, 0);
        opacity: 1;
        visibility: visible;
        transition: .5s linear 2s;
      }
    }
  }
}