.full-page__slide {
  &--employeers {
    .section__container {
      // transform: translate(0, 200px);
      transition: 0s linear .5s;
    }
    &.swiper-slide-active {
      .section__container {
        // transform: translate(0, 0);
        transition: .5s linear .5s;

      }
    }
  }
}