.full-page__slide {
  &--footer-partners {
    .section__map-wrap {
      opacity: 0;
      visibility: hidden;
      transform: translate(200px, 0);
      transition: 0s linear .5s;
    }
    .section__column {
      opacity: 0;
      visibility: hidden;
      transform: translate(-200px, 0);
      transition: 0s linear .5s;
    }
    .footer {
      opacity: 0;
      visibility: hidden;
      transform: translate(0, 200px);
      transition: 0s linear .5s;
    }
    &.swiper-slide-active {
      .section__map-wrap {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
        transition: .5s linear .5s;
      }
      .section__column {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
        transition: .5s linear .5s;
      }
      .footer {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
        transition: .5s linear 1s;
      }
    }
  }
}