.full-page__slide {
  &--footer-about-bussines {
    .section__content {
      transform: translate(-200px, 0);
      opacity: 0;
      visibility: hidden;
      transition: 0s linear .5s;
    }
    .footer {
      opacity: 0;
      visibility: hidden;
      transform: translate(0, 200px);
      transition: 0s linear .5s;
    }
    &.swiper-slide-active {
      .section__content {
        transform: translate(0, 0);
        opacity: 1;
        visibility: visible;
        transition: .5s linear .5s;
      }
      .footer {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
        transition: .5s linear .5s;
      }
    }
  }
}