.full-page__slide {
  &--footer-vacancy {
    .section__background {
      transition: 0s linear .5s;
    }
    .title-primary {
      opacity: 0;
      visibility: hidden;
      transform: translate(-200px, 0);
      transition: 0s linear .5s;
    }
    .title-secondary {
      opacity: 0;
      visibility: hidden;
      transform: translate(-200px, 0);
      transition: 0s linear .5s;
    }
    .button {
      opacity: 0;
      visibility: hidden;
      transform: translate(0, 200px);
      transition: 0s linear .5s;
    }
    &.swiper-slide-active {
      .section__background {
        transform: scale(1, 1);
        transition: .5s linear .5s;
      }
      .title-primary {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
        transition: .5s linear 1s;
      }
      .title-secondary {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
        transition: .5s linear 1s;
      }
      .button {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
        transition: .5s linear 1.5s;
      }
    }
  }
}