.full-page__slide {
  &--front-contacts {
    @include lg() {
      .section__column {
        transform: translate(-200px, 0);
        opacity: 0;
        visibility: hidden;
        transition: 0s linear .5s;
      }
      &.swiper-slide-active {
        .section__column {
          transform: translate(0, 0);
          opacity: 1;
          visibility: visible;
          &:nth-child(1) {
            transition: .5s linear 1.5s;
          }
          &:nth-child(2) {
            transition: .5s linear 1s;
          }
          &:nth-child(3) {
            transition: .5s linear .5s;
          }
        }
      }
    }
  }
}