.full-page__slide {
  &--front-side {
    .section__background {
      transform: scale(.6, .6);
      transition: 0s linear .5s;
    }
    .section__front-side-margin {
      transform: translate(-200px, 0);
      opacity: 0;
      visibility: hidden;
      transition: 0s linear .5s;
    }
    .section__front-side-button {
      transform: translate(0, 100px);
      opacity: 0;
      visibility: hidden;
      transition: 0s linear .5s;
    }
    &.swiper-slide-active {
      .section__background {
        transform: scale(1, 1);
        transition: linear .5s;
      }
      .section__front-side-margin {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
        transition: .5s linear .5s;
      }
      .section__front-side-button {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
        transition: .5s linear 1s;
      }
    }
  }
}