.full-page__slide {
  &--previews {
		@include lg() {
			.section__previews {
				transition: .5s linear .5s;
				transform: translate(-150%, 0);
			}
			&.swiper-slide-active {
				.section__previews {
					transform: translate(0, 0);
				}
			}
			.section {
				// background-color: red;
				&.section--previews-full-screen {
					// background-color: black;
					.section__previews {
						transform: translate(0, 0);
					}
				}
			}
		}
  }
}