.full-page__slide {
  &--socials {
    .section__container {
      transform: scale(0, 0);
      opacity: 0;
      visibility: hidden;
      transition: 0s linear .5s;
    }
    .footer {
      transform: translate(0, 100%);
      opacity: 0;
      visibility: hidden;
      transition: 0s linear .5s;
    }
    &.swiper-slide-active {
      .section__container {
        transform: scale(1, 1);
        opacity: 1;
        visibility: visible;
        transition: .5s linear .5s;
      }
      .footer {
        transform: translate(0, 0);
        opacity: 1;
        visibility: visible;
        transition: .5s linear 1s;
      }
    }
  }
}