.full-page__slide {
  &--values {
    .section__title {
      opacity: 0;
      visibility: hidden;
      transition: 0s linear .5s;
    }
    .section__column {
      opacity: 0;
      visibility: hidden;
      transition: 0s linear .5s;
      &:nth-child(odd) {
        transform: translate(-200px, 0);
      }
      &:nth-child(even) {
        transform: translate(200px, 0);
      }
    }
    &.swiper-slide-active {
      .section__title {
        opacity: 1;
        visibility: visible;
        transition: .5s linear .5s;
      }
      .section__column {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
        &:nth-child(odd) {
          transition: .5s linear .5s;
        }
        &:nth-child(even) {
          transition: .5s linear .5s;
        }
      }
    }
  }
}