<div class="section section--footer-contacts-map section--footer-contacts-for-partners">
	<div class="section__in">
		<div class="section__scroll-container swiper-container" data-full-page-scroller>
			<div class="section__scroll-wrapper swiper-wrapper">
				<div class="section__scroll-slide swiper-slide swiper-slide--height-auto">
					<div class="section__indents">
						<div class="section__map-wrap">
							<div class="map map--basic">
								<div class="map__frame">
									<div class="map__frame-in" id="map"></div>
								</div>
							</div>
						</div>
						<div class="section__container container">
							<div class="section__row row">
								<div class="section__column column">
									<div class="section__contact-card">
										<div class="section__person menegement-person menegement-person--basic menegement-person--basic-dark">
											<div class="menegement-person__row row">
												<div class="menegement-person__column menegement-person__column--avatar column">
													<img class="menegement-person__img" src="img/menegement-person-1.png" alt="">
												</div>
												<div class="menegement-person__column menegement-person__column--about column">
													<div class="title-inline text-transform-uppercase font-color-secondary">Name Surname</div>
													<small>major manager, teamlead</small>
													<div class="menegement-person__content font-color-secondary">Loves cats and hanging out with friends during a pandemic. Work experience: 45 years</div>
												</div>
											</div>
										</div>
										<div class="section__row-contact row">
											<div class="section__column-contact column">
												<div class="title-inline font-weight-semi">Телефон</div>
											</div>
											<div class="section__column-contact column">
												<a class="font-color-second text-decoration-none" href="tel:+998981234567">(+99898) 123 4567</a>,
												<a class="font-color-second text-decoration-none" href="tel:+998981234578">(+99898) 123 4578</a>
											</div>
										</div>
										<div class="section__row-contact row">
											<div class="section__column-contact column">
												<div class="title-inline font-weight-semi">Email</div>
											</div>
											<div class="section__column-contact column">
												<a class="font-color-second text-decoration-none" href="mailto:info@legion.uz">info@legion.uz</a>
											</div>
										</div>
										<div class="section__row-contact row">
											<div class="section__column-contact column">
												<div class="title-inline font-weight-semi">Адрес</div>
											</div>
											<div class="section__column-contact column">
												<div class="font-color-second text-decoration-none">123456, Uzbekistan, Tashkent, 7-35</div>
											</div>
										</div>
										<div class="section__row-contact row">
											<div class="section__column-contact column">
												<div class="title-inline font-weight-semi">&nbsp;</div>
											</div>
											<div class="section__column-contact column">
												<a class="link font-color-first text-decoration-underline" href="#" data-direction-button>
													<span class="link__in">
														<span class="link__icon">
															<img src="img/icons/arrow-secondary.svg" alt="">
														</span>
														<span>построить маршрут</span>
													</span>
												</a>
											</div>
										</div>
										<div class="section__button-wrap">
											<button class="section__button button button--secondary" data-micromodal-trigger="modal-1" type="button">
												<span class="button__in">
													<span>Написать мне</span>
												</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-scrollbar--section swiper-scrollbar"></div>
		</div>
	</div>
</div>