.angle {
  border-left: 1px solid $UIBackgroundFourth;
  border-top: 1px solid $UIBackgroundFourth;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  font-size: 0;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    
    width: 30px;
    height: 30px;
    background-color: $UIBackgroundPrimary;
  }
}