.dash {
	margin-bottom: 20px;
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 30px !important;
    height: 1px !important;
    background-color: $UIBackgroundSecondary;
    margin-right: 10px;
  }
}