.font-color-primary {
  color: $fontColorPrimary;
  &:hover {
    color: $fontColorPrimary;
  }
}
.font-color-primary-second {
  color: $fontColorPrimarySecond;
  &:hover {
    color: $fontColorPrimarySecond;
  }
}
.font-color-secondary {
  color: $fontColorSecondary;
  &:hover {
    color: $fontColorSecondary;
  }
}
.font-color-first {
  color: $fontColorFirst;
  &:hover {
    color: $fontColorFirst;
  }
}
.font-color-second {
  color: $fontColorSecond;
  &:hover {
    color: $fontColorSecond;
  }
}
.font-color-third {
  color: $fontColorThird;
  &:hover {
    color: $fontColorThird;
  }
}
.font-color-fourth {
  color: $fontColorFourth;
  &:hover {
    color: $fontColorFourth;
  }
}
.font-color-fifth {
  color: $fontColorFifth;
  &:hover {
    color: $fontColorFifth;
  }
}
.font-color-warning {
  color: $fontColorWarning;
  &:hover {
    color: $fontColorWarning;
  }
}