.list {
	&--presentation {
		li {
			border-bottom: 1px solid $UIBackgroundFourth;
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			padding: 25px 0;
			color: $fontColorPrimarySecond;
			&:hover {
				color: $fontColorPrimary;
				border-bottom: 1px solid $UIBackgroundThird;
				a {
					color: $fontColorPrimary;
				}
			}
		}
		a {
			text-decoration: none;
		}
		.file {
			margin-right: 50px;
		}
	}
}
.list-clear {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-content {
	li {
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		margin-bottom: 10px;
		&:before {
			content: '';
			width: 16px;
			height: 1px;
			display: inline-block;
			vertical-align: middle;
			margin-top: 12px;
			margin-right: 10px;

			border-bottom: 1px solid $UIBackgroundThird;
		}
	}
	
}