.video {
	position: relative;
}
.video__player-wrap {
	width: 100%;
	height: 100%;
}
.video__player {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	.vjs-tech {
		width: 100%;
		max-height: 100%;
		@media screen and (min-width: 1920px) {
			object-fit: cover;
			width: 100vw;
			height: 100vh;
			position: fixed;
			top: 0;
			left: 0;
		}
	}

	.vjs-loading-spinner {
		display: none;
	}
}


.video__controls {
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;

	display: flex;
	flex-wrap: wrap;
	align-items: center;

	font-size: 25px;
	color: #fff;
	@include lg() {
		bottom: 10px;
	}
}


.video__volume-button {
	position: relative;
	z-index: 2;
	padding: 20px;
	cursor: pointer;
	&.muted {
		.video__volume-off {
			display: block;
		}
		.video__volume-on {
			display: none;
		}
	}
}

.video__volume-on, .video__volume-off {
	cursor: pointer;
}

.video__volume-off {
	display: none;
}