.pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px -3px;
	padding: 0;
	list-style: none;
	li {
		padding: 3px;
		&.next {
			animation: none;
		}
		&.active {
			span {
				border-color: $fontColorWarning;
				color: $fontColorPrimary;
			}
		}
		&.disabled {
			opacity: .5;
			a {
				color: $fontColorFirst;
				.svg-icon {
					color: $fontColorThird;
				}
				&:hover {
					color: $fontColorFirst;
					transform: translate(0, 0);
				}
			}
		}
	}
	a, span {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 39px;
		height: 39px;
		border: 1px solid $UIBorderColorPaginate;
		border-radius: 4px;

		font-size: 14px;
		line-height: 1;
		color: $fontColorFirst;

		background: $UIBackgroundPaginate;
		text-decoration: none;
		& > * {
			flex-shrink: 0;
		}
		.svg-icon {
			font-size: 12px;
			color: $fontColorThird;
		}
	}
	a {
		transition: linear .1s;
		&:hover {
			color: $fontColorPrimary;
			transform: translate(0, -5px);
			.svg-icon {
				color: $fontColorPrimary;
			}
		}
	}
}