.section {
	&--front-side-brands {
		background-color: $UIBackgroundPrimary;
		.section__title {
			max-width: 700px;
			margin: 0 auto 60px;
			text-align: center;
			h2 {
				margin-bottom: 30px;
			}
		}
		.section__products {
			position: relative;
		}
		.section__row {
			justify-content: center;	
			@include xl() {
				justify-content: flex-start;
			}
		}
		.section__column {
			margin-bottom: 30px;
			position: static;
		}
	}
}