<div class="section section--front-side-third section--front-side-partners" id="front-side-brands">
	<div class="section__in">
		<div class="section__scroll-container swiper-container" data-full-page-scroller>
			<div class="section__scroll-wrapper swiper-wrapper">
				<div class="section__scroll-slide swiper-slide swiper-slide--height-auto">
					<div class="section__main-wrap" data-front-side-animation>
						<div class="section__container container font-color-secondary">
							<div class="section__background" style="background-image: url('./img/section-partners.jpg');">&nbsp;</div>
							<div class="section__content">
								<div class="section__content-in">
									<div class="title-inline dash">information</div>
									<h1>For Partners</h1>
									<div>We invite active, young and open people to become part of our team.</div>
								</div>
							</div>
						</div>
					</div>
					<div class="section section--presentation">
						<div class="section__indents">
							<div class="section__container-secondary container">
								<div class="section__row row">
									<div class="section__column section__column--list column">
										<h2>Presentation</h2>
										<ul class="list list--presentation list-clear">
											<li>
												<a class="file file--basic" href="#">
													<span class="file__icon-wrap">
														<svg class='file__icon svg-icon'>
															<use xlink:href='img/svgSprite.svg#file'></use>
														</svg>
													</span>
												</a>
												<a href="#">
													<span class="title-secondary">Our business tactics</span>
												</a>
											</li>
											<li>
												<a class="file file--basic" href="#">
													<span class="file__icon-wrap">
														<svg class='file__icon svg-icon'>
															<use xlink:href='img/svgSprite.svg#file'></use>
														</svg>
													</span>
												</a>
												<a href="#">
													<span class="title-secondary">Second presentation</span>
												</a>
											</li>
											<li>
												<a class="file file--basic" href="#">
													<span class="file__icon-wrap">
														<svg class='file__icon svg-icon'>
															<use xlink:href='img/svgSprite.svg#file'></use>
														</svg>
													</span>
												</a>
												<a href="#">
													<span class="title-secondary">Third presentation</span>
												</a>
											</li>
										</ul>
									</div>
									<div class="section__column section__column--presentation column" data-presentation>
										<img src="img/presentation.jpg" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-scrollbar--section swiper-scrollbar"></div>
		</div>
	</div>
</div>