.modal {
	&--basic {
		.modal__container {
			max-width: 720px;
		}
		.modal__title {
			margin-top: 40px;
			margin-left: auto;
			margin-right: auto;
			color: $fontColorPrimary;
			text-align: center;
			max-width: 500px;
		}
	}
}