.brand {
	&--basic {
		display: flex;
		flex-direction: column;
		.brand__in {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			min-height: 100px;
			@include md() {
				min-height: 215px;
			}
		}
		
		.brand__content {
			line-height: 1.5;
			strong {
				font-size: $titlePrimaryFontSize + px;
				// line-height: $titlePrimaryLineHeight;
				font-family: $fontSecondary, sans-serif;
				font-weight: 400;
			}
			img {
				filter: grayscale(1);
				max-height: 100px;
				@include md() {
					max-height: none;
				}
			}
		}
	}
	&--primary {
		background-color: $UIBackgroundAttention;
		color: $UIBackgroundSecondary;
		.brand__in {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			min-height: 100px;
			@include md() {
				min-height: 215px;
			}
		}
	}
}

