// BASE CONTENT SIZES PROPERTIES
// =============================

$UIRelativeValue: 18;
$UIRelativeValue_md: 24;
$UIRelativeValue_xl: 30;

$UIContentFontSize: 12;
$UIContentFontSize_md: 14;
$UIContentFontSize_xl: 16;
$UIContentLineHeight: 1.5;

// =============================
// =============================