// h1-h6 TITLES DECLARATION
// ========================

$globalTitleFontWeight: 400;

$titleMainFontSize: 50;
$titleMainFontWeight: 700;

$titlePrimaryFontSize: 46;
$titlePrimaryLineHeight: 1.2;

$titleRegularFontSize: 38;

$titleSecondaryFontSize: 16;
$titleSecondaryFontSize_md: 18;
$titleSecondaryFontSize_xl: 24;
$titleSecondaryFontWeight: 600;

$titleInlineFontSize: 15;
$titleInlineFontSize_md: 16;
$titleInlineFontSize_xl: 20;
$titleInlineFontWeight: 700;

// ========================
// ========================

// $titlesConfig: (
//   (
//     selector: h1,
//     fontSizeXl: $titlePrimaryFontSize,
//     lineHeight: 1.2,
//   ),
//   (
//     selector: h2,
//     fontSizeXl: $titleRegularFontSize,
//   ),
//   (
//     selector: h3,
//     fontSize: $titleSecondaryFontSize,
//     fontSizeMd: $titleSecondaryFontSize_md,
//     fontSizeXl: $titleSecondaryFontSize_xl,
//     fontWeight: 600
//   ),
//   (
//     selector: h4,
//     fontSize: $titleInlineFontSize,
//     fontSizeMd: $titleInlineFontSize_md,
//     fontSizeXl: $titleInlineFontSize_xl,
//     lineHeight: 1.6,
//   )
// );