// ============================
// ============================

$fontColorPrimary: #000;
$fontColorPrimarySecond: #5A5252;
$fontColorSecondary: #fff;
$fontColorFirst: #919191;
$fontColorSecond: #DEDEE2;
$fontColorThird: #CBCBCB;
$fontColorFourth: #F5F5F5;
$fontColorFifth: #9D9A9A;
$fontColorWarning: #E30016;


// ============================
// ============================
// вывести классы хелперы при помощи итерации @each или @for