// FONTS VARISABLES AND VALUES
// ============================

$fontPrimary: 'Open Sans';
$fontPrimarySrc: '../fonts/open-sans/open-sans';

$fontSecondary: 'Merriweather';
$fontSecondarySrc: '../fonts/merriweather/merriweather';

$fontThird: 'Playfair Display';
$fontThirdSrc: '../fonts/playfair-display/playfair-display';

$fontsConfig: (
	(
		fontName: $fontPrimary,
		fontSrc: $fontPrimarySrc,
		fontConfig: (
			(weight: 300, style: normal),
			(weight: 300, style: italic),
			(weight: 400, style: normal),
			(weight: 400, style: italic),
			(weight: 600, style: normal),
			(weight: 600, style: italic),
			(weight: 700, style: normal),
			(weight: 700, style: italic),
			(weight: 800, style: normal),
			(weight: 800, style: italic)
		)
	),
	(
		fontName: $fontSecondary,
		fontSrc: $fontSecondarySrc,
		fontConfig: (
			(weight: 300, style: normal),
			(weight: 300, style: italic),
			(weight: 400, style: normal),
			(weight: 400, style: italic),
			(weight: 700, style: normal),
			(weight: 700, style: italic),
			(weight: 900, style: normal),
			(weight: 900, style: italic)
		)
	),
	(
		fontName: $fontThird,
		fontSrc: $fontThirdSrc,
		fontConfig: (
			(weight: 400, style: normal),
			(weight: 400, style: italic),
		)
	)
);

// ============================
// ============================