
// Настройка сетки

$containerWidth_xl: 1440px;
$columnIndents: 15px;
$negativeIndents: 15px;

// Брейкпойнты в медиавыражениях (ширина окна)

// $sm: $containerWidth_sm + 36px; //576
// $md: $containerWidth_md + 48px; //768
// $lg: $containerWidth_lg + 32px; //992
// $xl: $containerWidth_xl + 60px; //1200
$xxl: 1500px;


// Написать $each который будет декларировать миксины с медиавыражениями