// UI BACKGROUND VALUES
// =====================

$UIBackgroundPrimary: #F5F5F5;
$UIBackgroundSecondary: #fff;
$UIBackgroundThird: #000;
$UIBackgroundFourth: #cbcbcb;
$UIBackgroundFifth: #DEDDEB;
$UIBackgroundAttention: #E30016;
$UIBackgroundMain: #F3F3F3;
$UIBackgroundPaginate: #FCFCFC;
$UIBorderColorPaginate: #E8E8E8;

// =====================
// =====================