.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  // justify-content: center;
  &--height-auto {
    height: auto;
  }
  &--width-auto {
    width: auto;
		height: auto;
  }
}