.file {
	cursor: pointer;
	margin: 0;
	&--basic {
		&:hover {
			transform: scale(.9, .9);
		}
		.file__input {
			position: absolute;
			left: -999px;
			opacity: 0;
			visibility: hidden;
		}
		.file__icon-wrap {

		}
		.file__icon {
			font-size: 24px;
		}
	}
}