.map-stores {
	&--basic {
		position: relative;
		.map-stores__map-wrap {
			z-index: 1;
			max-width: 560px;
			margin: 30px auto 0;
			@include md() {
				max-width: 760px;
			}
			@include lg() {
				max-width: 960px;
				margin: -100px auto 0;
			}
			@include xl() {
				padding-bottom: 0;
			}
		}
		.map-stores__map {
			max-width: none;
			width: 560px;
			margin: 20px 0 40px;
			@include sm() {
			}
			@include md() {
				width: 100%;
				// width: 760px;
			}
			@include xl() {
				// width: 960px;
			}
		}
		.map-stores__map-link {
			position: absolute;
			top: 0;
			left: 0;
			padding: 10px;
			display: block;
			
			font-size: 30px;
			color: $fontColorPrimary;
			@include md() {
				font-size: 40px;
			}
			&:hover {
				color: $fontColorWarning;
				.map-stores__map-tooltip {
					opacity: 1;
					visibility: visible;
				}
			}
			&--district-1 {
				top: 42%;
				left: 74%;
				@include md() {
					top: 44%;
					left: 75%;
				}
			}
			&--district-2 {
				top: 47%;
				left: 90%;
				@include md() {
					top: 50%;
					left: 94%;
					.map-stores__map-tooltip {
						left: auto;
						right: 0;
						transform: translate(0, 15px);
					}
				}
			}
			&--district-3 {
				top: 56%;
				left: 44%;
				@include md() {
					top: 59%;
					left: 43%;
				}
			}
			&--district-4 {
				top: 50%;
				left: 86%;
				@include md() {
					top: 54%;
					left: 88%;
				}
			}
			&--district-5 {
				top: 53%;
				left: 64%;
				@include md() {
					top: 55%;
					left: 65%;
				}
			}
			&--district-6 {
				top: 44%;
				left: 84%;
				@include md() {
					top: 48%;
					left: 86%;
				}
			}
			&--district-7 {
				top: 32%;
				left: 43%;
				@include md() {
					top: 34%;
				}
			}
			&--district-8 {
				top: 67%;
				left: 55%;
				@include md() {
					top: 70%;
				}
			}
			&--district-9 {
				top: 57%;
				left: 56%;
				@include md() {
					top: 59%;
					left: 59%;
				}
			}
			&--district-10 {
				top: 50%;
				left: 71%;
				@include md() {
					top: 54%;
					left: 73%;
				}
			}
			&--district-11 {
				top: 75%;
				left: 62%;
				@include md() {
					top: 79%;
					left: 64%;
				}
			}
			&--district-12 {
				top: 43%;
				left: 78%;
				@include md() {
					top: 48%;
				}
			}
			&--district-13 {
				top: 39%;
				left: 24%;
				@include md() {
					top: 42%;
					left: 25%;
				}
			}
			&--district-14 {
				top: 16%;
				left: 11%;
				@include md() {
					top: 19%;
					left: 12%;
				}
			}
		}
		.map-stores__map-tooltip {
			display: none;
			@include md() {
				display: block;
				position: absolute;
				bottom: 100%;
				left: 50%;
				transform: translate(-50%, 15px);
				z-index: 999999;
	
				padding: 5px;
				border-radius: 5px;
	
				font-size: 16px;
				line-height: 1;
				color: $fontColorSecondary;
				white-space: nowrap;
				
				opacity: 0;
				visibility: hidden;
				background-color: $UIBackgroundThird;
			}
		}
		.map-stores__head {
			position: relative;
			z-index: 2;
			@include xl() {
				padding-left: 35px;
				padding-right: 35px;
			}
		}
		.map-stores__row-head {
			justify-content: flex-end;
		}
		.map-stores__column-head {
			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: -9999px;
				border-bottom: 1px solid $UIBackgroundFifth;
	
			}
		}
		.map-stores__row-head-in {
			@include sm() {
				flex-wrap: nowrap;
				margin-left: -50px;
				margin-right: -50px;
			}
		}
		.map-stores__column-head-in {
			flex-shrink: 0;
			margin-bottom: 15px;
			@include sm() {
				margin-bottom: 30px;
				padding-left: 50px;
				padding-right: 50px;
			}
		}
		.map-stores__card {
			position: relative;
			z-index: 3;
			margin-top: 30px;
			@include lg() {
				max-width: 540px;
				margin-top: -15%;
			}
			@include xl() {
				margin-top: -25%;
			}
		}
		.card-store__address {
			margin-bottom: 15px;
		}
	}
}