.collapse-btn {
  display: inline-flex;
  align-items: center;
  .svg-icon {
    flex-shrink: 0;
    transform: rotate(90deg);
    margin-left: 15px;
  }
}

.collapse {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  &.hidden {
    max-height: 0;
  }
}