.section {
	&--country-stores {
		background-color: $UIBackgroundSecondary;
		.section__indents {
			padding-top: 20px;
			padding-bottom: 20px;
			@include sm() {
				padding-top: 50px;
				padding-bottom: 0;
				flex-grow: 1;
			}
			@include xl() {
				padding-top: 3%;
			}
		}
		.section__background {
			display: none;
			@include sm() {
				display: block;
				// z-index: 999;
				background-position: 50% 180px;
				background-size: 500px 500px;
			}
			@include xl() {
				background-position: 50% 230px;
				background-size: 750px 750px;
			}
		}
		.section__title {
			@include md() {
				margin-bottom: 120px;
			}
		}
		.section__row {
			flex-direction: column;
			@include sm() {
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;
			}
		}
		.section__column {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			
			
			flex-grow: 0;
			flex-shrink: 0;
			@include sm() {
				min-height: 450px;
			}
			&--img {
				flex-grow: 1;
				flex-shrink: 1;
				background-position: 50% 50%;
				background-size: contain;
				background-attachment: fixed;
				background-repeat: no-repeat;
				min-height: 750px;
				
			}
		}
		.section__column-item {
			margin: 20px 0;
			// &:first-child {
			// 	margin-top: 150px;
			// }
			// &:last-child {
			// 	margin-bottom: 150px;
			// }
		}
		.section__video {
			position: absolute;
			width: 80%;
			height: 80%;
			left: 50%;
			top: 60%;
			transform: translate(-50%, -50%);
			@media screen and (max-width: 767px) {
				top: 45%;
			}
		}
		video {
			width: 100%;
			height: 100%;
		}
	}
}