<div class="section section--country-stores">
	<div class="section__background">
		<video
			class="section__video"
			autoplay
			loop
			preload="metadata"
			playsinline
			muted
			id="video-map">
			<p class="vjs-no-js">
				To view this video please enable JavaScript, and consider upgrading to a
				web browser that
				<a href="https://videojs.com/html5-video-support/" target="_blank">
					supports HTML5 video
				</a>
			</p>
		</video>
		<script>
				var srcMap,
						isMobileMap = window.innerWidth <= 720,
						isTabletMap = window.innerWidth > 720 && window.innerWidth <= 1280,
						isDesktopMap = window.innerWidth > 1280;

				if(isMobileMap) {
					src = 'video/map/480p/map480p.m3u8'
				} else if(isTabletMap) {
					src = 'video/map/720p/map720p.m3u8'
				} else if(isDesktopMap) {
					src = 'video/map/1080p/map1080p.m3u8'
				}
				var promo_player_map = document.getElementById('video-map'),
						source_map = document.createElement('source');
				source_map.setAttribute('src', src)
				source_map.setAttribute('type', 'application/x-mpegURL');

				promo_player_map.appendChild(source_map)
		</script>
	</div>

	<div class="section__in">
		<div class="section__scroll-container swiper-container" data-full-page-scroller>
			<div class="section__scroll-wrapper swiper-wrapper">
				<div class="section__scroll-slide swiper-slide swiper-slide--height-auto">
					<div class="section__indents">
						<div class="section__container container">
							<div class="section__title text-center">
								<h2>Chain stores across the country</h2>
							</div>
							<div class="section__row row">
								<div class="section__column column">
									<div class="section__column-item text-center">
										<div class="title-main font-color-warning">34</div>
										<div class="title-secondary font-color-first">outlets</div>
									</div>
									<div class="section__column-item text-center">
										<div class="title-main font-color-warning">1 243</div>
										<div class="title-secondary font-color-first">employees on sale</div>
									</div>
								</div>
								<div class="section__column column">
									<div class="section__column-item text-center">
										<div class="title-main font-color-warning">1500+</div>
										<div class="title-secondary font-color-first">items</div>
									</div>
									<div class="section__column-item text-center">
										<div class="title-main font-color-warning">1 243 m²</div>
										<div class="title-secondary font-color-first">warehouse capacity</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-scrollbar--section swiper-scrollbar"></div>
		</div>
	</div>
</div>

