.card {
  background-color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.card__in {
  display: flex;
  flex-direction: column;
  border: 1px solid $UIBackgroundFifth;
  padding: 25px 15px 2%;
  @include lg() {
    min-height: 570px;
    padding: 4% 25px 5%;
  }
}

.card__margin-bottom {
  margin-bottom: 3%;
  &--large {
    margin-bottom: 8%;
  }
}

.card__button {
  max-width: 160px;
  margin: 0 auto;
  .button {
    width: 100%;
  }
}

.card__devider {
  padding-top: 15px;
  margin-top: auto;
  margin-bottom: 6.5%;
}

// .card__body {
//   margin-top: auto;
//   margin-bottom: auto;
//   padding: 25px 0 40px;
// }

// .card__title {
//   margin-bottom: 25px;
//   @include lg() {
//     margin-bottom: 6%;
//   }
//   .title-regular {
//     margin-bottom: 2.5%;
//   }
// }

// .card__body-foot {
//   .title-secondary {
//     margin-bottom: 15px;
//     @include lg() {
//       margin-bottom: 3%;
//     }
//   }
// }

// .card__foot {
//   display: flex;
//   flex-direction: column;
//   border-top: 1px solid $UIBackgroundFifth;
//   margin-top: auto;
// }
// .card__foot-in {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   width: 100%;
//   padding: 20px 0 0;
//   @include sm() {
//     padding: 20px;
//   }
//   @include lg() {
//     min-height: 115px;
//     padding: 10px 10px 0 10px;
//   }
// }

.card__foot-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include lg() {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
}

.card__foot-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  @include lg() {
    margin-bottom: 0;
  }
  &--devider {
    width: 180px;
    margin: 5px 0 15px;
    @include sm() {
      width: 30%;
    }
    @include lg() {
      margin-bottom: 0;
      width: auto;
    }
  }
  .title-inline {
		margin-bottom: 10px;
		@include lg() {
			margin-bottom: 0;
		}
  }
}

.card__foot-lang {

}

.card__switch-row {
  flex-direction: column;
  align-items: center;
  margin-left: -8px;
  margin-right: -8px;
 @media (min-width: 375px) {
   flex-direction: row;
 }
}

.card__switch-column {
  margin-bottom: 10px;
  padding-left: 8px;
	padding-right: 8px;
	line-height: 1;
  @include lg() {
    margin-bottom: 0;
  }
}