.text {
	font-size: $textFontSize / $htmlFontSizeXL + rem;
	line-height: $textLineHeight;
	@include md() {
		font-size: $textFontSizeMD / $htmlFontSizeXL + rem;
	}
	@include xl() {
		font-size: $textFontSizeXL / $htmlFontSizeXL + rem;
	}
}