<div class="guide-section" id="text">
  <h2>Text</h2>
  <hr>
  <div style="padding: 20px 0;">
    <div class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi, suscipit!</div>
  </div>
  <hr>
  <pre>
    <code>
      &lt;div class="text"&gt;
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, illo?
      &lt;/div&gt;
    </code>
  </pre>
</div>