.select-secondary {
	background-color: black;
	&--basic {
		& + .select2 {
			width: 100% !important;
			.select2-selection__placeholder, .select2-selection__rendered {
				color: $fontColorPrimarySecond;
				text-transform: uppercase;
				letter-spacing: 1px;
			}
			.select2-selection {
				padding: 13px 15px;
				height: 52px;
				border: none;
				border-bottom: 2px solid $UIBackgroundFifth;
			}
			.select2-selection__arrow {
				top: 0;
				width: 30px;
				height: 51px;
				// width: 52px;
			}
		}
	}
}
.select2-search__field {
	&:focus {
		outline: none !important;
	}
}
.select2-results__option {
	color: $fontColorPrimarySecond;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 10px 20px;
	&.select2-results__option--selectable {
		// color: $fontColorWarning;
	}
}