.form {
	&--basic {
		.form-row {

		}
		.form-group {
			width: 100%;
			margin-bottom: 25px;
			@include sm() {
				max-width: 50%;
				flex: 0 0 50%;
			}
			&--full-width {
				max-width: 100%;
				flex: 0 0 100%;
				padding-top: 5px;
			}
		}
		.button {
			width: 100%;
		}
		.form__succes {
			font-weight: 600;
			text-align: center;
			max-width: 615px;
			margin: 0 auto;
			color: $fontColorFirst;
		}
	}
}

.form-control {
	width: 100%;
	display: block;
	border: none;
	border-bottom: 2px solid $UIBackgroundFifth;
	padding: 0 20px 10px;
	background-color: transparent;

	@include iph() {
		letter-spacing: 1px;
		line-height: 1;
		text-transform: uppercase;
		color: $fontColorSecond;
		transition: linear .1s;
	}
	&:focus {
		outline: none;
		@include iph() {
			opacity: 0;
			visibility: hidden;
		}
	}

}