.svg-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
  fill: currentColor;
  &--size {
    &-sm {
      font-size: 18px;
    }
    &-md {
      font-size: 24px;
    }
    &-lg {
      font-size: 26px;
    }
    &-xl {
      font-size: 28px;
    }
    &-extra {
      font-size: 84px;
      height: 20px;
    }
  }
	&--rotate-90 {
		transform: rotate(90deg);
	}
	&--rotate-180 {
		transform: rotate(180deg);
	}
}