<div class="preloader" data-preloader>
  <div class="preloader__in">
    <div class="preloader__frame">
      <img class="preloader__logo-txt" src="img/logo-txt.svg" alt="">
      <div class="preloader__layers-wrap">
        <div class="preload__layer preloader__layer--secondary" style="background-image: url('img/preloader/layer-red-dark.svg')">&nbsp;</div>
        <div class="preload__layer preloader__layer--primary" style="background-image: url('img/preloader/layer-red.svg')">&nbsp;</div>
      </div>
    </div>
  </div>
</div>