<div class="section section--career" id="career">
  <div class="section__in">
    <div class="section__scroll-container swiper-container" data-full-page-scroller>
      <div class="section__scroll-wrapper swiper-wrapper">
        <div class="section__scroll-slide swiper-slide swiper-slide--height-auto">
          <div class="section__content content-section content-section--basic">
            <div class="content-section__img-wrap">
              <div class="content-section__img" style="background-image: url('./img/content/career.jpg')" alt="">&nbsp;</div>
            </div>
            <div class="content-section__container container">
              <div class="content-section__row row">
                <div class="content-section__column column">
                  <div class="content-section__content">
                    <h2>Career</h2>
                    <h4>The significance of these problems is so obvious that the further development of various forms of activity provides a wide range of (specialists) participation in the formation of new proposals.
                      Thus, the implementation of the planned targets makes it possible to assess the value of new proposals.
                    </h4>
                    <br><br>
                    <h3>Duties:</h3>
                    <h4>- Help people when choosing a product, give advice on the range and features of the product. <br>
                      - Monitor the sufficient availability of goods in the trading floor and the expiration date. <br>
                      - Monitor the presence of price tags, the correct placement of goods. <br>
                      - Track consumer demand. <br>
                      - Keeping cash records. <br>
                      - Acceptance and delivery of cash. <br>
                    </h4>
                  </div>
                  <div class="content-section__stat stat-data">
                    <div class="stat-data__row row">
                      <div class="column">
                        <div class="text-center">
                          <div class="title-main font-weight-semi font-color-warning">1090</div>
                          <div class="title-inline font-color-primary-second">employees</div>
                        </div>
                      </div>
                      <div class="column">
                        <div class="text-center">
                          <div class="title-main font-weight-semi font-color-warning">33</div>
                          <div class="title-inline font-color-primary-second">outlets</div>
                        </div>
                      </div>
                      <div class="column">
                        <div class="text-center">
                          <div class="title-main font-weight-semi font-color-warning">8</div>
                          <div class="title-inline font-color-primary-second">regions</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-scrollbar--section swiper-scrollbar"></div>
    </div>
  </div>
</div>

