.section {
	&--presentation {
		.section__in {
			&:before {
				@include lg() {
					content: '';
					position: absolute;
					right: 0;
					top: 0;
					bottom: 0;
					left: 54%;
	
					background-color: $UIBackgroundSecondary;
				}
			}
		}
		h2 {
			margin-bottom: 10px;
			@include sm() {
				margin-bottom: 30px;
			}
			@include xl() {
				margin-bottom: 80px;
			}
		}
		.section__row {
			align-items: center;
		}
		.section__column {
			width: 100%;
			margin-bottom: 40px;
			@include lg() {
				margin-bottom: 0;
			}
			&--list {
				text-align: center;
				@include lg() {
					text-align: left;
					max-width: 41%;
					flex: 0 0 41%;
				}
			}
			&--presentation {
				text-align: center;
				min-height: 470px;
				@include lg() {
					min-height: 650px;
				}
				.pdfemb-viewer {
					height: 470px !important;
					@include lg() {
						height: 650px !important;
					}
				}
				@include lg() {
					text-align: left;
					max-width: 59%;
					flex: 0 0 59%;
				}
			}
		}
		.list--presentation {
			max-width: 450px;
			margin: 0 auto;
			li {
				justify-content: center;
				@include lg() {
					justify-content: flex-start;
				}
			}
			@include lg() {
				margin: 0;
			}
		}
	}
}