<div class="section section--presentation">
	<div class="section__in">
		<div class="section__scroll-container swiper-container" data-full-page-scroller>
			<div class="section__scroll-wrapper swiper-wrapper">
				<div class="section__scroll-slide swiper-slide swiper-slide--height-auto">
					<div class="section__indents">
						<div class="section__container container">
							<div class="section__row row">
								<div class="section__column section__column--list column">
									<h2>Presentation</h2>
									<ul class="list list--presentation list-clear">
										<li>
											<a class="file file--basic" href="#">
												<!-- <input class="file__input" type="file" name="" id=""> -->
												<span class="file__icon-wrap">
													<svg class='file__icon svg-icon'>
														<use xlink:href='img/svgSprite.svg#file'></use>
													</svg>
												</span>
											</a>
											<a href="#">
												<span class="title-secondary">Our business tactics</span>
											</a>
										</li>
										<li>
											<a class="file file--basic" href="#">
												<!-- <input class="file__input" type="file" name="" id=""> -->
												<span class="file__icon-wrap">
													<svg class='file__icon svg-icon'>
														<use xlink:href='img/svgSprite.svg#file'></use>
													</svg>
												</span>
											</a>
											<a href="#">
												<span class="title-secondary">Second presentation</span>
											</a>
										</li>
										<li>
											<a class="file file--basic" href="#">
												<!-- <input class="file__input" type="file" name="" id=""> -->
												<span class="file__icon-wrap">
													<svg class='file__icon svg-icon'>
														<use xlink:href='img/svgSprite.svg#file'></use>
													</svg>
												</span>
											</a>
											<a href="#">
												<span class="title-secondary">Third presentation</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="section__column section__column--presentation column" data-presentation>
									<img src="img/presentation.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-scrollbar--section swiper-scrollbar"></div>
		</div>
	</div>
</div>