<div class="section section--front-side-secondary" id="front-side-about-bussines">
	<div class="section__in">
		<div class="section__scroll-container swiper-container" data-full-page-scroller>
			<div class="section__scroll-wrapper swiper-wrapper">
				<div class="section__scroll-slide swiper-slide swiper-slide--height-auto">
					<div class="section__main-wrap" data-front-side-animation>
						<div class="section__container container font-color-secondary">
							<div class="section__background" style="background-image: url('./img/sections-bg/front-side-inner.jpg');">&nbsp;</div>
							<div class="section__content">
								<div class="section__content-in">
									<div class="section__content-animated-primary">
										<div class="title-inline dash">about</div>
										<h1>Our business</h1>
										<div>LEGION is a leader in the Uzbek market for the distribution of elite alcohol from all over the world. Also a manufacturer of Russian brands in Uzbekistan under license agreements. Modern technologies for filtration of alcohols, unique methods of additional cascade polishing filtration of finished products make it possible to create high quality alcoholic beverages.</div>
									</div>
									<div class="section__content-animated-secondary" id="content-secondary">
										<div class="section__row-content-primary row">
											<div class="section__column-content-primary column">
												<h2>We create seamless interactions between business and people</h2>
											</div>
											<div class="section__column-content-primary column">
												For 20 years, we have rapidly traversed the path on which businesses often spend many decades.
												Today we proudly speak of ourselves as one of the market leaders,
												a global innovative company that boldly goes to experiments;
												about a company striving to create the best corporate culture in the industry.
											</div>
										</div>
										<div class="section__row-content-secondary row">
											<div class="section__column-content-secondary column">
												<div class="title-inline">We have rapidly traversed the path on which businesses often spend many decades. </div>
											</div>
											<div class="section__column-content-secondary section__column-content-secondary--years column">
												<div class="section__column-in">
													<!-- <img src="img/content/14-years.svg" alt=""> -->
													<div class="title-years">17</div>
													<div class="title-secondary font-color-warning">лет на рынке <br> Узбекистана</div>
												</div>
											</div>
											<div class="section__column-content-secondary column">
												<div class="title-inline">Today we proudly speak of ourselves as one of the market leaders, a global innovative company that boldly goes to experiment</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="section__rhombus-lines">
							<div class="rhombus">&nbsp;</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-scrollbar--section swiper-scrollbar"></div>
		</div>
	</div>
</div>