.section {
	&--advantages {
		background-color: $UIBackgroundThird;
		.section__indents {
			padding-top: 0;
			padding-bottom: 0;
			flex-grow: 1;

			display: flex;
			flex-direction: column;
		}
		.section__row {
			margin-left: 0;
			margin-right: 0;
			flex-grow: 1;
		}
		.section__column {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			@include md() {
				max-width: 50%;
				flex: 0 0 50%;
			}
			@include xl() {
				max-width: 33.3%;
				flex: 0 0 33.3%;
			}
			@include xl() {

			}
			&:nth-child(even) {
				@include md() {
					.advantage {
						flex-direction: column-reverse;
					}
				}
			}
		}
		.section__column-item {
			border: 1px solid rgba($UIBackgroundFourth, .3);
			flex-grow: 1;
		}
	}
}


.advantage {
	&--basic {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		background-color: $UIBackgroundThird;
		// color: $fontColorSecondary;
		.advantage__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			@include md() {
				height: 100%;
				max-height: 50%;
				flex: 0 0 50%;
			}
		}
		.advantage__img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
		.advantage__content {
			padding: 50px 20px;
			@include sm() {
				// max-width: 300px;
			}
			@include md() {
				max-width: 380px;
				padding: 30px 20px;
			}
		}
		.advantage__devider {
			border: none;
			border-top: 1px solid rgba(#fff, .2);
			margin: 15px 0;
			@include xl() {
				margin: 30px 0;
			}
		}
	}
	&--values {
		
		.advantage__row {
			flex-wrap: nowrap;
		}
		.advantage__column {
			
			&--img {
				flex-shrink: 0;
				padding-right: 30px;
			}
			&--content {
				
			}
		}
		.advantage__title {
			margin-bottom: 10px;
			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 1px;
				height: 15px;
				background-color: $UIBackgroundAttention;
				transform: rotate(-45deg);
				position: relative;
				left: -15px;
				top: -2px;
			}
		}
		.advantage__text {

		}
		.advantage__img {
			width: 62px;
			height: 62px;
		}
	}
}
