<div class="section section--advantages">
	<!-- <div class="section__background" style="background-image: url('img/sections-bg/world.png');">&nbsp;</div> -->
	<div class="section__in">
		<div class="section__scroll-container swiper-container" data-full-page-scroller>
			<div class="section__scroll-wrapper swiper-wrapper">
				<div class="section__scroll-slide swiper-slide swiper-slide--height-auto">
					<div class="section__indents">
						
						<div class="section__row row">
							<div class="section__column column">
								<div class="advantage advantage--basic">
									<div class="advantage__item">
										<img class="advantage__img" src="img/content/advantages/advantage-1.jpg" alt="">
									</div>
									<div class="advantage__item">
										<div class="advantage__content font-color-secondary">
											<div class="title-regular">10+ types of products</div>
											<hr class="advantage__devider devider">
											<div class="title-secondary">with quality certificates, in accordance with all standards</div>
										</div>
									</div>
								</div>
							</div>
							<div class="section__column column">
								<div class="advantage advantage--basic">
									<div class="advantage__item">
										<img class="advantage__img" src="img/content/advantages/advantage-2.jpg" alt="">
									</div>
									<div class="advantage__item">
										<div class="advantage__content font-color-secondary">
											<div class="title-regular">10+ types of products</div>
											<hr class="advantage__devider devider">
											<div class="title-secondary">with quality certificates, in accordance with all standards</div>
										</div>
									</div>
								</div>
							</div>
							<div class="section__column column">
								<div class="advantage advantage--basic">
									<div class="advantage__item">
										<img class="advantage__img" src="img/content/advantages/advantage-3.jpg" alt="">
									</div>
									<div class="advantage__item">
										<div class="advantage__content font-color-secondary">
											<div class="title-regular">10+ types of products</div>
											<hr class="advantage__devider devider">
											<div class="title-secondary">with quality certificates, in accordance with all standards</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					
					</div>
				</div>
			</div>
			<div class="swiper-scrollbar--section swiper-scrollbar"></div>
		</div>
	</div>
</div>

