.switch {
	position: relative;
  width: 60px;
  height: 30px;
  padding: 4px;
  border: 1px solid #DCE1E9;
  border-radius: 59px;
	margin: 0;

	background: #F5F6FA;
}

// .switch__row {
//   flex-direction: column;
//   align-items: center;
//   margin-left: -8px;
//   margin-right: -8px;
//   @include lg() {
//     flex-direction: row;
//   }
// }

// .switch__column {
//   margin-bottom: 10px;
//   padding-left: 8px;
//   padding-right: 8px;
//   @include lg() {
//     margin-bottom: 0;
//   }
// }

.switch__input {
  &:checked {
    & + .switch__slider {
			left: 4px;
			right: auto;
		}
  }
}

// .switch__pseudo {
//   position: relative;
//   width: 60px;
//   height: 30px;
//   padding: 4px;
//   border: 1px solid #DCE1E9;
//   border-radius: 59px;
  
//   background: #F5F6FA;
// }

.switch__slider {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translate(0, -50%);
  border: 1px solid #DCE1E9;
  width: 22px;
  height: 22px;
  
  border-radius: 50%;
  background: $UIBackgroundAttention;
	transition: linear .1s;
	font-size: 0;
}