<div class="section section--article-culture" id="culture">
  <div class="section__in">
    <div class="section__scroll-container swiper-container" data-full-page-scroller>
      <div class="section__scroll-wrapper swiper-wrapper">
        <div class="section__scroll-slide swiper-slide swiper-slide--height-auto">
          <div class="section__indents">
            <div class="section__content content-section content-section--basic content-section--basic-secondary content-section--basic-columns-reverse">
              <div class="content-section__img-wrap">
                <div class="content-section__img" style="background-image: url('./img/article-culture.jpg')">&nbsp;</div>
              </div>
              <div class="content-section__container container">
                <div class="content-section__row row">
                  <div class="content-section__column column">
                    <div class="content-section__content">
                      <h2>
                        What cultural initiatives we undertake
                        <span>inside and outside the company</span>
                      </h2>
                      <p>An important area of ​​the BELUGA GROUP's activity is the support of socially significant projects.
                        One of them is the Zarya Center for Contemporary Art in Vladivostok,
                        a non-profit structure created to promote the best achievements of contemporary culture in Russia and the world in Vladivostok,
                        as well as to support young artists and the professional art community.
                      </p>
                      <p>
                        The Center acts as an independent platform 
                        for the development of creative ideas through effective interaction with the world's 
                        leading professionals in the field of contemporary art,
                        design, architecture, cinema, literature, theater, music and new media.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-scrollbar--section swiper-scrollbar"></div>
    </div>
  </div>
</div>

