.footer {
  background-color: $UIBackgroundThird;
}

.footer__primary {
	padding: 20px 0;
	position: relative;
	z-index: 2;
  @media screen and (min-width: $xxl) {
    padding-top: 30px;
    padding-bottom: 40px;
  };
}

.footer__container {

}
.footer__row {
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: $xxl) {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  };
}
.footer__column {
  flex-grow: 1;
  &--primary {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    @media screen and (min-width: $xxl) {
      text-align: left;
      max-width: 330px;
      flex: 0 0 330px;
      padding-right: 5%;
      margin-bottom: 0;
    };
  }
}
.footer__row-menu {
  // flex-direction: column;
  // justify-content: space-between;
  justify-content: center;
  @media screen and (min-width: $xxl) {
    justify-content: space-between;
    // flex-direction: row;
  }
  @media screen and (max-width: $xxl - 1) {
    margin-left: 0;
		margin-right: 0;
  }
}
.footer__column-menu {
  // margin-bottom: 15px;
  @media screen and (min-width: $xxl) {
    width: 100%;
    max-width: 19.5%;
    flex: 0 0 19.5%;
  }
  @media screen and (max-width: $xxl - 1) {
    padding-left: 0;
		padding-right: 0;
  }
  &--first {
    @media screen and (min-width: $xxl) {
      max-width: 22%;
      flex: 0 0 22%;
    }
    @media screen and (min-width: $xxl) {

    };
  }
  &--second {
  }
  &--third {
  }
  &--fourth {
  }
  &--fifth {
  }
  &--sixth {
  }
}

.footer__logo {
  display: block;
  margin-bottom: 10px;
  @media screen and (min-width: $xxl) {
    margin-bottom: 20px;
  };
}

.footer__dropdown {
  position: relative;
  @media screen and (max-width: $xxl - 1) {
    &:hover {
      .footer__dropdown-btn {
				background-color: $UIBackgroundAttention;
				color: $fontColorSecondary;
        .svg-icon {
          transform: rotate(-90deg);
        }
      }
      .footer__dropdown-drop {
        opacity: 1;
        visibility: visible;
      };
    }
  }
}

.footer__dropdown-btn {
  display: inline-flex;
  align-items: center;
  @media screen and (min-width: $xxl) {
    margin-bottom: 15px;
  };
  @media screen and (max-width: $xxl - 1) {
    cursor: pointer;
		padding: 10px;
  };
  .svg-icon {
    flex-shrink: 0;
    transform: rotate(90deg);
    margin-left: 15px;
    display: none;
    @media screen and (min-width: $xxl) {
      display: none;
    }
  }
  &.has-dropdown {
    .svg-icon {
      display: block;
      @media screen and (min-width: $xxl) {
        display: none;
      };
    }
  }
}
.footer__dropdown-drop {
  left: 0;
  @media screen and (max-width: $xxl - 1) {
    position: absolute;
    bottom: 100%;
		z-index: 999;
    
    padding: 15px 10px;
    min-width: 200px;
    
    opacity: 0;
    visibility: hidden;
		background-color: $UIBackgroundAttention;
		color: $fontColorSecondary;
    @media screen and (min-width: 576px) {
      // left: 50%;
      // transform: translate(-50%, 0);
    };
  };
}
.footer__dropdown-item {
  margin-bottom: 5px;
}

.footer__secondary {
  border-top: 1px solid rgba(#fff, .1);
  padding: 20px 0;
}

.footer__row-secondary {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  @include md() {
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__column-align {
  text-align: center;
  @include md() {
    text-align: right;
  }
}