<footer class="footer font-color-secondary" data-footer>
  <div class="footer__primary">
    <div class="footer__container container">
      <div class="footer__row row">
        <div class="footer__column footer__column--primary column">
          <a class="footer__logo" href="#">
            <img src="img/logo.svg" alt="">
          </a>
          <small>Наша цель - построить прозрачный, долгосрочный бизнес, чтобы обеспечить удобство покупки и продажи товаров населению, решая глобальные проблемы.</small>
        </div>
        <div class="footer__column footer__column--secondary column">
          <div class="footer__row-menu row" id="footer-collapses">
            <div class="footer__column-menu footer__column-menu--first column">
              <div class="footer__dropdown" data-footer-dropdown>
                <div class="footer__dropdown-btn" data-footer-dropdown-btn>
                  <div class="title-inline">О легионе</div>
                  <svg class="svg-icon"><use xlink:href="img/svgSprite.svg#angle"></use></svg>
                </div>
                <div class="footer__dropdown-drop" data-footer-dropdown-drop>
                  <ul class="list-clear">
                    <li class="footer__dropdown-item"><a class="font-color-secondary text-decoration-none" href="#">Наша история</a></li>
                    <li class="footer__dropdown-item"><a class="font-color-secondary text-decoration-none" href="#">Наша команда</a></li>
                    <li class="footer__dropdown-item"><a class="font-color-secondary text-decoration-none" href="#">Ценности и цели</a></li>
                    <li class="footer__dropdown-item"><a class="font-color-secondary text-decoration-none" href="#">Корпоративная культура</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer__column-menu footer__column-menu--second column">
              <div class="footer__dropdown" data-footer-dropdown>
                <div class="footer__dropdown-btn" data-footer-dropdown-btn>
                  <div class="title-inline">Бренды</div>
                  <svg class="svg-icon"><use xlink:href="img/svgSprite.svg#angle"></use></svg>
                </div>
              </div>
            </div>
            <div class="footer__column-menu footer__column-menu--third column">
              <div class="footer__dropdown" data-footer-dropdown>
                <div class="footer__dropdown-btn" data-footer-dropdown-btn>
                  <div class="title-inline">Сеть магазинов</div>
                  <svg class="svg-icon"><use xlink:href="img/svgSprite.svg#angle"></use></svg>
                </div>
              </div>
            </div>
            <div class="footer__column-menu footer__column-menu--fourth column">
              <div class="footer__dropdown" data-footer-dropdown>
                <div class="footer__dropdown-btn" data-footer-dropdown-btn>
                  <div class="title-inline">Для партнеров</div>
                  <svg class="svg-icon"><use xlink:href="img/svgSprite.svg#angle"></use></svg>
                </div>
                <div class="footer__dropdown-drop" data-footer-dropdown-drop>
                  <ul class="list-clear">
                    <li class="footer__dropdown-item"><a class="font-color-secondary text-decoration-none" href="#">Магазины</a></li>
                    <li class="footer__dropdown-item"><a class="font-color-secondary text-decoration-none" href="#">Презентации</a></li>
                    <li class="footer__dropdown-item"><a class="font-color-secondary text-decoration-none" href="#">Контакты</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer__column-menu footer__column-menu--fifth column">
              <div class="footer__dropdown" data-footer-dropdown>
                <div class="footer__dropdown-btn" data-footer-dropdown-btn>
                  <div class="title-inline">Карьера</div>
                  <svg class="svg-icon"><use xlink:href="img/svgSprite.svg#angle"></use></svg>
                </div>
                <div class="footer__dropdown-drop" data-footer-dropdown-drop>
                  <ul class="list-clear">
                    <li class="footer__dropdown-item"><a class="font-color-secondary text-decoration-none" href="#">Открытые вакансии</a></li>
                    <li class="footer__dropdown-item"><a class="font-color-secondary text-decoration-none" href="#">Для соискателей</a></li>
                    <li class="footer__dropdown-item"><a class="font-color-secondary text-decoration-none" href="#">Контакты</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer__column-menu footer__column-menu--sixth column">
              <div class="footer__dropdown" data-footer-dropdown>
                <div class="footer__dropdown-btn" data-footer-dropdown-btn>
                  <div class="title-inline">О нашем бизнесе</div>
                  <svg class="svg-icon"><use xlink:href="img/svgSprite.svg#angle"></use></svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__secondary">
    <div class="footer__container-secondary container">
      <div class="footer__row-secondary row">
        <div class="footer__column-secondary column">
          <div><small>© 2020 ООО «Группа Легион»</small></div>
          <div><small>Все права защищены. легальная информация</small></div>
        </div>
        <div class="footer__column-secondary column">
          <div class="footer__column-align">
            <div><small><a class="font-color-secondary text-decoration-none" href="tel:+998711234567">(+998 71) 123 4567</a>, <a class="font-color-secondary text-decoration-none" href="tel:+998711234566">(+998 71) 123 4566</a></small></div>
            <div><small>100020, Узбекистан, г.Ташкент, ул. Ташкент, 4, корпус 1</small></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>