.section {
	&--footer-contacts {
		background-color: $UIBackgroundSecondary;
		.section__row {
			
		}
		.section__column {
			width: 100%;
			margin-bottom: 30px;
			@include md() {
				margin-bottom: 0;
				max-width: 50%;
				flex: 0 0 50%;
			}
		}
		.section__contacts {
			max-width: 525px;
		}
		.section__title {
			margin-bottom: 25px;
		}
		.section__title-sub {
			margin-bottom: 40px;
		}
		.section__socials-list {
			max-width: 270px;
		}
	}
}