<div class="section section--footer-contacts">
	<div class="section__in">
		<div class="section__scroll-container swiper-container" data-full-page-scroller>
			<div class="section__scroll-wrapper swiper-wrapper">
				<div class="section__scroll-slide swiper-slide swiper-slide--height-auto">
					<div class="section__indents">
						<div class="section__container container">
							<div class="section__row row">
								<div class="section__column column">
									<div class="section__contacts">
										<div class="section__title">
											<h2>Остались вопросы?</h2>
										</div>
										<div class="section__title-sub">
											<div class="title-inline">
												<div class="title-inline__txt">Заполните форму и мы обязательно с вами свяжемся</div>
												<a class="text-decoration-none font-color-primary" href="tel:+998712345464">+ 998 71 234 5464</a> | <a class="text-decoration-none font-color-primary" href="mailto:info@legion.uz">info@legion.uz</a>
											</div>
										</div>
										<div class="section__socials-list socials-list socials-list--basic">
											<div class="socials-list__in row">
												<div class="socials-list__item column">
													<a class="socials-list__link socials-list__link--secondary" href="#">
														<img src="img/socials/fb.svg" width="50" alt="">
													</a>
												</div>
												<div class="socials-list__item column">
													<a class="socials-list__link socials-list__link--secondary" href="#">
														<img src="img/socials/vk.svg" width="50" alt="">
													</a>
												</div>
												<div class="socials-list__item column">
													<a class="socials-list__link socials-list__link--secondary" href="#">
														<img src="img/socials/tw.svg" width="50" alt="">
													</a>
												</div>
												<div class="socials-list__item column">
													<a class="socials-list__link socials-list__link--secondary" href="#">
														<img src="img/socials/tg.svg" width="50" alt="">
													</a>
												</div>
												<div class="socials-list__item column">
													<a class="socials-list__link socials-list__link--secondary" href="#">
														<img src="img/socials/insta.svg" width="50" alt="">
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="section__column column">
									<form class="form form--basic">
										<div class="form-row row">
											<div class="form-group column">
												<input class="form-control" type="text" placeholder="Имя">
											</div>
											<div class="form-group column">
												<input class="form-control" type="mail" placeholder="Email">
											</div>
											<div class="form-group column">
												<input class="form-control" type="tel" placeholder="Телефон">
											</div>
											<div class="form-group column">
												<input class="form-control" type="text" placeholder="Сообщение">
											</div>
											<div class="form-group column">
												<button class="button" type="submit">
													<span class="button__in">
														<span>Отправить сообщение</span>
													</span>
												</button>
											</div>
										</div>
										<div class="form__succes">
											<small>Нажимая на кнопку «Отправить», вы подтверждаете, что предоставляете Компании свое согласие на обработку ваших персональных данных.</small>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-scrollbar--section swiper-scrollbar"></div>
		</div>
	</div>
</div>