.popup {
	&--base {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;
		// align-items: center;
		// justify-content: center;
		padding: 15px;

		background-color: rgba(#fff, .7);

		opacity: 0;
		visibility: hidden;
		transition: linear .2s;

		overflow-y: auto;
		overflow-x: hidden;
		.popup__in {
			margin: auto;
			box-shadow: 0 0 36px 1px rgba(#000, .15);
			// width: 100%;
			// max-width: 280px;
			@include sm() {
				// max-width: 360px;
			}
			@include md() {
				width: 100%;
				max-width: 800px;
			}
		}
		&.active {
			opacity: 1;
			visibility: visible;
		}
	}
}