html, body {
	height: 100%;
	// overflow: hidden;
	// @include xl() {
	// 	height: 100%;
	// }
}
html {
	font-size: $UIRelativeValue + px;
	@include md() {
		font-size: $UIRelativeValue_md + px;
	}
	@include xl() {
		font-size: $UIRelativeValue_xl + px;
	}
}
body {
	font-family: $fontPrimary;
	font-size: $UIContentFontSize + px;
	line-height: $UIContentLineHeight;
	color: $fontColorPrimary;

	background-color: $UIBackgroundMain;
	@include md() {
		font-size: $UIContentFontSize_md + px;
	}
	@include xl() {
		font-size: $UIContentFontSize_xl + px;
	}
}

