.product-preview {
  &--basic {
    position: relative;
    z-index: 2;
    display: block;
    text-decoration: none;
		@include sm() {
			transition: linear .3s;
		}
    &:hover {
      .product-preview__in {
        // transform: scale(.9, .9);
      }
      .product-preview__img {
        &--basic {
          display: none;
        }
        &--hover {
          display: inline-block;
        }
      }
    }
    .product-preview__in {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 210px;
      height: 153px;
      padding: 20px;

      text-align: center;
      color: $fontColorPrimarySecond;

      background-color: $UIBackgroundSecondary;
			@include sm() {
				transition: linear .2s;
			}
    }
    .product-preview__img {
      max-width: 50px;
      max-height: 50px;
      margin-bottom: 25px;
			@include sm() {
				transition: linear .2s;
			}
      &--basic {

      }
      &--hover {
        display: none;
      }
      &--active {
        display: none;
      }
    }
    .product-preview__angle {
      // display: none;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0) rotate(45deg);
      margin-top: 35px;

      opacity: 0;
      visibility: hidden;
			@include sm() {
				transition: linear .3s;
			}
    }
  }
  &.active {
    .product-preview__in {
      background-color: $UIBackgroundAttention;
      color: $fontColorSecondary;
      // transform: scale(.9, .9);
    }
    .product-preview__img {
      &--basic {
        display: none;
      }
      &--hover {
        display: none;
      }
      &--active {
        display: inline-block;
      }
    }
    .product-preview__angle {
      opacity: 1;
      visibility: visible;
    }
  }
  &.disabled {
    opacity: 0.3;
  }
}

.product-preview-collapse {
  position: absolute;
  left: 0;
  right: 0;
  // background-color: #fff;
  // z-index: 999;
  opacity: 0;
  visibility: hidden;
	@include sm() {
		transition: .3s linear 0s;
	}
  &--basic {
    padding-top: 50px;
    margin-top: 20px;
    border-top: 1px solid $UIBackgroundFourth;
    .title-inline {
      margin-bottom: 40px;
    }
    .product-preview-collapse__row {
			justify-content: center;
			@include md() {
				justify-content: flex-start;
			}
    }
    .product-preview-collapse__column {
      margin-bottom: 30px;
    }
    .product-preview-collapse__img {
      width: 210px;
      height: 210px;
    }
  }
  &.show {
    opacity: 1;
    visibility: visible;
		@include sm() {
			transition: .2s linear .1s;
		}
  }
}