.link {
  display: inline-flex;
  flex-wrap: wrap;
  &:hover {
    text-decoration: none;
  }
  &--hover-long-arrow {
    &:hover {
      .svg-icon {
        animation: next 1.5s infinite;
      }
    }
  }
  &--hover-pulse {
    &:hover {
      .svg-icon {
        animation: pulse 1500ms infinite;
      }
    }
	}
	&--contact {
		letter-spacing: 1px;
	}
}

.link__in {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.link__icon {
  flex-shrink: 0;
  margin-right: 10px;
  &--arrow-long {
    margin-left: 60px;
  }
}
