.link-lang {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
	color: $fontColorThird;
	text-transform: uppercase;
  &:hover {
    color: $fontColorThird;
    text-decoration: underline;
  }
  &.current {
    color: $fontColorPrimarySecond;
		background-color: rgba($UIBackgroundFourth, .3);
		cursor: default;
    &:hover {
      text-decoration: none;
    }
	}
	&--secondary {
		color: $fontColorSecondary;
		letter-spacing: 1px;
		&:hover {
			color: $fontColorSecondary;
		}
		&.current {
			color: $fontColorSecondary;
			background-color: rgba($UIBackgroundFourth, .3);
			cursor: default;
			&:hover {
				text-decoration: none;
			}
		}
	}
	&--primary {
		color: $fontColorSecondary;
		&:hover {
			color: $fontColorSecondary;
		}
		&.current {
			background-color: rgba($UIBackgroundSecondary, .3);
			color: $fontColorSecondary;
		}
	}
}