<div class="guide-section" id="title">
	<h2>Titles</h2>

	<div>
		<hr>
		<div style="padding: 20px 0;">
			<div class="title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi, suscipit!</div>
		</div>
		<hr>
		<pre>
			<code>
				&lt;div class="title"&gt;
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, illo?
				&lt;/div&gt;
			</code>
		</pre>
	</div>
</div>