.section {
  &--front-side-contacts {
    .section__scroll-slide {
      justify-content: flex-start;
    }
    .section__map {
      width: 100%;
      min-height: 200px;
      max-height: 300px;
      @include xl() {
        max-height: 450px;
      }
      @media screen and (min-width: $xxl) {
        max-height: 500px;
      };
    }
		.section__map-wrap {
			min-height: 400px;
			@include xl() {
				min-height: 500px;
			}
		}
    .section__info {
      padding: 3% 0;
    }
    .section__title {
      margin-bottom: 15px;
    }
    .section__row {
      flex-direction: column;
      // align-items: center;
      @include lg() {
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: nowrap;
      }
    }
    .section__column {
      margin-bottom: 15px;
      @include lg() {
        margin-bottom: 0;
      }
      &--middle {
        @include lg() {
          width: 100%;
          max-width: 500px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    .section__row-secondary {
      @include lg() {
        flex-wrap: nowrap;
        justify-content: space-between;
      }
    }
    .section__column-secondary {

    }
    .section__contact-item {
      margin-bottom: 25px;
    }
    .section__contact-item-address {
      margin-bottom: 10px;
    }
    ul {
      li {
        margin-bottom: 5px;
      }
    }
  }
}