<div class="section section--front-side-contacts" id="front-side-contacts">
  <!-- <div class="section__background" style="background-image: url('./img/sections-bg/front-side.jpg');">&nbsp;</div> -->
  <div class="section__in">
    <div class="section__scroll-container swiper-container" data-full-page-scroller>
      <div class="section__scroll-wrapper swiper-wrapper">
        <div class="section__scroll-slide swiper-slide swiper-slide--height-auto">
          <div class="section__map-wrap">
            <div class="map map--basic">
							<div class="map__frame">
								<div class="map__frame-in" id="map"></div>
							</div>
						</div>
          </div>
          <div class="section__info">
            <div class="section__container container">
              <div class="section__row row">
                <div class="section__column column">
                  <div class="section__title title-inline">Social networks</div>
                  <div class="section__socials-list socials-list socials-list--secondary">
                    <div class="socials-list__in row">
                      <div class="socials-list__item column">
                        <a class="socials-list__link socials-list__link--secondary" href="#">
                          <img class="socials-list__icon" src="img/socials/fb.svg" width="50" alt="">
                          <div class="socials-list__txt">Facebook</div>
                        </a>
                      </div>
                      <div class="socials-list__item column">
                        <a class="socials-list__link socials-list__link--secondary" href="#">
                          <img class="socials-list__icon" src="img/socials/vk.svg" width="50" alt="">
                          <div class="socials-list__txt">Vkontakte</div>
                        </a>
                      </div>
                      <div class="socials-list__item column">
                        <a class="socials-list__link socials-list__link--secondary" href="#">
                          <img class="socials-list__icon" src="img/socials/tw.svg" width="50" alt="">
                          <div class="socials-list__txt">Twitter</div>
                        </a>
                      </div>
                      <div class="socials-list__item column">
                        <a class="socials-list__link socials-list__link--secondary" href="#">
                          <img class="socials-list__icon" src="img/socials/tg.svg" width="50" alt="">
                          <div class="socials-list__txt">Telegram</div>
                        </a>
                      </div>
                      <div class="socials-list__item column">
                        <a class="socials-list__link socials-list__link--secondary" href="#">
                          <img class="socials-list__icon" src="img/socials/insta.svg" width="50" alt="">
                          <div class="socials-list__txt">Instagram</div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="section__column section__column--middle column">
                  <div class="section__title title-inline">Details</div>
                  <div class="section__row-secondary row font-color-primary-second">
                    <div class="section__column-secondary column">
                      <ul class="list-clear">
                        <li>Legion Distributor LLC</li>
                        <li>TIN 12344545434</li>
                        <li>Checkpoint 213214542</li>
                        <li>OGRN 34343543534</li>
                        <li>OKPO 324234234</li>
                        <li>OKATO 24234324324</li>
                      </ul>
                    </div>
                    <div class="section__column-secondary column">
                      <ul class="list-clear">
                        <li>IPAKYULIBANK-BANK JSC</li>
                        <li>R / S 40702810601300013780</li>
                        <li>K / S 30101810200000000593</li>
                        <li>BIC 044525593</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="section__column column">
                  <div class="section__contact-item font-color-primary-second">
                    <div class="section__title title-inline">Adress</div>
                    <div class="section__contact-item-address">123456, Uzbekistan, Tashkent, 7-35</div>
                    <a class="link font-color-warning text-decoration-underline" href="#" data-direction-button>
                      <span class="link__in">
                        <span class="link__icon">
                          <img src="img/icons/arrow-primary.svg" alt="">
                        </span>
                        <span>build a route</span>
                      </span>
                    </a>
                  </div>
                  <div class="section__contact-item font-color-primary-second">
                    <div class="section__title title-inline">Phone number</div>
                    <div class="section__contact-item-address"><a href="tel:+998981234567">(+998 98) 123 4567</a> - number for work with consumers</div>
                    <div class="section__contact-item-address"><a href="tel:+998981234567">(+998 98) 123 4567</a> - number for work with partners</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-scrollbar--section swiper-scrollbar"></div>
    </div>
  </div>
</div>