.select {
	&--basic {
		display: inline-block;
		position: relative;
		&.active {
			.select__drop {
				opacity: 1;
				visibility: visible;
			}
		}
		.select__btn {
			display: flex;
			flex-wrap: nowrap;
			padding: 20px;

			background-color: $UIBackgroundSecondary;
			color: $fontColorWarning;

		}
		.select__btn-txt {
			flex-grow: 1;
		}
		.select__btn-icon {
			position: relative;
			top: 3px;
			flex-shrink: 0;
			margin-left: 10px;
			transform: rotate(90deg);
		}
		.select__drop {
			position: absolute;
			top: 100%;
			left: 0;

			width: 300px;
			height: 120px;
			overflow: hidden;
			border-top: 1px solid rgba($UIBackgroundThird, .1);
			// padding: 10px 0;

			color: $fontColorWarning;

			background-color: $UIBackgroundSecondary;
			opacity: 0;
			visibility: hidden;
			transition: linear .2s;
			@include md() {
				// height: 200px;
			}
		}
		.select__list-item {
			&:first-child {
				.select__list-link {
					padding-top: 20px;
				}		
			}
			&:last-child {
				.select__list-link {
					padding-bottom: 20px;
				}
			}
		}
		.select__list-link {
			display: block;
			padding: 20px;
			margin-right: 12px;
			text-decoration: none;
			&:hover {
				background-color: $UIBackgroundFourth;
				color: $fontColorSecondary;
			}
			&.active {
				background-color: $UIBackgroundAttention;
				color: $fontColorSecondary;
			}
		}
	}
	&--secondary {
		display: inline-block;
		position: relative;
		&.active {
			.select__drop {
				opacity: 1;
				visibility: visible;
			}
		}
		.select__btn {
			display: flex;
			flex-wrap: nowrap;
			padding: 17px 20px;
			border-bottom: 2px solid $UIBackgroundFifth;
			
			line-height: 1;
			text-transform: uppercase;
			color: $fontColorPrimarySecond;
			letter-spacing: 1px;
			
			background-color: $UIBackgroundSecondary;
			border-radius: 4px;
		}
		.select__btn-txt {
			flex-grow: 1;
		}
		.select__btn-icon {
			position: relative;
			top: 3px;
			flex-shrink: 0;
			margin-left: 10px;
			transform: rotate(90deg);
			font-size: 12px;
		}
		.select__drop {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 999;
			
			width: 100%;
			min-width: 300px;
			height: 200px;
			overflow: hidden;
			// border-top: 1px solid rgba($UIBackgroundThird, .1);
			// padding: 10px 0;

			// color: $fontColorWarning;

			background-color: $UIBackgroundSecondary;
			opacity: 0;
			visibility: hidden;
			transition: linear .2s;
			@include md() {
				// height: 200px;
			}
		}
		.select__list-item {
			// border-bottom: 2px solid $UIBackgroundFifth;
			margin-right: 12px;
			&:first-child {
				.select__list-link {
					padding-top: 20px;
				}		
			}
			&:last-child {
				// border-bottom-color: transparent;
				.select__list-link {
					padding-bottom: 20px;
				}
			}
		}
		.select__list-link {
			display: block;
			padding: 20px;

			line-height: 1;
			text-transform: uppercase;
			color: $fontColorPrimarySecond;
			letter-spacing: 1px;
			text-decoration: none;
			&:hover {
				background-color: $UIBackgroundFourth;
				color: $fontColorSecondary;
			}
			&.active {
				background-color: $UIBackgroundAttention;
				color: $fontColorSecondary;
			}
		}
	}
}