.section {
	&--founders {
		.section__indents {
			position: relative;
			flex-grow: 1;
			// min-height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 30px 0 0;
			@include xl() {
				padding: 30px 0;
			}
		}

		.section__container {
			position: static;
			width: 100%;
			flex-grow: 1;
			display: flex;
			flex-direction: column;
		}

		.section__row {
			flex-grow: 1;
		}

		.section__column {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			margin-bottom: 30px;
			@include xl() {
				margin-bottom: 0;
			}
			&--primary {
				// min-height: 100vh;
				display: flex;
				flex-direction: column;
				justify-content: center;
				@include xl() {
					// max-height   : 100vh;
					max-width: 65%;
					flex: 0 0 65%;
				}
			}

			&--secondary {
				// flex-grow: 1;
				margin-bottom: 0;
				@include xl() {
					position: absolute;
					right: 0;
					top: 0;
					bottom: 0;
					max-width: 35%;
					flex: 0 0 35%;
					// max-height: 100vh;
					// height: 100%;
				}
			}
		}
	}
}

.founders {
	&--basic {
		position: relative;
		padding: 15px 30px;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: -50px;
			bottom: 0;
			width: 100%;

			background-color: $UIBackgroundSecondary;
			@include md() {
				width: 70%;
			}
		}

		.founders__wrap {
			max-width: 992px;
			margin-left: auto;

			@media screen and (min-width: $xxl) {
			}
		}

		.founders__head {
		}

		.founders__row-head {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 20px;
			@include md() {
				padding-right: 50%;
				flex-direction: row;
				align-items: center;
			}
			@include lg() {
			}
			@include xl() {
				padding-right: 50%;
				flex-direction: row;
				align-items: center;
			}
		}

		.founders__column-head {
			&--links {
				@media screen and (min-width: $xxl) {
					margin-left: auto;
				}
			}
		}

		.founders__row-secondary {
		}

		.founders__column-secondary {
			margin-bottom: 15px;
		}

		.founders__item {
			opacity: 0;
			visibility: hidden;
			max-height: 0;
			max-width: 0;
			// display: none;
			// text-align: center;
			@include xl() {
				text-align: left;
			}
			&.active {
				opacity: 1;
				visibility: visible;
				max-height: 100%;
				max-width: 100%;
				// display: block;
				.founders__column-item {
					opacity: 1;
					visibility: visible;
					transform: translate(0, 0);
					transition: .3s linear 0s;
					&--img {
						opacity: 1;
						visibility: visible;
						transform: translate(0, 0);
						transition: .3s linear 0s;
					}
				}
			}
		}

		.founders__row-item {
			justify-content: center;
			@include md() {
				flex-wrap: nowrap;
			}
		}

		.founders__column-item {
			order: 2;
			@include md() {
				order: 1;
				padding-bottom: 220px;
				opacity: 0;
				visibility: hidden;
				transform: translate(-200px, 0);
			}
			&--img {
				order: 1;
				margin-bottom: 30px;
				@include md() {
					order: 2;
					flex-shrink: 0;
					top: -150px;
					padding-bottom: 0;
					margin-bottom: 0;
					transform: translate(-200px, 100px);
					opacity: 0;
					visibility: hidden;
					// transition: .5s linear .5s;
				}
			}
		}

		.founders__link {
			display: block;
			border: 10px solid transparent;
			border-radius: 50%;

			&.active {
				border-color: $UIBackgroundAttention;
			}
		}

		.founders__avatar {
			border-radius: 50%;
			width: 84px;
			height: 84px;
		}

		.founders__signature {
			@include md() {
				position: absolute;
				right: -50px;
				bottom: 0;
				max-width: 400px;
			}
			// text-align: right;
			// position  : relative;
			// right     : -100px;
		}

		.founders__img {
			@include md() {
				max-width: 350px;
			}
			@include lg() {
				max-width: 446px;
			}
			@include xl() {
				max-width: 350px;
			}
			@media screen and (min-width: $xxl) {
				max-width: 446px;
			}
		}

		.title-secondary {
			margin-bottom: 15px;
		}

		.title-regular {
			margin-bottom: 30px;
			@include lg() {
				margin-bottom: 65px;
			}
		}
	}
}

.menegement {
	&--basic {
		background-color: $UIBackgroundSecondary;

		.menegement__container {
		}

		.menegement__wrapper {
		}

		.menegement__slide {
		}
	}
}

.menegement-person {
	&--basic {
		padding: 5%;
		border-bottom: 1px solid rgba($UIBackgroundThird, 0.1);
		@include sm() {
			padding: 3% 5%;
		}
		@include xl() {
			padding: 5% 8%;
		}
		.menegement-person__row {
			flex-wrap: nowrap;
		}
		.menegement-person__column {
			&--avatar {
				flex-shrink: 0;
			}
			&--about {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				padding-right: 6%;

				color: $fontColorFirst;
			}
		}
		.menegement-person__img {
			border-radius: 50%;
			width: 124px;
			height: 124px;
		}

		.menegement-person__content {
			margin-top: auto;
			padding-top: 10px;
			margin-bottom: auto;
		}
	}
	&--basic-dark {
		border: none;
		border-bottom: 1px solid rgba($UIBackgroundFourth, .1);
		.menegement-person__column--about {
			color: $fontColorSecond;
		}
	}
}
