<div class="section section--founders">
	<!-- <div class="section__background" style="background-image: url('./img/sections-bg/front-side-history.jpg');">&nbsp;</div> -->
	<div class="section__in">
		
		<div class="section__scroll-container swiper-container" data-full-page-scroller>
			<div class="section__scroll-wrapper swiper-wrapper">
				<div class="section__scroll-slide swiper-slide swiper-slide--height-auto">
					<div class="section__indents">
						<div class="section__container column">
							<div class="section__row row">
								<div class="section__column section__column--primary column">
									<div class="founders founders--basic">
										<div class="founders__wrap">
											<div class="founders__head">
												<div class="founders__row-head row">
													<div class="founders__column-head column">
														<div class="title-secondary">Founders</div>
													</div>
													<div class="founders__column-head founders__column-head--links column">
														<div class="founders__row-secondary row">
															<div class="founders__column-secondary column">
																<a class="founders__link active" href="#" data-founder-toggle data-target="#founder-1">
																	<img class="founders__avatar" src="img/founder-1.png" alt="">
																</a>
															</div>
															<div class="founders__column-secondary column">
																<a class="founders__link" href="#" data-founder-toggle data-target="#founder-2">
																	<img class="founders__avatar" src="img/founder-2.png" alt="">
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="founders__frame" data-founder-frame>
												<div class="founders__item active" id="founder-1">
													<div class="founders__row-item row">
														<div class="founders__column-item column">
															<div class="title-regular font-color-warning">James Jameson</div>
															<div>He is one of the founders and the permanent leader of the largest private Uzbek alcohol company.
																He is responsible for the management and strategic development of the company. Has over 20 years of experience in the industry.
																Member of the Board of the Union of Producers of Alcoholic Products and the General Council of the public organization "Business Russia". Graduate of Oxford University.
															</div>
															<div class="founders__signature">
																<img src="img/founder-signature-1.png" alt="">
															</div>
														</div>
														<div class="founders__column-item founders__column-item--img column">
															<img class="founders__img" src="img/founder-1.jpg" alt="">
														</div>
													</div>
												</div>
												<div class="founders__item" id="founder-2">
													<div class="founders__row-item row">
														<div class="founders__column-item column">
															<div class="title-regular font-color-warning">James Jameson</div>
															<div>He is one of the founders and the permanent leader of the largest private Uzbek alcohol company.
																He is responsible for the management and strategic development of the company. Has over 20 years of experience in the industry.
																Member of the Board of the Union of Producers of Alcoholic Products and the General Council of the public organization "Business Russia". Graduate of Oxford University.
															</div>
															<div class="founders__signature">
																<img src="img/founder-signature-2.png" alt="">
															</div>
														</div>
														<div class="founders__column-item founders__column-item--img column">
															<img class="founders__img" src="img/founder-2.jpg" alt="">
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="section__column section__column--secondary column">
									<div class="menegement menegement--basic swiper-container" data-element-scroller>
										<div class="menegement__wrapper swiper-wrapper">
											<div class="menegement__slide swiper-slide swiper-slide--height-auto">
												<div class="menegement-person menegement-person--basic">
													<div class="menegement-person__row row">
														<div class="menegement-person__column menegement-person__column--avatar column">
															<img class="menegement-person__img" src="img/menegement-person-1.png" alt="">
														</div>
														<div class="menegement-person__column menegement-person__column--about column">
															<div class="title-inline text-transform-uppercase font-color-primary">Name Surname</div>
															<small>major manager, teamlead</small>
															<div class="menegement-person__content">Loves cats and hanging out with friends during a pandemic. Work experience: 45 years</div>
														</div>
													</div>
												</div>
												<div class="menegement-person menegement-person--basic">
													<div class="menegement-person__row row">
														<div class="menegement-person__column menegement-person__column--avatar column">
															<img class="menegement-person__img" src="img/menegement-person-2.png" alt="">
														</div>
														<div class="menegement-person__column menegement-person__column--about column">
															<div class="title-inline text-transform-uppercase font-color-primary">Name Surname</div>
															<small>major manager, teamlead</small>
															<div class="menegement-person__content">Loves cats and hanging out with friends during a pandemic. Work experience: 45 years</div>
														</div>
													</div>
												</div>
												<div class="menegement-person menegement-person--basic">
													<div class="menegement-person__row row">
														<div class="menegement-person__column menegement-person__column--avatar column">
															<img class="menegement-person__img" src="img/menegement-person-3.png" alt="">
														</div>
														<div class="menegement-person__column menegement-person__column--about column">
															<div class="title-inline text-transform-uppercase font-color-primary">Name Surname</div>
															<small>major manager, teamlead</small>
															<div class="menegement-person__content">Loves cats and hanging out with friends during a pandemic. Work experience: 45 years</div>
														</div>
													</div>
												</div>
												<div class="menegement-person menegement-person--basic">
													<div class="menegement-person__row row">
														<div class="menegement-person__column menegement-person__column--avatar column">
															<img class="menegement-person__img" src="img/menegement-person-4.png" alt="">
														</div>
														<div class="menegement-person__column menegement-person__column--about column">
															<div class="title-inline text-transform-uppercase font-color-primary">Name Surname</div>
															<small>major manager, teamlead</small>
															<div class="menegement-person__content">Loves cats and hanging out with friends during a pandemic. Work experience: 45 years</div>
														</div>
													</div>
												</div>
												<div class="menegement-person menegement-person--basic">
													<div class="menegement-person__row row">
														<div class="menegement-person__column menegement-person__column--avatar column">
															<img class="menegement-person__img" src="img/menegement-person-1.png" alt="">
														</div>
														<div class="menegement-person__column menegement-person__column--about column">
															<div class="title-inline text-transform-uppercase font-color-primary">Name Surname</div>
															<small>major manager, teamlead</small>
															<div class="menegement-person__content">Loves cats and hanging out with friends during a pandemic. Work experience: 45 years</div>
														</div>
													</div>
												</div>
												<div class="menegement-person menegement-person--basic">
													<div class="menegement-person__row row">
														<div class="menegement-person__column menegement-person__column--avatar column">
															<img class="menegement-person__img" src="img/menegement-person-2.png" alt="">
														</div>
														<div class="menegement-person__column menegement-person__column--about column">
															<div class="title-inline text-transform-uppercase font-color-primary">Name Surname</div>
															<small>major manager, teamlead</small>
															<div class="menegement-person__content">Loves cats and hanging out with friends during a pandemic. Work experience: 45 years</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-scrollbar--element swiper-scrollbar"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-scrollbar--section swiper-scrollbar"></div>
		</div>
		<!-- <div class="menegement menegement--basic swiper-container" data-full-page-scroller>
			<div class="menegement__wrapper swiper-wrapper">
				<div class="menegement__slide swiper-slide swiper-slide--height-auto">
					<div class="menegement-person menegement-person--basic">
						<div class="menegement-person__row row">
							<div class="menegement-person__column menegement-person__column--avatar column">
								<img class="menegement-person__img" src="img/menegement-person-1.png" alt="">
							</div>
							<div class="menegement-person__column menegement-person__column--about column">
								<div class="title-inline text-transform-uppercase font-color-primary">Name Surname</div>
								<small>major manager, teamlead</small>
								<div class="menegement-person__content">Loves cats and hanging out with friends during a pandemic. Work experience: 45 years</div>
							</div>
						</div>
					</div>
					<div class="menegement-person menegement-person--basic">
						<div class="menegement-person__row row">
							<div class="menegement-person__column menegement-person__column--avatar column">
								<img class="menegement-person__img" src="img/menegement-person-2.png" alt="">
							</div>
							<div class="menegement-person__column menegement-person__column--about column">
								<div class="title-inline text-transform-uppercase font-color-primary">Name Surname</div>
								<small>major manager, teamlead</small>
								<div class="menegement-person__content">Loves cats and hanging out with friends during a pandemic. Work experience: 45 years</div>
							</div>
						</div>
					</div>
					<div class="menegement-person menegement-person--basic">
						<div class="menegement-person__row row">
							<div class="menegement-person__column menegement-person__column--avatar column">
								<img class="menegement-person__img" src="img/menegement-person-3.png" alt="">
							</div>
							<div class="menegement-person__column menegement-person__column--about column">
								<div class="title-inline text-transform-uppercase font-color-primary">Name Surname</div>
								<small>major manager, teamlead</small>
								<div class="menegement-person__content">Loves cats and hanging out with friends during a pandemic. Work experience: 45 years</div>
							</div>
						</div>
					</div>
					<div class="menegement-person menegement-person--basic">
						<div class="menegement-person__row row">
							<div class="menegement-person__column menegement-person__column--avatar column">
								<img class="menegement-person__img" src="img/menegement-person-4.png" alt="">
							</div>
							<div class="menegement-person__column menegement-person__column--about column">
								<div class="title-inline text-transform-uppercase font-color-primary">Name Surname</div>
								<small>major manager, teamlead</small>
								<div class="menegement-person__content">Loves cats and hanging out with friends during a pandemic. Work experience: 45 years</div>
							</div>
						</div>
					</div>
					<div class="menegement-person menegement-person--basic">
						<div class="menegement-person__row row">
							<div class="menegement-person__column menegement-person__column--avatar column">
								<img class="menegement-person__img" src="img/menegement-person-1.png" alt="">
							</div>
							<div class="menegement-person__column menegement-person__column--about column">
								<div class="title-inline text-transform-uppercase font-color-primary">Name Surname</div>
								<small>major manager, teamlead</small>
								<div class="menegement-person__content">Loves cats and hanging out with friends during a pandemic. Work experience: 45 years</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-scrollbar--section swiper-scrollbar"></div>
		</div> -->
	
		
		
	
	
	</div>
</div>