.content-section {
  &--basic {
    position: relative;
    min-height: 700px;
    .content-section__img-wrap {
      height: 400px;
      @include md() {
        position: absolute;
        top: 0;
        left: 0;
        
        width: 45%;
        height: 100%;
      }
      @include xl() {
      }
    }
    .content-section__img {
      width: 100%;
      height: 100%;
    
      background-position: 50% 0;
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    .content-section__column {
      width: 100%;
      padding-right: 3%;
      padding-top: 3%;
      padding-bottom: 50px;
      padding-left: 5%;
      background-color: $UIBackgroundSecondary;
      @include md() {
        padding-top: 6.5%;
        max-width: 55%;
        flex: 0 0 55%;
        margin-left: auto;
        padding-bottom: 250px;
      }
    }
    
    
    .content-section__content {
      color: $fontColorPrimarySecond;
    }
    
    
    .content-section__stat {
      margin-top: 20px;
      @include md() {
        position: absolute;
        right: 15%;
        width: 600px;
        bottom: 50px;
        margin-top: 0;
      }
      @include xl() {
        width: 787px;
      }
    }
  }
  &--basic-secondary {
    .content-section__column {
      padding-bottom: 0;
    }
    .content-section__content {
      color: $fontColorPrimary;
      & > * {
        margin-bottom: 35px;
      }
    }
    h2 {
      span {
        display: block;
        margin-top: 20px;
        padding-bottom: 12px;
        max-width: 346px;
        border-bottom: 1px solid $UIBackgroundFifth;

        font-size: $UIContentFontSize_xl + px;
        color: $fontColorFirst;
        font-weight: 400;
      }
    }
  }
  &--basic-columns-reverse {
    .content-section__column {
      @include md() {
        margin-left: 0;
      }
    }
    .content-section__img-wrap {
      @include md() {
        left: auto;
        right: 0;
      }
    }
  }
}