.section {
  &--front-side-404 {
    color: $fontColorSecondary;
    background-color: $UIBackgroundThird;
    .section__main-content {
      position: relative;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      min-height: calc(100vh - 50px);
      @include xl() {
        min-height: calc(100vh - 80px);
      }
    }
    .section__container {
      z-index: 5;
      padding-top: 70px;
      max-width: 720px;
      margin: 0 auto;
    }
    .section__button-container {
      margin-top: 40px;
    }
    .section__background {
      background-position: 50% 100%;
    }
  }
}