<div class="section section--front-side section--front-side-404" id="front-side">
  <div class="section__in">
    <div class="section__scroll-container swiper-container" data-full-page-scroller>
      <div class="section__scroll-wrapper swiper-wrapper">
        <div class="section__scroll-slide swiper-slide swiper-slide--height-auto">
          <div class="section__main-content">
            <div class="section__background" style="background-image: url('./img/404.jpg');">&nbsp;</div>
            <div class="section__container container">
              <div class="text-center">
                <h1>Страница не найдена</h1>
                <div>Данная страница удалена или Вы перешли по несуществующему адресу. Пожалуйста, Перейдите на главную страницу и попробуйте снова прослудовать к нужному разделу.</div>
                <div class="section__button-container">
                  <a class="button button--secondary" href="/"><span class="button__in"><span>Вернуться на главную</span></span></a>
                </div>
              </div>
            </div>
          </div>
				</div>
			</div>
			<div class="swiper-scrollbar--section swiper-scrollbar"></div>
		</div>
	</div>
</div>