.section {
  &--age-limit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    z-index: 3;
    background-color: $UIBackgroundMain;
    transition: linear .1s;
  
    .section__in {
      padding: 0 !important;
      // padding: 4% 0;
      // @include sm() {
      //   padding: 2% 0;
      // }
    }
    .section__indents {
      padding: 4% 0;
      @include sm() {
        padding: 2% 0;
      }
    }
    .container {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .section__logo {
      margin-bottom: 8%;
    }
    .card {
      width: 100%;
      max-width: 910px;
      margin: 0 auto;
    }
    .section__foot-row {
      justify-content: space-between;
      flex-direction: column;
      text-align: center;
      @include lg() {
        flex-direction: row;
        text-align: left;
      }
    }
    .section__foot-column {
      margin-bottom: 10px;
      @include lg() {
        margin-bottom: 0;
      }
      &--right {
        margin-bottom: 0;
        @include lg() {
          text-align: right;
        }
      }
    }
    .section__devider {
      margin-top: 10%;
      margin-bottom: 2%;
    }
    
    &.hidden {
      opacity: 0;
      visibility: hidden;
    }
  }
}