<div class="section section--age-limit" id="age-limit">
  <div class="section__in">
    <div class="section__scroll-container swiper-container" data-full-page-scroller>
      <div class="section__scroll-wrapper swiper-wrapper swiper-wrapper--content">
        <div class="section__scroll-slide swiper-slide swiper-slide--height-auto">
          <div class="section__indents">
            <div class="container">
              <div class="section__logo text-center">
                <div class="logo">
                  <img src="img/logo.svg" width="238" alt="">
                </div>
              </div>
              <div class="card card--basic">
                <div class="card__in">
                  <div class="text-center">
                    <div class="card__margin-bottom">
                      <div class="title-regular">Age limit</div>
                    </div>
                    <div class="card__margin-bottom card__margin-bottom--large">
                      <div class="title-inline">The information on the site is intended for visitors over 18 years old.
                      </div>
                      <div class="title-inline">To access it, please confirm that you are of legal age.</div>
                    </div>
                    <div class="card__margin-bottom">
                      <div class="title-secondary font-color-warning">I'm over 18</div>
                    </div>
                    <div class="card__margin-bottom">
                      <div class="card__button">
                        <button class="button" type="button" data-toggle="confirm-video" data-target="#age-limit"
                          data-target-video-area="#promo-section" data-target-video-component="#promo-video-component"
                          data-target-video="#promo-video" data-set-class="hidden">
                          <span class="button__in">
                            <span>Confirm</span>
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="card__devider">
                    <hr class="devider">
                  </div>
                  <div class="card__foot-in">
                    <div class="card__foot-row row">
                      <div class="card__foot-column column">
                        <div class="title-inline">Choose language</div>
                      </div>
                      <div class="card__foot-column column">
                        <div class="card__foot-lang row">
                          <div class="column">
                            <a class="link-lang" href="#">RU</a>
                          </div>
                          <div class="column">
                            <a class="link-lang" href="#">UZ</a>
                          </div>
                          <div class="column">
                            <a class="link-lang current" href="#">ENG</a>
                          </div>
                        </div>
                      </div>
                      <div class="card__foot-column card__foot-column--devider column">
                        <hr class="devider devider--vertical">
                      </div>
                      <div class="card__foot-column column">
                        <div class="card__switch-row row">
                          <div class="card__switch-column column">Volume ON</div>
                          <div class="card__switch-column column">
                            <label class="switch">
                              <input class="switch__input input-hidden" type="checkbox" checked="true" name="videoOn"
                                id="soundCheck">
                              <div class="switch__slider">&nbsp;</div>
                            </label>
                          </div>
                          <div class="card__switch-column column">Volume OFF</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="section__foot">
                <div class="section__devider">
                  <hr class="devider">
                </div>
                <div class="section__foot-row row">
                  <div class="section__foot-column column">
                    <div class="font-color-primary-second"><small>© 2020 LLC "Legion Group"</small></div>
                    <div class="font-color-primary-second"><small>All rights reserved. legal information</small></div>
                  </div>
                  <div class="section__foot-column section__foot-column--right column">
                    <div class="font-color-primary-second">
                      <small>
                        <a class="font-color-primary-second text-decoration-none" href="tel:+998711234567">(+998 71) 123
                          4567</a>,
                        <a class="font-color-primary-second text-decoration-none" href="tel:+998711234566">(+998 71) 123
                          4566</a>
                      </small>
                    </div>
                    <div class="font-color-primary-second">
                      <small>100020, Uzbekistan, Tashkent, st. Tashkent, 4, building 1</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-scrollbar--section swiper-scrollbar"></div>
    </div>
  </div>
</div>