.section {
	&--promo {
		background-color: #000;
		overflow: hidden;
		position: fixed;
		z-index: 2;
		width: 100%;
		height: 100%;
		// min-height: 100vh;

		transform: scale(1, 1);
		transform-origin: 50% 50%;
		transition: linear .3s;
		&.hidden {
			transition: none;
			transform: scale(.1, .1);
		}
	}
}

