
<div class="section section--promo hidden"
	data-video-section
	data-custom-cursor-area
	id="promo-section"
>
	<div class="section__promo-video video" data-video id="promo-video-component">
		<div class="video__player-wrap">
			<video
				class="video__player"
				data-video-player
				preload="metadata"
				playsinline
				id="promo-video">
				<!-- <source src="video/promo.mp4" type="video/mp4"/> -->
				<!-- <source type="application/x-mpegURL" src="video/promo/ru/480p/legion_ru_compressed480p.m3u8">
				<source type="application/x-mpegURL" src="video/promo/ru/720p/legion_ru_compressed720p.m3u8">
				<source type="application/x-mpegURL" src="video/promo/ru/1080p/legion_ru_compressed1080p.m3u8"> -->
				<p class="vjs-no-js">
					To view this video please enable JavaScript, and consider upgrading to a
					web browser that
					<a href="https://videojs.com/html5-video-support/" target="_blank">
						supports HTML5 video
					</a>
				</p>
			</video>
			<script>
				var src;
				var isMobile = window.innerWidth <= 720;
				var isTablet = window.innerWidth > 720 && window.innerWidth <= 1280;
				var isDesktop = window.innerWidth > 1280;

				if(isMobile) {
					src = 'video/promo/ru/480p/legion_ru_compressed480p.m3u8'
				} else if(isTablet) {
					src = 'video/promo/ru/720p/legion_ru_compressed720p.m3u8'
				} else if(isDesktop) {
					src = 'video/promo/ru/1080p/legion_ru_compressed1080p.m3u8'
				}
				var promo_player = document.getElementById('promo-video');
				var source = document.createElement('source');
				source.setAttribute('src', src)
				source.setAttribute('type', 'application/x-mpegURL');

				promo_player.appendChild(source)
			</script>
		</div>
		<div class="video__controls">
			
			
			<div class="video__trigger active">
				<div class="video__play">
					<svg class='svg-icon'>
						<use xlink:href='img/svgSprite.svg#play'></use>
					</svg>
				</div>
				<div class="video__pause">
					<svg class='svg-icon'>
						<use xlink:href='img/svgSprite.svg#pause'></use>
					</svg>
				</div>
			</div>
			
			
			<div class="video__volume-controls">
				<div class="video__volume-button">
					<div class="video__volume-on">
						<svg class='svg-icon'>
							<use xlink:href='img/svgSprite.svg#volume-tool'></use>
						</svg>
					</div>
					<div class="video__volume-off">
						<svg class='svg-icon'>
							<use xlink:href='img/svgSprite.svg#mute-volume-tool'></use>
						</svg>
					</div>
				</div>
			</div>
			
			
			<!-- <div class="video__fullscreen-controls">
				<div class="video__fullscreen">
					<svg class='svg-icon'>
						<use xlink:href='img/svgSprite.svg#fullscreen'></use>
					</svg>
				</div>
				<div class="video__fullscreen-none">
					<svg class='svg-icon'>
						<use xlink:href='img/svgSprite.svg#exit-fullscreen'></use>
					</svg>
				</div>
			</div> -->
			
			
			<button class="video__close" type="button">
				<svg class='svg-icon'>
					<use xlink:href='img/svgSprite.svg#close'></use>
				</svg>
			</button>
			
			
		</div>
	</div>
</div>