<div class="section section--front-side-third section--front-side-carier" id="front-side-carier">
	<div class="section__in">
		<div class="section__scroll-container swiper-container" data-full-page-scroller>
			<div class="section__scroll-wrapper swiper-wrapper">
				<div class="section__scroll-slide swiper-slide swiper-slide--height-auto">
					<div class="section__main-wrap" data-front-side-animation>
						<div class="section__container container font-color-secondary">

							<div class="section__background" style="background-image: url('./img/carier.jpg');">&nbsp;</div>
							<div class="section__content">
								<div class="section__content-in">
									<div class="title-inline dash">about</div>
									<h1>Карьера</h1>
									<div>In connection with the expansion and the rapid opening of new outlets, we open on a long-term
										basis the vacancy "Sales-Consultant". We invite active, young and open people to become part of our
										team.</div>
									<div class="section__select-wrap">
										<div class="section__select select select--basic" data-select>
											<div class="select__btn">
												<div class="select__btn-txt">All Region</div>
												<div class="select__btn-icon">
													<svg class='svg-icon'>
														<use xlink:href='img/svgSprite.svg#angle'></use>
													</svg>
												</div>
											</div>
											<div class="select__drop">
												<div class="select__scroll-container swiper-container" data-select-scroller>
													<div class="select__scroll-wrapper swiper-wrapper">
														<div class="select__scroll-slide swiper-slide swiper-slide--height-auto">
															<ul class="select__list list-clear">
																<li class="select__list-item">
																	<a class="select__list-link active" href="#" data-select-link>All Region</a>
																</li>
																<li class="select__list-item">
																	<a class="select__list-link" href="#" data-select-link>Tashkent</a>
																</li>
																<li class="select__list-item">
																	<a class="select__list-link" href="#" data-select-link>All Region</a>
																</li>
																<li class="select__list-item">
																	<a class="select__list-link" href="#" data-select-link>Tashkent</a>
																</li>
															</ul>
														</div>
													</div>
													<div class="swiper-scrollbar swiper-scrollbar--select"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="section__content-wrap">
						<div class="section__container-vacancies container">
							<div class="accordion accordion--basic">
								<div class="accordion__item" data-accordion-item>
									<div class="accordion__item-head" data-accordion-toggle>
										<div class="accordion__item-head-row row">
											<div class="accordion__item-head-column column">
												<div class="title-inline font-weight-semi">Shop assistant</div>
											</div>
											<div class="accordion__item-head-column accordion__item-head-column--loc column">
												<div class="title-inline font-weight-semi">Location: Tashkent</div>
											</div>
											<div class="accordion__item-head-column accordion__item-head-column--icon column">
												<svg class='accordion__item-icon svg-icon svg-icon--rotate-90'>
													<use xlink:href='img/svgSprite.svg#angle'></use>
												</svg>
											</div>
										</div>
									</div>
									<div class="accordion__item-collapse" data-accordion-collapse>
										<div class="accordion__item-collapse-in">
											<div class="accordion__item-collapse-row row">
												<div class="accordion__item-collapse-column column">
													<div class="accordion__item-collapse-title title-inline font-weight-semi">What you have to do</div>
													<ul class="list-content list-clear">
														<li>Responsible for brand development and monitor their activation on all relevant channels;</li>
														<li>Regularly analyze and provide reports on the effectiveness of brands and the success of activations;</li>
														<li>Communicate with the manufacturer (conduct business correspondence, prepare presentations and fly on business trips);</li>
														<li>Organize training on brands for company employees / clients.</li>
														<li>Plan and control the budget:</li>
													</ul>
												</div>
												<div class="accordion__item-collapse-column column">
													<div class="accordion__item-collapse-title title-inline font-weight-semi">Skill</div>
													<ul class="list-content list-clear">
														<li>Good planning, analytics and organization skills with attention to detail;</li>
														<li>Strong commitment to results and deadlines;</li>
														<li>Ability to manage multiple projects with close attention to detail;</li>
														<li>Honesty and trust, innovation and customer focus;</li>
													</ul>
												</div>
												<div class="accordion__item-collapse-column column">
													<div class="accordion__item-collapse-title title-inline font-weight-semi">Our offer</div>
													<ul class="list-content list-clear">
														<li>Official employment from the first working day in the Labor Code of the Republic of Uzbekistan;</li>
														<li>Comfortable office in the city center (New Embassy of Kazakhstan);</li>
														<li>Office working hours 10: 00-19: 00, 5/2;</li>
														<li>Complex and rich lunch at the expense of the employer;</li>
														<li>Creative and loyal mentor with vast experience and knowledge;</li>
														<li>Close-knit, friendly and open team;</li>
														<li>Opportunity to work with global brands;</li>
														<li>Business trips to Europe, trainings, tastings and other useful activities;</li>
														<li>Stable salary with the possibility of growth due to KPI;</li>
														<li>Work in the largest and leading distributor of imported alcohol;</li>
													</ul>
												</div>
											</div>
											<div class="accordion__item-button-wrap">
												<button class="accordion__item-button button" data-micromodal-trigger="modal-2" type="button"><span class="button__in"><span>Отозваться</span></span></button>
											</div>
										</div>
									</div>
								</div>
								<div class="accordion__item" data-accordion-item>
									<div class="accordion__item-head" data-accordion-toggle>
										<div class="accordion__item-head-row row">
											<div class="accordion__item-head-column column">
												<div class="title-inline font-weight-semi">Brand manager</div>
											</div>
											<div class="accordion__item-head-column accordion__item-head-column--loc column">
												<div class="title-inline font-weight-semi">Location: Tashkent</div>
											</div>
											<div class="accordion__item-head-column accordion__item-head-column--icon column">
												<svg class='accordion__item-icon svg-icon svg-icon--rotate-90'>
													<use xlink:href='img/svgSprite.svg#angle'></use>
												</svg>
											</div>
										</div>
									</div>
									<div class="accordion__item-collapse" data-accordion-collapse>
										<div class="accordion__item-collapse-in">
											<div class="accordion__item-collapse-row row">
												<div class="accordion__item-collapse-column column">
													<div class="accordion__item-collapse-title title-inline font-weight-semi">What you have to do</div>
													<ul class="list-content list-clear">
														<li>Responsible for brand development and monitor their activation on all relevant channels;</li>
														<li>Regularly analyze and provide reports on the effectiveness of brands and the success of activations;</li>
														<li>Communicate with the manufacturer (conduct business correspondence, prepare presentations and fly on business trips);</li>
														<li>Organize training on brands for company employees / clients.</li>
														<li>Plan and control the budget:</li>
													</ul>
												</div>
												<div class="accordion__item-collapse-column column">
													<div class="accordion__item-collapse-title title-inline font-weight-semi">Skill</div>
													<ul class="list-content list-clear">
														<li>Good planning, analytics and organization skills with attention to detail;</li>
														<li>Strong commitment to results and deadlines;</li>
														<li>Ability to manage multiple projects with close attention to detail;</li>
														<li>Honesty and trust, innovation and customer focus;</li>
													</ul>
												</div>
												<div class="accordion__item-collapse-column column">
													<div class="accordion__item-collapse-title title-inline font-weight-semi">Our offer</div>
													<ul class="list-content list-clear">
														<li>Official employment from the first working day in the Labor Code of the Republic of Uzbekistan;</li>
														<li>Comfortable office in the city center (New Embassy of Kazakhstan);</li>
														<li>Office working hours 10: 00-19: 00, 5/2;</li>
														<li>Complex and rich lunch at the expense of the employer;</li>
														<li>Creative and loyal mentor with vast experience and knowledge;</li>
														<li>Close-knit, friendly and open team;</li>
														<li>Opportunity to work with global brands;</li>
														<li>Business trips to Europe, trainings, tastings and other useful activities;</li>
														<li>Stable salary with the possibility of growth due to KPI;</li>
														<li>Work in the largest and leading distributor of imported alcohol;</li>
													</ul>
												</div>
											</div>
											<div class="accordion__item-button-wrap">
												<button class="accordion__item-button button" data-micromodal-trigger="modal-2" type="button"><span class="button__in"><span>Отозваться</span></span></button>
											</div>
										</div>
									</div>
								</div>
								<div class="accordion__item active" data-accordion-item>
									<div class="accordion__item-head" data-accordion-toggle>
										<div class="accordion__item-head-row row">
											<div class="accordion__item-head-column column">
												<div class="title-inline font-weight-semi">Shop assistant</div>
											</div>
											<div class="accordion__item-head-column accordion__item-head-column--loc column">
												<div class="title-inline font-weight-semi">Location: Tashkent</div>
											</div>
											<div class="accordion__item-head-column accordion__item-head-column--icon column">
												<svg class='accordion__item-icon svg-icon svg-icon--rotate-90'>
													<use xlink:href='img/svgSprite.svg#angle'></use>
												</svg>
											</div>
										</div>
									</div>
									<div class="accordion__item-collapse" data-accordion-collapse>
										<div class="accordion__item-collapse-in">
											<div class="accordion__item-collapse-row row">
												<div class="accordion__item-collapse-column column">
													<div class="accordion__item-collapse-title title-inline font-weight-semi">What you have to do</div>
													<ul class="list-content list-clear">
														<li>Responsible for brand development and monitor their activation on all relevant channels;</li>
														<li>Regularly analyze and provide reports on the effectiveness of brands and the success of activations;</li>
														<li>Communicate with the manufacturer (conduct business correspondence, prepare presentations and fly on business trips);</li>
														<li>Organize training on brands for company employees / clients.</li>
														<li>Plan and control the budget:</li>
													</ul>
												</div>
												<div class="accordion__item-collapse-column column">
													<div class="accordion__item-collapse-title title-inline font-weight-semi">Skill</div>
													<ul class="list-content list-clear">
														<li>Good planning, analytics and organization skills with attention to detail;</li>
														<li>Strong commitment to results and deadlines;</li>
														<li>Ability to manage multiple projects with close attention to detail;</li>
														<li>Honesty and trust, innovation and customer focus;</li>
													</ul>
												</div>
												<div class="accordion__item-collapse-column column">
													<div class="accordion__item-collapse-title title-inline font-weight-semi">Our offer</div>
													<ul class="list-content list-clear">
														<li>Official employment from the first working day in the Labor Code of the Republic of Uzbekistan;</li>
														<li>Comfortable office in the city center (New Embassy of Kazakhstan);</li>
														<li>Office working hours 10: 00-19: 00, 5/2;</li>
														<li>Complex and rich lunch at the expense of the employer;</li>
														<li>Creative and loyal mentor with vast experience and knowledge;</li>
														<li>Close-knit, friendly and open team;</li>
														<li>Opportunity to work with global brands;</li>
														<li>Business trips to Europe, trainings, tastings and other useful activities;</li>
														<li>Stable salary with the possibility of growth due to KPI;</li>
														<li>Work in the largest and leading distributor of imported alcohol;</li>
													</ul>
												</div>
											</div>
											<div class="accordion__item-button-wrap">
												<button class="accordion__item-button button" data-micromodal-trigger="modal-2" type="button"><span class="button__in"><span>Отозваться</span></span></button>
											</div>
										</div>
									</div>
								</div>
								<div class="accordion__item" data-accordion-item>
									<div class="accordion__item-head" data-accordion-toggle>
										<div class="accordion__item-head-row row">
											<div class="accordion__item-head-column column">
												<div class="title-inline font-weight-semi">Brand manager</div>
											</div>
											<div class="accordion__item-head-column accordion__item-head-column--loc column">
												<div class="title-inline font-weight-semi">Location: Tashkent</div>
											</div>
											<div class="accordion__item-head-column accordion__item-head-column--icon column">
												<svg class='accordion__item-icon svg-icon svg-icon--rotate-90'>
													<use xlink:href='img/svgSprite.svg#angle'></use>
												</svg>
											</div>
										</div>
									</div>
									<div class="accordion__item-collapse" data-accordion-collapse>
										<div class="accordion__item-collapse-in">
											<div class="accordion__item-collapse-row row">
												<div class="accordion__item-collapse-column column">
													<div class="accordion__item-collapse-title title-inline font-weight-semi">What you have to do</div>
													<ul class="list-content list-clear">
														<li>Responsible for brand development and monitor their activation on all relevant channels;</li>
														<li>Regularly analyze and provide reports on the effectiveness of brands and the success of activations;</li>
														<li>Communicate with the manufacturer (conduct business correspondence, prepare presentations and fly on business trips);</li>
														<li>Organize training on brands for company employees / clients.</li>
														<li>Plan and control the budget:</li>
													</ul>
												</div>
												<div class="accordion__item-collapse-column column">
													<div class="accordion__item-collapse-title title-inline font-weight-semi">Skill</div>
													<ul class="list-content list-clear">
														<li>Good planning, analytics and organization skills with attention to detail;</li>
														<li>Strong commitment to results and deadlines;</li>
														<li>Ability to manage multiple projects with close attention to detail;</li>
														<li>Honesty and trust, innovation and customer focus;</li>
													</ul>
												</div>
												<div class="accordion__item-collapse-column column">
													<div class="accordion__item-collapse-title title-inline font-weight-semi">Our offer</div>
													<ul class="list-content list-clear">
														<li>Official employment from the first working day in the Labor Code of the Republic of Uzbekistan;</li>
														<li>Comfortable office in the city center (New Embassy of Kazakhstan);</li>
														<li>Office working hours 10: 00-19: 00, 5/2;</li>
														<li>Complex and rich lunch at the expense of the employer;</li>
														<li>Creative and loyal mentor with vast experience and knowledge;</li>
														<li>Close-knit, friendly and open team;</li>
														<li>Opportunity to work with global brands;</li>
														<li>Business trips to Europe, trainings, tastings and other useful activities;</li>
														<li>Stable salary with the possibility of growth due to KPI;</li>
														<li>Work in the largest and leading distributor of imported alcohol;</li>
													</ul>
												</div>
											</div>
											<div class="accordion__item-button-wrap">
												<button class="accordion__item-button button" data-micromodal-trigger="modal-2" type="button"><span class="button__in"><span>Отозваться</span></span></button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-scrollbar--section swiper-scrollbar"></div>
		</div>
	</div>
</div>