.preview {
  cursor: pointer;
	margin-bottom: 40px;
	@include md() {
		margin-bottom: 70px;
	}
  @include lg() {
		max-width: 440px;
		margin: 0 auto 120px;
    transition: max-width .5s linear .5s;
  }
  &--hovered {
    @include lg() {
      .preview__figure-img {
        transform: scale(1.1, 1.1);
        transition: linear .3s;
      }
      .preview__figcaption {
        padding-bottom: 50px;
        transition: linear .3s;
      }
      .preview__figure-arrow {
        opacity: 1;
        visibility: visible;
        transition: linear .3s;
      }
    }
  }
  &--unhovered {
    @include lg() {
      .preview__figure-img {
        transform: scale(1, 1);
        transition: linear .3s;
      }
      .preview__figcaption {
        padding-bottom: 20px;
        transition: linear .3s;
      }
      .preview__figure-arrow {
        opacity: 0;
        visibility: hidden;
        transition: linear .3s;
      }
    }
  }
}

.preview__figure {
  position: relative;
  margin: 0;
}
.preview__figure-img-wrap {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 300px;
  @include sm() {
    // height: 440px;
  }
  @include lg() {
    height: 300px;
  }
  @include xl() {
    height: 440px;
  }
}
.preview__figure-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: none;
  object-fit: cover;
  @include lg() {
    transition: .5s linear .5s;
  }
}
.preview__figure-img-large {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  max-width: none;
  
  opacity: 0;
  visibility: hidden;
  @include lg() {
    transition: .5s linear .5s;
  }
}
.preview__container {
  position: relative;
}
.preview__figcaption {
  position: absolute;
  top: -100px;
  left: 50%;
  z-index: 3;

  width: 100%;
  max-width: 280px;
  padding: 15px 25px 15px;
  
  transform: translate(-50%, 0);
  
  background: rgba(227, 0, 22, 0.5);
  backdrop-filter: blur(24px);
  @include lg() {
		transition: .5s linear .5s;
  }
	@include xl() {
		max-width: 360px;
	}
}

.preview__figure-title {
  display: block;
  margin-bottom: 15px;
  max-height: 120px;
  overflow: hidden;
  @include lg() {
    margin-bottom: 20px;
  }
}
.preview__figure-time {
  display: block;
}
.preview__figure-arrow {
  position: absolute;
  bottom: 15px;

  height: 20px;
  font-size: 60px;

  @include lg() {
    transition: .5s linear 0s;
  }
  @include lg() {
    opacity: 0;
    visibility: hidden;
  }
}

.preview__figure-close {
  display: inline-block;
  color: $fontColorSecondary;
  position: absolute;
  top: 0;
  left: 0;

  padding: 20px;
  
  opacity: 0;
  visibility: hidden;
  @include lg() {
    transition: top 0s linear .5s, left 0s linear .5s, opacity .5s linear 0s, visibility .5s linear 0s;
  }
  cursor: pointer;
  &:hover {
    color: $fontColorSecondary;
    opacity: 0.8;
  }
}

.preview__next-article {
  position: relative;
  z-index: 2;
  padding-top: 20px;
  opacity: 0;
  visibility: hidden;
  transform: translate(200px, 0);
  @include lg() {
    transition: .5s linear 0s;
  }
  @include lg() {
    position: absolute;
    top: 40px;
    right: 10px;
    padding-top: 0;
  }

}
.preview__content {
  position: relative;
  z-index: 1;
  padding-top: 0;
  color: $fontColorPrimary;
  // display: none;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 300px);
  @include lg() {
    transition: .5s linear 0s;
  }
}


