.lang-adaptive {
	position: relative;
	&:hover {
		.svg-icon {
			transform: rotate(-90deg);
		}
		.lang-adaptive__row {
			opacity: 1;
			visibility: visible;
		}
	}
}

.lang-adaptive__button {
	padding: 5px 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	cursor: pointer;
	@include xl() {
		padding: 25px;
	}
	.svg-icon {
		transform-origin: 50% 50%;
		transform: rotate(90deg);
		font-size: 7px;
		margin-left: 10px;
	}
	@include xl() {
		display: none;
	}
}

.lang-adaprive__text {

}

.lang-adaptive__row {
	position: absolute;
	width: 218px;
	top: 100%;
	right: -1px;
	margin-top: 1px !important;
	padding: 10px;
	// box-shadow: 0 0 3px 1px rgba(#fff, .1);
	border-bottom: 1px solid rgba(#fff, .15);
	border-left: 1px solid rgba(#fff, .15);

	opacity: 0;
	visibility: hidden;
	@include xl() {
		// transition: opacity .3s linear 0s, visibility .3s linear 0s;
		// transition: none;
	}
	@include md() {
		width: 250px;
		justify-content: center;
	}
	@include xl() {
		width: auto;
		position: static;
		opacity: 1;
		visibility: visible;
		border-bottom: transparent;
		border-left: transparent;
		// box-shadow: none;
	}
}
