.section {
	&--front-side-basic {
		background-color   : $UIBackgroundThird;
		background-position: 50% 50%;
		background-size    : cover;
		// height         : 100vh;
		// height: auto;
		// flex-grow: 1;

		.section__background {
			// transform: scale(.8, .8);
		}

		.section__front-side-content {
			margin-top: 7%;

			@include md() {
				margin-top: 3%;
			}
		}

		.section__front-side-button {
			display       : inline-block;
			vertical-align: top;
			width         : 100%;
			max-width     : 220px;
			margin        : 0 3% 7%;

			@include md() {
				margin: 0 3% 3%;
			}

			.button {
				width: 100%;
			}
		}

		.section__front-side-margin {
			margin-bottom: 7%;

			@include md() {
				margin-bottom: 3.5%;
			}
		}

		.section__front-side-body {
			max-width: 830px;
			margin   : 0 auto;
		}

		&.section--video-ended {
			.section__background {
				// transform: scale(1, 1);
			}
		}
	}

	&--front-side-secondary {
		.section__main-wrap {

		}
		.section__rhombus-lines {
			position : absolute;
			bottom   : -15px;
			left     : 50%;
			transform: translate(100px, 300px);

			opacity   : 0;
			visibility: hidden;

			@include md() {
				transition: .5s linear 1s;
			}

			&:before,
			&:after {
				content   : '';
				position  : absolute;
				z-index   : 9999;
				top       : 50%;
				border-top: 1px solid $UIBackgroundAttention;
			}

			&:before {
				left       : 100%;
				right      : -9999px;
				margin-left: 85px;
			}

			&:after {
				right       : 100%;
				left        : -9999px;
				margin-right: 85px;
			}
		}

		.section__container {
			position       : relative;
			display        : flex;
			flex-direction : column;
			justify-content: flex-end;
			margin-top     : 0;
			margin-bottom  : 0;
			min-height: 100%;
			max-width: 100%;

			@include md() {
				transition: .5s linear 1s;
			}

			@include xl() {
				min-height: 560px;
				max-width : 1160px;
			}

			@media screen and (min-width: $xxl) {
				max-width: 1440px;
			}
		}

		.section__content {
			position      : relative;
			width         : 100%;
			margin        : 0 auto;
			display       : flex;
			flex-direction: column;
			min-height: 70%;

			@include md() {
				transition: .5s linear 1s;
			}

			@include xl() {
				max-width : 1200px;
			}
		}

		.section__content-in {
			position       : relative;
			padding        : 30px;
			flex-grow      : 1;
			background     : rgba(30, 28, 28, 0.7);
			// backdrop-filter: blur(15px);

			@include md() {
				transition: .5s linear 1s;
			}
			
			@include lg() {
				padding: 30px 65px;
			}
			@include xl() {
				max-width      : 690px;
			}
		}

		.section__content-animated-primary {
			position: relative;
			z-index : 2;

			display        : flex;
			flex-direction : column;
			justify-content: center;
			margin-bottom  : 30px;
			text-align     : left;
			max-height: 100%;

			@include md() {
				max-width : 400px;
				transition: transform .5s linear .5s, opacity .5s linear .5s, visibility .5s linear .5s, max-height 0s linear .5s, margin .5s linear .5s, padding 0s linear .5s;
			}

			@include xl() {
				max-width: 560px;
			}

			@media screen and (min-width: $xxl) {}
		}

		.section__content-animated-secondary {
			position  : relative;
			z-index   : 2;
			margin-top: 50px;
			max-height: 100%;
			
			@include md() {
				transition: max-height 0s linear .5s, transform .5s linear 0s, opacity .5s linear 0s, visibility .5s linear 0s;
			}
			@include xl() {
				margin-top: 0;
				max-height: 0;
				opacity   : 0;
				visibility: hidden;
				transform : translate(100px, 300px);
			}
		}

		.section__content-animated-third {
			position: relative;
			z-index : 2;

			display        : flex;
			flex-direction : column;
			justify-content: center;
			margin-bottom  : 30px;

			text-align: left;

			@include md() {
				padding-bottom: 350px;
				max-width     : 400px;
				// transition: .5s linear 0s;
			}

			@include xl() {
				max-width  : 600px;
				margin-left: 100px;
			}
		}

		.section__row-content-primary {

			@include md() {
				margin-bottom: 50px;
			}

		}

		.section__column-content-primary {
			width        : 100%;
			margin-bottom: 20px;

			@include md() {
				max-width    : 50%;
				flex         : 0 0 50%;
				margin-bottom: 0;
			}
		}

		.section__row-content-secondary {
			align-items: center;
		}

		.section__column-content-secondary {
			width        : 100%;
			margin-bottom: 20px;
			order        : 2;

			@include md() {
				max-width: 33.3%;
				flex     : 0 0 33.3%;

				margin-bottom: 0;
			}

			&--years {
				order: 1;
				margin-bottom: 50px;

				@include md() {
					order: 2;
					margin-bottom: 20px;
				}

				.section__column-in {
					display     : flex;
					flex-wrap   : nowrap;
					align-items : center;
					margin-left : auto;
					margin-right: auto;
					text-align  : left;
					max-width   : 210px;

					@include sm() {
						max-width: 280px;
					}
				}

				img {
					flex-shrink: 0;
					width      : 100px;
				}
				
				.title-years {
					position: relative;
					font-size: 120px;
					line-height: 144px;
					font-family: $fontThird;
					font-weight: 400;
					font-style: italic;
					color: $fontColorWarning;
					&:after {
						content: '';
						position: absolute;
						width: 3px;
						height: 100%;
						top: 0;
						left: 100%;
						z-index: 10;
						margin-left: -26px;
						margin-top: 52px;
						background-color: $UIBackgroundAttention;
						transform: rotate(50deg);
					}
				}

				.title-secondary {
					position : relative;
					top      : 70px;
					flex-grow: 1;

				}
			}
		}


		.section__content-more {
			position  : relative;
			z-index   : 2;
			display   : block;
			margin-top: 20px;

			@include xl() {
				display: none;
			}
		}

		.section__content-more-hide {
			display: none;
		}

		&.active {
			.section__container {
				max-width : 100%;
				min-height: 100%;
				transition: linear .5s;
			}

			.section__content {
				max-width : 1440px;
				transition: linear .5s;
			}

			.section__content-in {
				padding-top: 50px;
				max-width : 100%;
				transition: linear .5s;
			}

			.section__rhombus-lines {
				transform : translate(0, 0);
				opacity   : 1;
				visibility: visible;
				transition: .5s linear .5s;
			}

			.section__background {
				transform: scale(1, 1);
			}

			.section__container {
				// max-width: 1440px;
			}

			.section__content-animated {
				// padding  : 20px 20px 20px 25px;
				max-width: 100%;
				flex-grow: 1;
			}

			.section__content-animated-primary {
				transform : translate(-100px, -300px);
				opacity   : 0;
				visibility: hidden;
				max-height: 0;
				margin    : 0;

				@include md() {
					transition: .5s linear 0s;
				}
			}

			.section__content-animated-secondary {
				max-height: 100%;
				opacity   : 1;
				visibility: visible;
				transform : translate(0, 0);

				@include md() {
					transition: .5s linear .5s;
				}
			}

			.section__content-animated-third {
				@include md() {
					max-width    : 100%;
					padding-right: 350px;
					// transition: linear .5s;
				}
			}


			.section__background-secondary {
				left     : 0;
				max-width: 100%;


				@include xl() {}
			}

			.section__content-more-show {
				display: none;
			}

			.section__content-more-hide {
				display: block;
			}
		}
	}

	&--front-side-third {
		// background-color: $UIBackgroundSecondary;
		.section__main-wrap {
			@media screen and (max-width: 1199px) {
				min-height: auto;
			}
		}

		.section__in {
			justify-content: flex-start;
		}

		.section__scroll-slide {
			justify-content: flex-start;
		}

		.section__background {
			width    : 100%;
			height   : 100%;
			transform: scale(1, 1);
		}

		.section__container {
			display        : flex;
			flex-direction : column;
			justify-content: flex-end;
			margin-top     : 0;
			margin-bottom  : 0;

			// transition: linear .5s;
			@include md() {
				transition: linear .5s;
			}
			@include xl() {
				min-height: 560px;
				max-width : 1160px;
			}

			@media screen and (min-width: $xxl) {
				max-width: 1440px;
			}
			
		}

		.section__scroll-animate {
			display        : flex;
			flex-direction : column;
			flex-grow      : 1;
			justify-content: flex-end;
		}

		.section__content {
			position      : relative;
			width         : 100%;
			margin        : 0 auto;
			display       : flex;
			flex-direction: column;

			@include md() {
				transition: linear .5s;
			}
			@include xl() {
				max-width : 1200px;
				// min-height: 70%;
				min-height: 70%;
			}
		}

		.section__content-in {
			position       : relative;
			max-width      : 690px;
			padding        : 30px;
			flex-grow      : 1;
			background     : rgba(30, 28, 28, 0.7);
			// backdrop-filter: blur(15px);

			@include md() {
				transition: linear .5s;
			}
			@include lg() {
				padding: 30px 65px;
			}
		}

		.section__map-stores {
			padding: 5% 0;
		}

		.section__content-wrap {
			padding: 4% 0;
		}

		.section__select-wrap {
			width     : 100%;
			max-width : 300px;
			margin-top: 40px;

			@include md() {
				margin-top   : 20px;
			}
		}

		.section__select {
			width: 100%;
		}


		&.active {
			.section__main-wrap {
				@include xl() {
					min-height: 300px;
				}
				&:before {
					height: 0;
				}
				@include xl() {
					transition: linear .5s;
				}
			}
			
			.section__container {
				max-width : 100%;
				margin-top: 0;
				@include xl() {
					transition: linear .5s;
					min-height: 300px;
				}
			}
			
			.section__content {
				max-width : 1560px;
				@include xl() {
					transition: linear .5s;
					min-height: 300px;
				}
			}
			
			.section__content-in {
				@include xl() {
					max-width: 60%;
					padding: 3% 65px;
					transition: linear .5s;
				}
			}
		}
	}
}



.section__main-wrap {
	position: relative;
	z-index: 2;
	display       : flex;
	flex-direction: column;
	min-height     : calc(100vh - 50px);
	
	@include xl() {
		min-height     : calc(100vh - 80px);
		justify-content: center;
		align-items    : center;
		transition: linear .5s;
	}
	@include xl() {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: calc(50vh - 80px);
			background-color: $UIBackgroundSecondary;
			transition: linear .5s;
		}
	}
}


.section__promo-video {
	width: 100%;
	height: 100%;
}