.section {
	&--brands {
		background-color: $UIBackgroundSecondary;
		.section__indents {
			padding-top: 4.5%;
			padding-bottom: 4.5%;
		}
		.section__title {
			max-width: 860px;
			margin: 0 auto 5%;
			text-align: center;
			h2 {
				margin-bottom: 5%;
			}
		}
		.section__row {
			margin-left: 0;
			margin-right: 0;
			padding-left: 1px;
		}
		.section__column {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			border: 1px solid $UIBackgroundFifth;
			margin-left: -1px;
			margin-top: -1px;
			// max-width: 33.3%;
			// flex: 0 0 33.3%;
			@include lg() {
				max-width: 20%;
				flex: 0 0 20%;

			}
		}
	}
}