<div class="section section--brands">
	<div class="section__in">
		<div class="section__scroll-container swiper-container" data-full-page-scroller>
			<div class="section__scroll-wrapper swiper-wrapper">
				<div class="section__scroll-slide swiper-slide swiper-slide--height-auto">
					<div class="section__indents">
						<div class="section__title">
							<h2>Imported production distribution</h2>
							<div class="title-inline">Every shipment of imported alcohol is locally certified for quality standards. We also have our own certificates of conformity of the highest quality product from the manufacturer.</div>
						</div>
						<div class="section__brands">
							<div class="section__row row">
								<div class="section__column column">
									<div class="brand brand--basic">
										<div class="brand__in brand__content title-secondary"><img src="img/brands/brand-1.png" alt=""></div>
									</div>
								</div>
								<div class="section__column column">
									<div class="brand brand--basic">
										<div class="brand__in brand__content title-secondary"><img src="img/brands/brand-2.png" alt=""></div>
									</div>
								</div>
								<div class="section__column column">
									<div class="brand brand--basic">
										<div class="brand__in brand__content title-secondary"><img src="img/brands/brand-3.png" alt=""></div>
									</div>
								</div>
								<div class="section__column column">
									<div class="brand brand--basic">
										<div class="brand__in brand__content title-secondary"><img src="img/brands/brand-4.png" alt=""></div>
									</div>
								</div>
								<div class="section__column column">
									<div class="brand brand--basic">
										<div class="brand__in brand__content title-secondary"><img src="img/brands/brand-5.png" alt=""></div>
									</div>
								</div>
								<div class="section__column column">
									<div class="brand brand--basic">
										<div class="brand__in brand__content title-secondary"><img src="img/brands/brand-6.png" alt=""></div>
									</div>
								</div>
								<div class="section__column">
									<div class="brand brand--primary">
										<div class="brand__in">
											<div class="brand__content title-secondary">
												<strong>117</strong> brands <br> in assortiment
											</div>
										</div>
									</div>
								</div>
								<div class="section__column column">
									<div class="brand brand--basic">
										<div class="brand__in brand__content title-secondary"><img src="img/brands/brand-7.png" alt=""></div>
									</div>
								</div>
								<div class="section__column">
									<div class="brand brand--primary">
										<div class="brand__in">
											<div class="brand__content title-secondary">
												<strong>117</strong> brands <br> in assortiment
											</div>
										</div>
									</div>
								</div>
								<div class="section__column column">
									<div class="brand brand--basic">
										<div class="brand__in brand__content title-secondary"><img src="img/brands/brand-8.png" alt=""></div>
									</div>
								</div>
								<div class="section__column column">
									<div class="brand brand--basic">
										<div class="brand__in brand__content title-secondary"><img src="img/brands/brand-9.png" alt=""></div>
									</div>
								</div>
								<div class="section__column column">
									<div class="brand brand--basic">
										<div class="brand__in brand__content title-secondary"><img src="img/brands/brand-10.png" alt=""></div>
									</div>
								</div>
								<div class="section__column column">
									<div class="brand brand--basic">
										<div class="brand__in brand__content title-secondary"><img src="img/brands/brand-11.png" alt=""></div>
									</div>
								</div>
								<div class="section__column column">
									<div class="brand brand--basic">
										<div class="brand__in brand__content title-secondary"><img src="img/brands/brand-12.png" alt=""></div>
									</div>
								</div>
								<div class="section__column column">
									<div class="brand brand--basic">
										<div class="brand__in brand__content title-secondary"><img src="img/brands/brand-13.png" alt=""></div>
									</div>
								</div>
								<div class="section__column column">
									<div class="brand brand--basic">
										<div class="brand__in brand__content title-secondary"><img src="img/brands/brand-14.png" alt=""></div>
									</div>
								</div>
								<div class="section__column">
									<div class="brand brand--primary">
										<div class="brand__in">
											<div class="brand__content title-secondary">
												<strong>117</strong> brands <br> in assortiment
											</div>
										</div>
									</div>
								</div>
								<div class="section__column column">
									<div class="brand brand--basic">
										<div class="brand__in brand__content title-secondary"><img src="img/brands/brand-15.png" alt=""></div>
									</div>
								</div>
								<div class="section__column">
									<div class="brand brand--primary">
										<div class="brand__in">
											<div class="brand__content title-secondary">
												<strong>117</strong> brands <br> in assortiment
											</div>
										</div>
									</div>
								</div>
								<div class="section__column column">
									<div class="brand brand--basic">
										<div class="brand__in brand__content title-secondary"><img src="img/brands/brand-16.png" alt=""></div>
									</div>
								</div>
								<div class="section__column column">
									<div class="brand brand--basic">
										<div class="brand__in brand__content title-secondary"><img src="img/brands/brand-17.png" alt=""></div>
									</div>
								</div>
								<div class="section__column column">
									<div class="brand brand--basic">
										<div class="brand__in brand__content title-secondary"><img src="img/brands/brand-18.png" alt=""></div>
									</div>
								</div>
								<div class="section__column column">
									<div class="brand brand--basic">
										<div class="brand__in brand__content title-secondary"><img src="img/brands/brand-19.png" alt=""></div>
									</div>
								</div>
								<div class="section__column column">
									<div class="brand brand--basic">
										<div class="brand__in brand__content title-secondary"><img src="img/brands/brand-20.png" alt=""></div>
									</div>
								</div>
								<div class="section__column column">
									<div class="brand brand--basic">
										<div class="brand__in brand__content title-secondary"><img src="img/brands/brand-21.png" alt=""></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-scrollbar--section swiper-scrollbar"></div>
		</div>
	</div>
</div>