.button {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0;
  border: 1px solid $fontColorWarning;
  
  line-height: 1;
  color: $fontColorWarning;
  text-align: center;
  text-decoration: none;

  transition: linear .1s;
  background-color: transparent;
	margin: 0;
  
  &:hover {
    color: $fontColorWarning;
    text-decoration: none;
    transform: scale(.95, .95);

    .link {
      text-decoration: none;
    }
  }
  &--danger {
    background-color: $fontColorWarning;
    color: $fontColorSecondary;
    &:hover {
      color: $fontColorSecondary;
    }
  }
  &--secondary {
    border-color: $fontColorSecondary;
    color: $fontColorSecondary;
    &:hover {
      color: $fontColorSecondary;
    }
  }
	&--third {
		border-color: $UIBackgroundFourth;
		color: $fontColorFirst;
		&:hover {
			color: $fontColorFirst;
		}
	}
	&:focus {
		outline: none;
	}

}

.button__in {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  @include lg() {
    min-height: 50px;
  }
}
