.button-close-menu {
	display: inline-flex;
	align-items: center;
	padding: 0;
	border: none;

	color: $fontColorSecondary;
	text-decoration: none;
	background-color: transparent;
	&:hover {
		opacity: 0.8;
		text-decoration: none;
		color: $fontColorSecondary;
	}
}
.button-close-menu__icon {
	// font-size: 12px;
	font-size: 14px;
	margin-right: 10px;
}

.button-close-menu__text {
	text-transform: uppercase;
}