.button-close {
  background-color: transparent;
  border: none;
  padding: 0;
  border-radius: 2px;

  display: inline-flex;
  flex-direction: column;
  transition: linear .1s;
	&:focus {
		outline: none;
	}
  &:hover {
    opacity: .8;
  }
  &--secondary {
    background-color: #CBCBCB;
  }
}

.button-close__in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}
.button-close__img {
  flex-shrink: 0;
}