.button-control {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid $fontColorWarning;
  padding: 0;

  background-color: transparent;
  transition: transform .2s linear 0s, opacity .5s linear 0s, visibility .5s linear 0s;
  &:hover {
    transform: scale(.95, .95);
  }
	&:focus {
		outline: none;
	}
  &--secondary {
    border-color: transparent;
    &:hover {
      transform: scale(.9, .9);
    }
  }
	&.swiper-button-disabled {
		opacity: 0.2;
	}
	&.animated-hidden {
		// transform: translate(400px, 0);
		opacity: 0;
		visibility: hidden;
	}
}

.button-control__in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 32px;
}

.button-control__row {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

.button-control__icon {
  position: relative;
  flex-shrink: 0;
  &--rotate-90 {
    transform: rotate(90deg);
    top: 2px;
  }
  &--rotate-negative-90 {
    transform: rotate(-90deg);
  }
  &--rotate-reverse {
    transform: rotate(180deg);
    left: -2px;
  }
}