.section {
	&--front-side-history {
		color: $fontColorSecondary;
		.title-primary {
			margin-bottom: 50px;
		}
		.list-content {
			margin-bottom: 100px;
			li {
				&:before {
					border-bottom-color: $UIBackgroundSecondary;
				}
			}
		}
		.section--front-side-inner {

		}
		.section__column-content-secondary--years {
			.section__column-in {
				margin-left: 0;
				margin-right: 0;
			}
		}
		&.active {
			.section__background-secondary {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}