<div class="section section--front-side-secondary section--front-side-history" id="front-side-history">
	<div class="section__in">
		<div class="section__scroll-container swiper-container" data-full-page-scroller>
			<div class="section__scroll-wrapper swiper-wrapper">
				<div class="section__scroll-slide swiper-slide swiper-slide--height-auto">
					<!-- <div class="section__container-animated" data-front-side-animation>
						<div class="section__background" style="background-image: url('./img/sections-bg/front-side-history.jpg');">
							&nbsp;</div>
						<div class="section__container container font-color-secondary">
							<div class="section__content-animated">
								<div class="section__background-secondary">&nbsp;</div>
								<div class="section__content-animated-primary">
									<div class="title-inline dash">about</div>
									<h1>Our history</h1>
									<div>Formed in 1999, LEGION is a leader in the Uzbek market for the distribution of elite alcohol from
										around the world. To date, LEGION has managed not only to strengthen its position in the Uzbek
										market as a reliable supplier of products, but also to become the largest chain of alcoholic
										beverages stores, having won the trust of its customers.</div>
								</div>
								<div class="section__content-animated-secondary" id="content-secondary">
									<div class="title-primary">Now the Legion is...</div>
									<ul class="list-content list-clear">
										<li>The company is a leader in the Uzbek market for the distribution of elite alcohol from all over
											the world</li>
										<li>Includes 26 outlets throughout the city of Tashkent and 7 in the regions of Uzbekistan</li>
										<li>The assortment of each store includes more than 1,500 items</li>
										<li>We have all the necessary licenses for local and imported alcohol</li>
									</ul>
									<div class="section__row-content-secondary row">
										<div class="section__column-content-secondary section__column-content-secondary--years column">
											<div class="section__column-in">
												<img src="img/content/14-years.svg" alt="">
												<div class="title-inline">лет на рынке <br> Узбекистана</div>
											</div>
										</div>
									</div>
								</div>
								<a class="section__content-more font-color-secondary" data-content-toggle href="#content-secondary">
									<span class="section__content-more-show">Показать ещё</span>
									<span class="section__content-more-hide">Скрыть</span>
								</a>
							</div>
						</div>
					</div> -->
					<div class="section__main-wrap" data-front-side-animation>
						<div class="section__container container font-color-secondary">
							<div class="section__background" style="background-image: url('./img/sections-bg/front-side-history.jpg');">
								&nbsp;</div>
							<div class="section__content">
								<div class="section__content-in">
									<div class="section__content-animated-primary">
										<div class="title-inline dash">about</div>
										<h1>Our history</h1>
										<div>Formed in 1999, LEGION is a leader in the Uzbek market for the distribution of elite alcohol
											from around the world. To date, LEGION has managed not only to strengthen its position in the
											Uzbek market as a reliable supplier of products, but also to become the largest chain of alcoholic
											beverages stores, having won the trust of its customers.</div>
									</div>
									<div class="section__content-animated-secondary" id="content-secondary">

										<div class="title-primary">Now the Legion is...</div>
										<ul class="list-content list-clear">
											<li>The company is a leader in the Uzbek market for the distribution of elite alcohol from all
												over the world</li>
											<li>Includes 26 outlets throughout the city of Tashkent and 7 in the regions of Uzbekistan</li>
											<li>The assortment of each store includes more than 1,500 items</li>
											<li>We have all the necessary licenses for local and imported alcohol</li>
										</ul>
										<div class="section__row-content-secondary row">
											<div class="section__column-content-secondary section__column-content-secondary--years column">
												<div class="section__column-in">
													<img src="img/content/14-years.svg" alt="">
													<div class="title-inline">лет на рынке <br> Узбекистана</div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
						<div class="section__rhombus-lines">
							<div class="rhombus">&nbsp;</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-scrollbar--section swiper-scrollbar"></div>
		</div>
	</div>
</div>