<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="theme-color" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" type="image/png" href="favicon-16x16.png">
	<link rel="icon" type="image/png" href="favicon-32x32.png">
	<style>
		.preloader {
			position: fixed;
			width: 100%;
			height: 100%;
			z-index: 99999;

			display: flex;
			flex-direction: column;
			background-color: #fff;
			transition: linear .3s;
		}

		.preloader.hidden {
			opacity: 0;
			visibility: hidden;
		}
		.preloader__in {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex-grow: 1;
		}

		.preloader__frame {
			position: relative;
			flex-shrink: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 280px;
			height: 100px;
			overflow: hidden;
		}

		.preloader__logo-txt {
			position: relative;
			z-index: 2;
		}

		.preloader__layers-wrap {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;

			-webkit-animation: up-animation 2s linear;
			-moz-animation: up-animation 2s linear;
			-o-animation: up-animation 2s linear;
			animation: up-animation 2s linear;
		}

		.preload__layer {
			position: absolute;
			max-width: none;
			background-position: 0 0;
			background-repeat: repeat-x;

			font-size: 0;
			
		}

		.preloader__layer--primary {
			top: 8px;
			left: 0;

			width: 327px;
			height: 118px;

			-webkit-animation: wave 5s infinite linear;
			-moz-animation: wave 5s infinite linear;
			-o-animation: wave 5s infinite linear;
			animation: wave 5s infinite linear;

		}

		.preloader__layer--secondary {
			top: 0;
			left: 0;

			width: 327px;
			height: 40px;
			max-width: none;

			-webkit-animation: wave 3s infinite linear;
			-moz-animation: wave 3s infinite linear;
			-o-animation: wave 3s infinite linear;
			animation: wave 3s infinite linear;
		}
		@-webkit-keyframes wave {
			0% {
				background-position: 0 0;
			}

			100% {
				background-position: 327px 0;
			}
		}

		@-moz-keyframes wave {
			0% {
				background-position: 0 0;
			}

			100% {
				background-position: 327px 0;
			}
		}

		@-o-keyframes wave {
			0% {
				background-position: 0 0;
			}

			100% {
				background-position: 327px 0;
			}
		}

		@keyframes wave {
			0% {
				background-position: 0 0;
			}

			100% {
				background-position: 327px 0;
			}
		}
		
		@-webkit-keyframes up-animation {
			0% {
				top: 100%;
			}
			100% {
				top: 0;
			}
		}

		@-moz-keyframes up-animation {
			0% {
				top: 100%;
			}
			100% {
				top: 0;
			}
		}

		@-o-keyframes up-animation {
			0% {
				top: 100%;
			}
			100% {
				top: 0;
			}
		}

		@keyframes up-animation {
			0% {
				top: 100%;
			}
			100% {
				top: 0;
			}
		}
	</style>
	<link rel="stylesheet" href="css/styles.css">
</head>