.nav-list {
	list-style: none;
	margin: 0;
	padding: 0;
	&--basic {
		display: flex;
		flex-wrap: wrap;
		.nav-list__item {
			border-bottom: 2px solid $UIBackgroundFourth;
			margin-bottom: 20px;
		}
		.nav-list__link {
			display: block;
			// padding: 14px 50px;
			padding: 14px 40px 9px;
			
			text-align: center;
			color: $fontColorThird;
			text-decoration: none;
			background-color: $UIBackgroundSecondary;
			&:hover {
				color: $fontColorPrimary;
			}
			&.active {
				background: $UIBackgroundAttention;
				color: $fontColorSecondary;
			}
		}
	}
}
