.section {
  &--values {
    .section__container {
      max-width: 1200px;
    }
    .section__title {
      text-align: center;
      max-width: 850px;
      margin: 0 auto 9%;
    }
    .title-primary {
      margin-bottom: 5%;
    }
    .section__row {
      justify-content: center;
      @include xl() {
        justify-content: space-between;
      }
    }
    .section__column {
      width: 100%;
      max-width: 570px;
      margin-bottom: 30px;
    }
  }
}