<div class="section section--values">
	<!-- <div class="section__background" style="background-image: url('./img/sections-bg/front-side-history.jpg');">&nbsp;</div> -->
	<div class="section__in">
		<div class="section__scroll-container swiper-container" data-full-page-scroller>
			<div class="section__scroll-wrapper swiper-wrapper">
				<div class="section__scroll-slide swiper-slide swiper-slide--height-auto">
					<div class="section__indents">
						<div class="section__container container">
              <div class="section__title">
                <div class="title-primary">Our values</div>
                <div>To be the best alcoholic beverage company that forms the high standards of a civilized business and industry, whose products are always number 1 for consumers in any category and every outlet.</div>
              </div>
              <div class="section__row row">
                <div class="section__column column">
                  <div class="advantage advantage--values">
                    <div class="advantage__row row">
                      <div class="advantage__column advantage__column--img column">
                        <img class="advantage__img" src="img/wine.svg" alt="">
                      </div>
                      <div class="advantage__column advantage__column--content column">
                        <div class="advantage__title font-color-primary font-weight-bold">Building brand awareness</div>
                        <div class="advantage__text font-color-primary-second">Marketing goals are specific objectives described in a marketing plan. These goals can be tasks, quotas, improvements in KPIs</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="section__column column">
                  <div class="advantage advantage--values">
                    <div class="advantage__row row">
                      <div class="advantage__column advantage__column--img column">
                        <img class="advantage__img" src="img/wine.svg" alt="">
                      </div>
                      <div class="advantage__column advantage__column--content column">
                        <div class="advantage__title font-color-primary font-weight-bold">Building brand awareness</div>
                        <div class="advantage__text font-color-primary-second">Marketing goals are specific objectives described in a marketing plan. These goals can be tasks, quotas, improvements in KPIs</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="section__column column">
                  <div class="advantage advantage--values">
                    <div class="advantage__row row">
                      <div class="advantage__column advantage__column--img column">
                        <img class="advantage__img" src="img/wine.svg" alt="">
                      </div>
                      <div class="advantage__column advantage__column--content column">
                        <div class="advantage__title font-color-primary font-weight-bold">Building brand awareness</div>
                        <div class="advantage__text font-color-primary-second">Marketing goals are specific objectives described in a marketing plan. These goals can be tasks, quotas, improvements in KPIs</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="section__column column">
                  <div class="advantage advantage--values">
                    <div class="advantage__row row">
                      <div class="advantage__column advantage__column--img column">
                        <img class="advantage__img" src="img/wine.svg" alt="">
                      </div>
                      <div class="advantage__column advantage__column--content column">
                        <div class="advantage__title font-color-primary font-weight-bold">Building brand awareness</div>
                        <div class="advantage__text font-color-primary-second">Marketing goals are specific objectives described in a marketing plan. These goals can be tasks, quotas, improvements in KPIs</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-scrollbar--section swiper-scrollbar"></div>
		</div>
	</div>
</div>