.carousel {
	&--basic {
		@include lg() {
			cursor: pointer;
		}
		.carousel__slide {
			display: flex;
			flex-direction: column;

			width: 100%;
			max-width: 100%;
			flex: 0 0 100%;
			padding-left: 15px;
			padding-right: 15px;

			transition: transform 0.5s linear 1s, max-width 0.5s linear 0.5s, flex-basis 0.5s linear 0.5s,
				padding-left 0.5s linear 0.5s, padding-right 0.5s linear 0.5s, margin-left 0.5s linear 0.5s;
			@include lg() {
				max-width: 25%;
				flex: 0 0 25%;
			}
			&--expanded {
				transition: 0.5s linear 1s;
				@include lg() {
					max-width: 100%;
					flex: 0 0 100%;
				}
				.carousel__card-expand {
					bottom: 0;
				}
				.carousel__card-collapse {
					transform: translate(-400px, 200px);
					opacity: 0;
					visibility: hidden;
					transition: all 0.5s linear 0s;
				}
				.carousel__card-column-expand {
					&--img {
						max-width: 450px;
						transition: all 0.5s linear 1s;
					}
					&--content {
						transform: translate(0, 0);
						max-height: 100%;
						max-width: 100%;
						padding: 40px;
						opacity: 1;
						visibility: visible;
						transition: max-height 0s linear 1.5s, max-width 0s linear 1.5s, opacity 0.5s linear 1.5s,
							visibility 0.5s linear 1.5s, transform 0.5s linear 1.5s, padding-left 0s linear 1.5s,
							padding-right 0s linear 1.5s;
					}
				}
			}

			&--hide-prev {
				transform: translate(-1000px, 0);
				padding: 0;
				transition: transform 0.5s linear 0.5s, max-width 0.5s linear 1s, flex-basis 0.5s linear 1s,
				padding-left 0.5s linear 1s, padding-right 0.5s linear 1s, margin-left 0.5s linear 1s;
				@include lg() {
					max-width: 0;
					flex: 0 0 0;
				}
			}

			&--hide-next {
				transform: translate(1000px, 0);
				padding: 0;
				transition: transform 0.5s linear 0.5s, max-width 0.5s linear 1s, flex-basis 0.5s linear 1s,
				padding-left 0.5s linear 1s, padding-right 0.5s linear 1s, margin-left 0.5s linear 1s;
				@include lg() {
					max-width: 0;
					flex: 0 0 0;
				}
			}
		}

		.carousel__slide-in {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
		}

		.carousel__card {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
		}

		.carousel__card-expand {
			min-width: 100%;
		}

		.carousel__card-row-expand {
			flex-direction: column;
			background-color: $UIBackgroundSecondary;
			margin: 0;
			@include md() {
				background-color: transparent;
				flex-wrap: nowrap;
				flex-direction: row;
			}
			@include lg() {
				align-items: center;
			}
		}

		.carousel__card-column-expand {
			padding: 0;
			width: 100%;
			// background-color: $UIBackgroundSecondary;

			&--img {
				padding: 20px 20px 0 20px;
				max-width: 330px;
				@include md() {
					max-width: 280px;
					padding: 0;
				}
				@include lg() {
					max-width: 330px;	
					transition: all 0.5s linear 0.5s;
				}
			}

			&--content {
				background-color: $UIBackgroundSecondary;
				padding: 20px;
				@include lg() {
					max-height: 0;
					max-width: 0;
					transform: translate(400px, 0);
					flex-grow: 1;
					padding: 0;
	
					opacity: 0;
					visibility: hidden;
					transition: max-height 0s linear 0.5s, max-width 0s linear 0.5s, opacity 0.5s linear 0s,
						visibility 0.5s linear 0s, transform 0.5s linear 0s, padding 0s linear 0.5s;
				}
			}
		}
		.carousel__card-img {
			width: 100%;
		}

		.carousel__card-wrap {
			padding: 35px;
			background-color: $UIBackgroundSecondary;
		}

		.carousel__card-expand-head {
			position: relative;
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid $UIBackgroundFifth;
		}

		.carousel__card-expand-close {
			display: none;
			@include lg() {
				position: absolute;
				top: 40px;
				right: 25px;
				z-index: 10;
				display: block;
			}
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				position: relative;
				padding-left: 15px;

				&:before {
					content: "";
					position: absolute;
					top: 10px;
					left: 0;
					margin-right: 10px;
					width: 4px;
					height: 4px;
					border-radius: 50%;
					background-color: $UIBackgroundAttention;
				}
			}
		}

		blockquote {
			position: relative;
			padding: 25px 35px;
			font-style: italic;

			&:before,
			&:after {
				content: "";
				position: absolute;

				background-image: url("../img/quot.svg");
				background-repeat: no-repeat;
				background-position: 50% 50%;
				width: 29px;
				height: 23px;
			}

			&:before {
				top: 15px;
				left: 0;
			}

			&:after {
				bottom: 0;
				right: 0;
			}
		}

		.carousel__card-collapse {
			display: none;
			@include lg() {
				display: block;
				margin-top: auto;
				text-align: center;
				padding-top: 15px;
				transition: all 0.5s linear 0.5s;
			}
		}
	}
}
