.section {
	&--front-side-stores {
		.section__title-sub {
			margin-bottom: 15px;
		}
		.section__nav-list {
			margin-bottom: 55px;
		}
		.section__map-head-row {
			@media screen and (min-width: $xxl) {
				margin-bottom: 50px;
			}
		}
		.section__map-head-column {
			width: 100%;
			max-width: 480px;
			margin-bottom: 20px;
		}
		.section__select-wrap {
			max-width: none;
			margin-top: 0;
		}
		.section__select {
			width: 100%;
		}
	}
}