<div class="section section--front-side-third section--front-side-stores" id="front-side-stores">
	<div class="section__in">
		<div class="section__scroll-container swiper-container" data-full-page-scroller>
			<div class="section__scroll-wrapper swiper-wrapper">
				<div class="section__scroll-slide swiper-slide swiper-slide--height-auto">

					<div class="section__main-wrap" data-front-side-animation>
						<div class="section__container container font-color-secondary">

							<div class="section__background" style="background-image: url('./img/chain-of-stores.jpg');">&nbsp;</div>
							<div class="section__content">
								<div class="section__content-in">
									<div class="title-inline dash">about</div>
									<h1>Stores</h1>
									<div>We invite active, young and open people to become part of our team.</div>
								</div>
							</div>

						</div>
					</div>
					<div class="section__content-wrap">
						<div class="section__container-stores container">
							<div class="section__title">
								<h2>Chain of stores</h2>
							</div>
							<div class="section__map-head-row row">
								<div class="section__map-head-column column">
									<div class="section__select-wrap">
										<div class="section__select select select--secondary" data-select>
											<div class="select__btn">
												<div class="select__btn-txt">Choose City</div>
												<div class="select__btn-icon">
													<svg class='svg-icon'>
														<use xlink:href='img/svgSprite.svg#angle'></use>
													</svg>
												</div>
											</div>
											<div class="select__drop">
												<div class="select__scroll-container swiper-container" data-select-scroller>
													<div class="select__scroll-wrapper swiper-wrapper">
														<div class="select__scroll-slide swiper-slide swiper-slide--height-auto">
															<ul class="select__list list-clear">
																<li class="select__list-item">
																	<a class="select__list-link" href="#all" data-select-map>All Cities</a>
																</li>
																<li class="select__list-item">
																	<a class="select__list-link" href="#tashkent" data-select-map>Tashkent</a>
																</li>
																<li class="select__list-item">
																	<a class="select__list-link" href="#samarqand" data-select-map>Samarqand</a>
																</li>
																<li class="select__list-item">
																	<a class="select__list-link" href="#fergana" data-select-map>Fergana</a>
																</li>
																<li class="select__list-item">
																	<a class="select__list-link" href="#namangan" data-select-map>Namangan</a>
																</li>
																<li class="select__list-item">
																	<a class="select__list-link" href="#andijan" data-select-map>Andijan</a>
																</li>
																<li class="select__list-item">
																	<a class="select__list-link" href="#nukus" data-select-map>Nukus</a>
																</li>
																<li class="select__list-item">
																	<a class="select__list-link" href="#bukhara" data-select-map>Bukhara</a>
																</li>
																<li class="select__list-item">
																	<a class="select__list-link" href="#qarshi" data-select-map>Qarshi</a>
																</li>
															</ul>
														</div>
													</div>
													<div class="swiper-scrollbar swiper-scrollbar--select"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- <div class="section__map-head-column column">
									<div class="section__select-wrap">
										<div class="section__select select select--secondary">
											<div class="select__btn">
												<div class="select__btn-txt">Choose district</div>
												<div class="select__btn-icon">
													<svg class='svg-icon'>
														<use xlink:href='img/svgSprite.svg#angle'></use>
													</svg>
												</div>
											</div>
											<div class="select__drop">
												<div class="select__scroll-container swiper-container" data-select-scroller>
													<div class="select__scroll-wrapper swiper-wrapper">
														<div class="select__scroll-slide swiper-slide swiper-slide--height-auto">
															<ul class="select__list list-clear">
																<li class="select__list-item">
																	<a class="select__list-link" href="#" data-select-map>all Disctricts</a>
																</li>
																<li class="select__list-item">
																	<a class="select__list-link" href="#" data-select-map>Bektemir</a>
																</li>
																<li class="select__list-item">
																	<a class="select__list-link" href="#" data-select-map>Mirzo-Uluzbek</a>
																</li>
																<li class="select__list-item">
																	<a class="select__list-link" href="#" data-select-map>Mirobad</a>
																</li>
																<li class="select__list-item">
																	<a class="select__list-link" href="#" data-select-map>Olmazor</a>
																</li>
																<li class="select__list-item">
																	<a class="select__list-link" href="#" data-select-map>Sergeli</a>
																</li>
																<li class="select__list-item">
																	<a class="select__list-link" href="#" data-select-map>Uchtepa</a>
																</li>
																<li class="select__list-item">
																	<a class="select__list-link" href="#" data-select-map>Yashnabad</a>
																</li>
																<li class="select__list-item">
																	<a class="select__list-link" href="#" data-select-map>Chilanzar</a>
																</li>
																<li class="select__list-item">
																	<a class="select__list-link" href="#" data-select-map>Shayhontahur</a>
																</li>
																<li class="select__list-item">
																	<a class="select__list-link" href="#" data-select-map>Yunusobod</a>
																</li>
																<li class="select__list-item">
																	<a class="select__list-link" href="#" data-select-map>Yakkasaroy</a>
																</li>
															</ul>
														</div>
													</div>
													<div class="swiper-scrollbar swiper-scrollbar--select"></div>
												</div>
											</div>
										</div>
									</div>
								</div> -->
							</div>
						</div>
						<div class="map map--secondary">
							<div class="map__frame">
								<div class="map__frame-in" id="map"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-scrollbar--section swiper-scrollbar"></div>
		</div>
	</div>
</div>