// WRITE @FONT-FACE
// =================


@each $font in $fontsConfig {
	$fontName: map-get($font, 'fontName');
	$fontSrc: map-get($font, 'fontSrc');
	$fontConfig: map-get($font, 'fontConfig');

	@each $fontFace in $fontConfig {
		$weight: map-get($fontFace, 'weight');
		$style: map-get($fontFace, 'style');
		$srcStylePart: '';
		
		@if($style == 'italic') {
			$srcStylePart: 'italic';
		}
	
		@include font-face($fontName, '#{$fontSrc}-#{$weight}#{$srcStylePart}', $weight, $style, woff woff2);
	}
};

// ========================
// ========================