p {

}
b, strong {
  font-weight: 600;
}
em, i {

}
u {

}
s {

}

ol {

}
ul {

}
a {
  color: $fontColorFirst;
  text-decoration: underline;
  &:hover {
    color: $fontColorFirst;
    text-decoration: none;
  }
}
blockquote {

}

.devider {
  margin: 0;
  border: none;
  border-top: 1px solid $UIBackgroundFifth;
  &--vertical {
    border-left: 1px solid $UIBackgroundFifth;
    height: 100%;
  }
}

small, time {
  font-size: 12px;
  @include xl() {
    font-size: 14px;
  }
}

img {
  max-width: 100%;
  height: auto;
}