// WRITE Titles
// =================


// @each $title in $titlesConfig {
// 	$element: map-get($title, 'selector');
// 	$fontSize: map-get($title, 'fontSize');
// 	$fontSize_md: map-get($title, 'fontSize_md');
// 	$fontSize_xl: map-get($title, 'fontSize_xl');
// 	$lineHeight: map-get($title, 'lineHeight');
// 	$fontWeight: map-get($title, 'fontWeight');

// 	@debug $element;
// 	@debug $fontSize;
// 	@debug $fontSize_md;
// 	@debug $fontSize_xl;
// 	@debug $lineHeight;
// 	@debug $fontWeight;


// 	@include titles($element, $fontSize, $fontSize_md, $fontSize_xl, $lineHeight, $fontWeight);
// };

h1, h2, h3, h4, h5, h6 {
	font-weight: $globalTitleFontWeight;
}

h1 {
	font-family: $fontSecondary, sans-serif;
	font-size: $titlePrimaryFontSize / $UIRelativeValue_xl + rem;
	line-height: $titlePrimaryLineHeight;
}

h2 {
	font-family: $fontSecondary, sans-serif;
	font-size: $titleRegularFontSize / $UIRelativeValue_xl + rem;
}

h3 {
	font-size: $titleSecondaryFontSize + px;
	font-weight: $titleSecondaryFontWeight;
	@include md() {
		font-size: $titleSecondaryFontSize_md + px;
	}
	@include xl() {
		font-size: $titleSecondaryFontSize_xl + px;
	}
}

h4 {
	font-size: $titleInlineFontSize + px;
	@include md() {
		font-size: $titleInlineFontSize_md + px;
	}
	@include xl() {
		font-size: $titleInlineFontSize_xl + px;
	}
}

h5 {
	font-size: $UIContentFontSize + px;
	@include md() {
		font-size: $UIContentFontSize_md + px;
	}
	@include xl() {
		font-size: $UIContentFontSize_xl + px;
	}
}

h6 {
	font-size: 12px;
	font-weight: 700;
	@include md() {
		font-size: 14px;
	}
}

// ========================
// ========================