.section {
	&--footer-vacancies {
		.section__indents {
			min-height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		color: $fontColorSecondary;
		.section__content {
			max-width: 710px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
		.title-primary {
			margin-bottom: 7%;
		}
		.title-secondary {
			margin-bottom: 7%;
		}
		.button {
			max-width: 220px;
			margin: 0 auto;
		}
	}
}