<div class="section section--footer-vacancies">
	<div class="section__in">
		<div class="section__scroll-container swiper-container" data-full-page-scroller>
			<div class="section__scroll-wrapper swiper-wrapper">
				<div class="section__scroll-slide swiper-slide swiper-slide--height-auto">
					<div class="section__indents">
						<div class="section__background" style="background-image: url('img/sections-bg/vacancies.jpg');">&nbsp;</div>
						<div class="section__container container">
							<div class="section__content">
								<div class="title-primary">1 345+ employees</div>
								<div class="title-secondary font-weight-normal">talented employees are united by one main business - the development and creation of service for all categories of buyers. A service that will conquer everyone!</div>
								<a class="button button--secondary" href="#">
									<span class="button__in">See vacancies</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-scrollbar--section swiper-scrollbar"></div>
		</div>
	</div>
</div>

