.section {
  &--socials {
    .section__container {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .section__title-socials {
      text-align: center;
      margin-bottom: 8%;
      @include md() {
        margin-bottom: 4%;
      }
    }
    .section__socials-list {
      max-width: 644px;
      margin: 0 auto;
    }
  }
}