<div class="section section--socials" id="socials">
  <div class="section__in">
    <div class="section__scroll-container swiper-container" data-full-page-scroller>
      <div class="section__scroll-wrapper swiper-wrapper">
        <div class="section__scroll-slide swiper-slide swiper-slide--height-auto">
          <div class="section__container section__container--centered container">
            <div class="section__title-socials font-color-warning">
              <h2>We in Social network</h2>
            </div>
            <div class="section__socials-list socials-list socials-list--basic">
              <div class="socials-list__in row">
                <div class="socials-list__item column">
                  <a class="socials-list__link" href="#">
                    <img src="img/socials/fb.svg" alt="">
                  </a>
                </div>
                <div class="socials-list__item column">
                  <a class="socials-list__link" href="#">
                    <img src="img/socials/vk.svg" alt="">
                  </a>
                </div>
                <div class="socials-list__item column">
                  <a class="socials-list__link" href="#">
                    <img src="img/socials/tw.svg" alt="">
                  </a>
                </div>
                <div class="socials-list__item column">
                  <a class="socials-list__link" href="#">
                    <img src="img/socials/tg.svg" alt="">
                  </a>
                </div>
                <div class="socials-list__item column">
                  <a class="socials-list__link" href="#">
                    <img src="img/socials/insta.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-scrollbar--section swiper-scrollbar"></div>
    </div>
  </div>
</div>

