.section {
	&--employees {
		.section__indents {
			@include lg() {
				min-height: 820px;
			}
		}
		.section__head {
		
		}
		.section__head-row {
			justify-content: space-between;
			align-items: center;
			margin-bottom: 15px;
			@include md() {
				margin-bottom: 30px;
			}
		}
		.section__head-column {
			margin-bottom: 20px;
		}
		.section__head-column {

		}
		.section__row-nav {

		}
		.section__column-nav {

		}
		h2 {
			margin: 0;
		}
	}
}