<div class="section section--employees" id="employees">
  <div class="section__in">
    <div class="section__scroll-container swiper-container" data-full-page-scroller>
      <div class="section__scroll-wrapper swiper-wrapper">
        <div class="section__scroll-slide swiper-slide swiper-slide--height-auto">
					<div class="section__indents">
						<div class="section__container container">
							<div class="section__head">
								<div class="section__head-row row">
									<div class="section__head-column column">
										<h2>Information about employees</h2>
									</div>
									<div class="section__head-column column">
										<div class="section__row-nav row" >
											<div class="section__column-nav column">
												<button class="button-control" type="button" data-carousel-employees-prev>
													<span class="button-control__in">
														<img class="button-control__icon button-control__icon--rotate-reverse" src="img/icons/angle.svg" width="9" alt="">
													</span>
												</button>
											</div>
											<div class="section__column-nav column">
												<button class="button-control" type="button" data-carousel-employees-next>
													<span class="button-control__in">
														<img class="button-control__icon" src="img/icons/angle.svg" width="9" alt="">
													</span>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="section__carousel row">
								<div class="carousel carousel--basic swiper-container" data-carousel-employees>
									<div class="carousel__frame swiper-wrapper">
										<div class="carousel__slide swiper-slide" data-carousel-slide>
											<div class="carousel__slide-in">
												<div class="carousel__card">
													<div class="carousel__card-expand" data-carousel-slide-expand>
														<div class="carousel__card-row-expand row">
															<div class="carousel__card-column-expand carousel__card-column-expand--img column">
																<div class="carousel__card-img-wrap">
																	<img class="carousel__card-img" src="img/employeer-1.jpg"/>
																</div>
															</div>
															<div class="carousel__card-column-expand carousel__card-column-expand--content column">
																<div class="carousel__card-expand-wrap">
																	<div class="carousel__card-expand-close">
																		<button class="button-close button-close--secondary" type="button" data-carousel-close>
																			<span class="button-close__in">
																				<img class="button-close__icon" src="img/icons/close-black.svg" width="12" alt="">
																			</span>
																		</button>
																	</div>
																	<div class="carousel__card-expand-head">
																		<div class="title-secondary font-color-warning">Esther Howard</div>
																		<div class="font-color-primary-second">manager, market on Navoyi Street</div>
																	</div>
																	<div class="carousel__card-expand-content">
																		<ul>
																			<li>Достижение года!</li>
																			<li>Значительное повышение продаж относительно 2019 года!</li>
																			<li>Получение официального статуса страницы Бренда </li>
																			<li>Повышение узнаваемости и лояльности среди потребителей</li>
																			<li>Проведение самых позитивных и успешных активностей.</li>
																		</ul>
																		<blockquote>В первую очередь, я полюбила бренд, его концепцию и идеи. После того, как это все начали доносить до потребителей и “лидеров” мнения, стали заметны прогрессы в увеличении продаж. Самое главное приобретение этого года - единомышленники, которые помогли достичь цель.</blockquote>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="carousel__card-collapse">
														<div class="title-inline font-weight-semi">Bessie Cooper</div>
														<div class="font-color-primary-second">manager, market on Navoyi Street</div>
													</div>
												</div>
											</div>
										</div>
										<div class="carousel__slide swiper-slide" data-carousel-slide>
											<div class="carousel__slide-in">
												<div class="carousel__card">
													<div class="carousel__card-expand" data-carousel-slide-expand>
														<div class="carousel__card-row-expand row">
															<div class="carousel__card-column-expand carousel__card-column-expand--img column">
																<div class="carousel__card-img-wrap">
																	<img class="carousel__card-img" src="img/employeer-1.jpg"/>
																</div>
															</div>
															<div class="carousel__card-column-expand carousel__card-column-expand--content column">
																<div class="carousel__card-expand-wrap">
																	<div class="carousel__card-expand-close">
																		<button class="button-close button-close--secondary" type="button" data-carousel-close>
																			<span class="button-close__in">
																				<img class="button-close__icon" src="img/icons/close-black.svg" width="12" alt="">
																			</span>
																		</button>
																	</div>
																	<div class="carousel__card-expand-head">
																		<div class="title-secondary font-color-warning">Esther Howard</div>
																		<div class="font-color-primary-second">manager, market on Navoyi Street</div>
																	</div>
																	<div class="carousel__card-expand-content">
																		<ul>
																			<li>Достижение года!</li>
																			<li>Значительное повышение продаж относительно 2019 года!</li>
																			<li>Получение официального статуса страницы Бренда </li>
																			<li>Повышение узнаваемости и лояльности среди потребителей</li>
																			<li>Проведение самых позитивных и успешных активностей.</li>
																		</ul>
																		<blockquote>В первую очередь, я полюбила бренд, его концепцию и идеи. После того, как это все начали доносить до потребителей и “лидеров” мнения, стали заметны прогрессы в увеличении продаж. Самое главное приобретение этого года - единомышленники, которые помогли достичь цель.</blockquote>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="carousel__card-collapse">
														<div class="title-inline font-weight-semi">Bessie Cooper</div>
														<div class="font-color-primary-second">manager, market on Navoyi Street</div>
													</div>
												</div>
											</div>
										</div>
										<div class="carousel__slide swiper-slide" data-carousel-slide>
											<div class="carousel__slide-in">
												<div class="carousel__card">
													<div class="carousel__card-expand" data-carousel-slide-expand>
														<div class="carousel__card-row-expand row">
															<div class="carousel__card-column-expand carousel__card-column-expand--img column">
																<div class="carousel__card-img-wrap">
																	<img class="carousel__card-img" src="img/employeer-1.jpg"/>
																</div>
															</div>
															<div class="carousel__card-column-expand carousel__card-column-expand--content column">
																<div class="carousel__card-expand-wrap">
																	<div class="carousel__card-expand-close">
																		<button class="button-close button-close--secondary" type="button" data-carousel-close>
																			<span class="button-close__in">
																				<img class="button-close__icon" src="img/icons/close-black.svg" width="12" alt="">
																			</span>
																		</button>
																	</div>
																	<div class="carousel__card-expand-head">
																		<div class="title-secondary font-color-warning">Esther Howard</div>
																		<div class="font-color-primary-second">manager, market on Navoyi Street</div>
																	</div>
																	<div class="carousel__card-expand-content">
																		<ul>
																			<li>Достижение года!</li>
																			<li>Значительное повышение продаж относительно 2019 года!</li>
																			<li>Получение официального статуса страницы Бренда </li>
																			<li>Повышение узнаваемости и лояльности среди потребителей</li>
																			<li>Проведение самых позитивных и успешных активностей.</li>
																		</ul>
																		<blockquote>В первую очередь, я полюбила бренд, его концепцию и идеи. После того, как это все начали доносить до потребителей и “лидеров” мнения, стали заметны прогрессы в увеличении продаж. Самое главное приобретение этого года - единомышленники, которые помогли достичь цель.</blockquote>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="carousel__card-collapse">
														<div class="title-inline font-weight-semi">Bessie Cooper</div>
														<div class="font-color-primary-second">manager, market on Navoyi Street</div>
													</div>
												</div>
											</div>
										</div>
										<div class="carousel__slide swiper-slide" data-carousel-slide>
											<div class="carousel__slide-in">
												<div class="carousel__card">
													<div class="carousel__card-expand" data-carousel-slide-expand>
														<div class="carousel__card-row-expand row">
															<div class="carousel__card-column-expand carousel__card-column-expand--img column">
																<div class="carousel__card-img-wrap">
																	<img class="carousel__card-img" src="img/employeer-1.jpg"/>
																</div>
															</div>
															<div class="carousel__card-column-expand carousel__card-column-expand--content column">
																<div class="carousel__card-expand-wrap">
																	<div class="carousel__card-expand-close">
																		<button class="button-close button-close--secondary" type="button" data-carousel-close>
																			<span class="button-close__in">
																				<img class="button-close__icon" src="img/icons/close-black.svg" width="12" alt="">
																			</span>
																		</button>
																	</div>
																	<div class="carousel__card-expand-head">
																		<div class="title-secondary font-color-warning">Esther Howard</div>
																		<div class="font-color-primary-second">manager, market on Navoyi Street</div>
																	</div>
																	<div class="carousel__card-expand-content">
																		<ul>
																			<li>Достижение года!</li>
																			<li>Значительное повышение продаж относительно 2019 года!</li>
																			<li>Получение официального статуса страницы Бренда </li>
																			<li>Повышение узнаваемости и лояльности среди потребителей</li>
																			<li>Проведение самых позитивных и успешных активностей.</li>
																		</ul>
																		<blockquote>В первую очередь, я полюбила бренд, его концепцию и идеи. После того, как это все начали доносить до потребителей и “лидеров” мнения, стали заметны прогрессы в увеличении продаж. Самое главное приобретение этого года - единомышленники, которые помогли достичь цель.</blockquote>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="carousel__card-collapse">
														<div class="title-inline font-weight-semi">Bessie Cooper</div>
														<div class="font-color-primary-second">manager, market on Navoyi Street</div>
													</div>
												</div>
											</div>
										</div>
										<div class="carousel__slide swiper-slide" data-carousel-slide>
											<div class="carousel__slide-in">
												<div class="carousel__card">
													<div class="carousel__card-expand" data-carousel-slide-expand>
														<div class="carousel__card-row-expand row">
															<div class="carousel__card-column-expand carousel__card-column-expand--img column">
																<div class="carousel__card-img-wrap">
																	<img class="carousel__card-img" src="img/employeer-1.jpg"/>
																</div>
															</div>
															<div class="carousel__card-column-expand carousel__card-column-expand--content column">
																<div class="carousel__card-expand-wrap">
																	<div class="carousel__card-expand-close">
																		<button class="button-close button-close--secondary" type="button" data-carousel-close>
																			<span class="button-close__in">
																				<img class="button-close__icon" src="img/icons/close-black.svg" width="12" alt="">
																			</span>
																		</button>
																	</div>
																	<div class="carousel__card-expand-head">
																		<div class="title-secondary font-color-warning">Esther Howard</div>
																		<div class="font-color-primary-second">manager, market on Navoyi Street</div>
																	</div>
																	<div class="carousel__card-expand-content">
																		<ul>
																			<li>Достижение года!</li>
																			<li>Значительное повышение продаж относительно 2019 года!</li>
																			<li>Получение официального статуса страницы Бренда </li>
																			<li>Повышение узнаваемости и лояльности среди потребителей</li>
																			<li>Проведение самых позитивных и успешных активностей.</li>
																		</ul>
																		<blockquote>В первую очередь, я полюбила бренд, его концепцию и идеи. После того, как это все начали доносить до потребителей и “лидеров” мнения, стали заметны прогрессы в увеличении продаж. Самое главное приобретение этого года - единомышленники, которые помогли достичь цель.</blockquote>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="carousel__card-collapse">
														<div class="title-inline font-weight-semi">Bessie Cooper</div>
														<div class="font-color-primary-second">manager, market on Navoyi Street</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
        </div>
      </div>
      <div class="swiper-scrollbar--section swiper-scrollbar"></div>
    </div>
  </div>
</div>

