<div class="section section--article-society" id="society">
  <div class="section__in">
    <div class="section__scroll-container swiper-container" data-full-page-scroller>
      <div class="section__scroll-wrapper swiper-wrapper">
        <div class="section__scroll-slide swiper-slide swiper-slide--height-auto">
          <div class="section__indents">
            <div class="section__content content-section content-section--basic content-section--basic-secondary">
              <div class="content-section__img-wrap">
                <div class="content-section__img" style="background-image: url('./img/article-society.jpg')" alt="">&nbsp;</div>
              </div>
              <div class="content-section__container container">
                <div class="content-section__row row">
                  <div class="content-section__column column">
                    <div class="content-section__content">
                      <h2>
                        Alcohol and society
                        <span>inside and outside the company</span>
                      </h2>
                      <p>Excessive consumption of alcoholic beverages is associated with the risk of serious illness,
                        so the marketing of alcoholic beverages must be carried out responsibly.
                        The group's activities to promote and distribute its products are aimed primarily at adult consumers and are carried out taking
                        into account all aspects associated with excessive alcohol consumption.
                      </p>
                      <p>
                        We do not impose the process of drinking alcohol,
                        but we offer quality products to adult consumers who have
                        already made or are planning to make an informed choice in
                        favor of a particular brand produced by the company.
                        BELUGA GROUP carries out its marketing activities in accordance with the legislation of the Russian Federation.
                        The company also works with the Federal Service for the Regulation of the Alcohol Market, implements
                        joint initiatives aimed at improving the overall culture of alcohol consumption and
                        the formation of civilized and constructive cooperation between market participants.
                        (The website of the Federal Service for the Regulation of the Alcohol Market www.fsrar.ru).
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-scrollbar--section swiper-scrollbar"></div>
    </div>
  </div>
</div>

