.card-store {
	&--basic {
		padding: 20px 0;
		border-bottom: 1px solid $UIBackgroundFifth;
		&:last-child {
			border-bottom: none;
		}
		.card-store__row {
			@include sm() {
				flex-wrap: nowrap;
			}
		}
		.card-store__column {
			&--img {
				margin-bottom: 20px;
				@include sm() {
					flex-shrink: 0;
				}
			}
		}
		&--map {
			position: relative;
			background-color: $UIBackgroundPrimary;
			padding: 50px 25px;
			// @include sm() {
				// 	padding: 50px 25px;
				// }
			@include md() {
				padding: 30px 25px;
			}
			.card-store__address {
				max-width: 300px;
				line-height: 2;
				margin-bottom: 10px;
			}
			.card-store__row {
				flex-direction: column;
				align-items: center;
				justify-content: center;
				@include md() {
					flex-direction: row;
					flex-wrap: nowrap;
					align-items: stretch;
					justify-content: flex-start;
				}
				// margin: 0;
				// display: block;
			}
			.card-store__column {
				&--img {
					max-width: 315px;
					width: 100%;
					@include md() {
						
					}
				}
				&--content {
					@include md() {
						flex-grow: 1;
					}
				}
			}
			.card-store__img {
				width: 100%;
				max-height: 100%;
			}
			.card-store__schedule, .card-store__phone {
				display: block;
				margin-top: 10px;
				@include lg() {
					margin-top: 30px;
				}
			}
			.card-store__scroll-wrap {
				width: 100%;
				height: 270px;
			}
			.card-store__close {
				position: absolute;
				z-index: 99;
				top: 10px;
				right: 10px;
				
				font-size: 20px;
				@include md() {
					top: 20px;
					right: 25px;
				}
			}
		}
	}
}