.menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	
	height: 100%;
	width: 100%;

	transform: translate(-100%, 0);
	transition: linear .3s;
	
	&.visible {
		transform: translate(0, 0);
	}
	.swiper-scrollbar {
		background-color: rgba(#fff, .3);
	}
	.swiper-scrollbar-drag {
		background-color: rgba(#fff, .7);
	}
}

.menu__in {
	width: 100%;
	height: 100%;
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(#363333, 0.2);
		opacity: 0.5;
	}	
}

.menu__sidebar {
	position: relative;
	z-index: 2;

	width: 280px;
	height: 100%;
	
	background-color: $UIBackgroundAttention;
	@include sm() {
		width: 360px;
	}
	@include lg() {
		width: 505px;
	}
}
.menu__sidebar-in {
	padding-right: 12%;
	// padding-bottom: 10%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.menu__sidebar-item {
	padding: 10% 0 10% 10%;
	border-bottom: 1px solid rgba($UIBackgroundSecondary, .3);
	&--nav {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
}

.menu__nav {
	margin: auto 0;
}
.menu__nav-item {
	margin-bottom: 6%;
}
.menu__nav-link {
	color: $fontColorSecondary;
	text-decoration: none;
	&:hover {
		color: $fontColorSecondary;
		text-decoration: underline;
	}
}

.menu__sidebar-margin {
	margin-bottom: 9%;
}