<div class="menu" id="menu">
	<div class="menu__in">
		<div class="menu__sidebar">
			<div class="menu__scroll-container swiper-container" data-menu-scroller>
				<div class="menu__scroll-wrapper swiper-wrapper">
					<div class="menu__scroll-slide swiper-slide swiper-slide--height-auto">
						<div class="menu__sidebar-in">
							<div class="menu__sidebar-item">
								<a class="button-close-menu" data-toggle data-target="#menu" data-set-class="visible" href="#">
									<svg class="button-close-menu__icon svg-icon">
										<use xlink:href="img/svgSprite.svg#close"></use>
									</svg>
									<span class="button-close-menu__text">Закрыть</span>
								</a>
							</div>
							<div class="menu__sidebar-item menu__sidebar-item--nav">
								<nav class="menu__nav">
									<div class="menu__nav-item">
										<a class="menu__nav-link" href="about.html">
											<div class="title-inline">О легионе</div>
										</a>
									</div>
									<div class="menu__nav-item">
										<a class="menu__nav-link" href="about-bussines.html">
											<div class="title-inline">О нашем бизнесе</div>
										</a>
									</div>
									<div class="menu__nav-item">
										<a class="menu__nav-link" href="#">
											<div class="title-inline">Брэнды</div>
										</a>
									</div>
									<div class="menu__nav-item">
										<a class="menu__nav-link" href="#">
											<div class="title-inline">Магазины</div>
										</a>
									</div>
									<div class="menu__nav-item">
										<a class="menu__nav-link" href="#">
											<div class="title-inline">Партнерам</div>
										</a>
									</div>
									<div class="menu__nav-item">
										<a class="menu__nav-link" href="#">
											<div class="title-inline">Карьера</div>
										</a>
									</div>
								</nav>
							</div>
							<div class="menu__sidebar-item">
								<div class="menu__sidebar-margin">
									<a class="logo" href="/">
										<img src="img/logo-txt.svg" alt="">
									</a>
								</div>
								<div class="menu__sidebar-margin">
									<div class="font-color-secondary">© 2020 ООО «Группа Легион»</div>
									<div class="font-color-secondary">Все права защищены. Легальная информация</div>
								</div>
								
								<div class="row">
									<div class="column">
										<a class="link-lang link-lang--primary" href="#">RU</a>
									</div>
									<div class="column">
										<a class="link-lang link-lang--primary" href="#">UZ</a>
									</div>
									<div class="column">
										<a class="link-lang link-lang--primary current" href="#">ENG</a>
									</div>
								</div>
							
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-scrollbar swiper-scrollbar--menu"></div>
			</div>
		</div>
	</div>
</div>