.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
	
	
	border-bottom: 1px solid rgba($UIBackgroundSecondary, .15);
	transition: background-color .3s linear 0s;
	&--basic {
		background-color: transparent;
		.lang-adaptive__row {
			background-color: transparent;
		}
	}
	&--secondary {
		background-color: $UIBackgroundSecondary;
		border-bottom: 1px solid rgba($UIBackgroundThird, .1);
		.header__column {
			@include sm() {
				border-right: 1px solid rgba($UIBackgroundThird, .1);
			}
			&--lang {
				border-right-color: transparent;
			}
		}
		.link-toggle {
			.svg-icon {
				color: $UIBackgroundThird;
			}
			.title-inline {
				color: $fontColorPrimary;
			}
		}
		.link--contact {
			color: $UIBackgroundThird;
		}
		.link-lang {
			color: $fontColorPrimary;
			&.current {
				color: $fontColorPrimary;
			}
		}
		.lang-adaptive__button {
			color: $fontColorPrimary;
		}
		.lang-adaptive__row {
			border-bottom: 1px solid rgba($fontColorPrimary, .1);
			border-left: 1px solid rgba($fontColorPrimary, .1);
			
			margin-top: 0 !important;
			background-color: #fff;
			@include xl() {
				background-color: transparent;
				border-bottom-color: transparent;
				border-left-color: transparent;
			}
		}
		.breadcrumbs__item {
			&:after {
				color: $fontColorPrimary;
			}
		}
		.breadcrumbs__link {
			color: $fontColorPrimary;
			&:hover {
				color: $fontColorPrimary;
			}
		}
	}
	&--primary {
		background-color: $fontColorPrimary;
		.lang-adaptive__row {
			background-color: $fontColorPrimary;
			@include xl() {
				background-color: transparent;
			}
		}
	}
	&--static {
		position: static;
	}
}
.header__in {
	height: 50px;
	@include xl() {
		height: 80px;
	}
	
	
	
}

.header__container {
	height: 100%;
	
	
}

.header__row {
	height: 100%;
	
	
}

.header__column {
	height: 100%;
	padding-left: 0;
	padding-right: 0;
	
	@include sm() {
		border-right: 1px solid rgba($UIBackgroundFourth, .15);
	}
	&--logo {
		border-left-color: transparent;
		border-right-color: transparent;
		.logo {
			height: 100%;
		}
		img {
			height: 100%;
		}
	}
	&--lang {
		border-left-color: transparent;
		border-right-color: transparent;
		.lang-adaptive__row {
			align-items: center;
			margin: 0;
			@include xl() {
				padding-left: 30px;
				padding-right: 30px;
				height: 100%;
			}
		}
		.lang-adaptive {
			height: 100%;
			display: flex;
			flex-direction: column;
		}
		.lang-adaptive__button {
			height: 100%;
			width: 100%;
		}
	}
	&--toggle {
		
	}
	&--breadcrumbs {
		flex-grow: 1;
	}
	&--contact {
		display: none;
		@include sm() {
			// margin-left: auto;
			display: block;
		}
	}
}
.header__link-toggle {
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	@include sm() {
		width: 130px;
	}
	text-align: center;
	@include xxl() {
		width: 200px;
	}
	.link-toggle {
		width: 100%;
		height: 100%;
		justify-content: center;
	}
}
.header__breadcrumbs {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-left: 15px;
	padding-right: 15px;
	display: none;
	@include xl() {
		display: flex;
	}
}
.header__link-contact {
	width: 130px;
	height: 100%;
	@include xxl() {
		width: 150px;
	}
	a {
		display: block;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}	
}


.header__lang {

}