<header class="header" id="header">
	<div class="header__in">
		<div class="header__container container">
			<div class="header__row row">
				<div class="header__column header__column--logo column">
					<a class="logo" href="/">
						<img src="img/logo.svg" alt="">
					</a>
				</div>
				<div class="header__column header__column--toggle column">
					<div class="header__link-toggle">
						<a class="link link-toggle link--hover-pulse font-color-third" href="#" data-toggle data-target="#menu" data-set-class="visible">
							<span class="link__in">
								<span class="link__icon">
									<svg class="svg-icon svg-icon--size-md"><use xlink:href="img/svgSprite.svg#burger"></use></svg>
								</span>
								<span class="title-inline text-transform-uppercase font-color-secondary">Menu</span>
							</span>
						</a>
					</div>
				</div>
				<div class="header__column header__column--breadcrumbs column">
					<!-- <div class="header__breadcrumbs">
						<nav class="breadcrumbs">
							<div class="breadcrumbs__item">
								<a href="#" class="breadcrumbs__link">Main</a>
							</div>
							<div class="breadcrumbs__item">
								<a href="#" class="breadcrumbs__link">About</a>
							</div>
							<div class="breadcrumbs__item">
								<a href="#" class="breadcrumbs__link">Our history</a>
							</div>
						</nav>
					</div> -->
				</div>
				<div class="header__column column header__column--contact">
					<div class="header__link-contact">
						<a class="link link--contact font-color-secondary text-transform-uppercase text-decoration-none" href="/contacts.html">Контакты</a>
					</div>
				</div>
				<div class="header__column header__column--lang column">
					<div class="lang-adaptive">
							<div class="lang-adaptive__button">
								<span class="lang-adaptive__text">RU</span>
								<svg class="svg-icon">
									<use xlink:href="img/svgSprite.svg#angle"></use>
								</svg>
							</div>
							<div class="lang-adaptive__row row">
								<div class="lang-adaptive__column column">
									<a class="link-lang link-lang--secondary" href="#">RU</a>
								</div>
								<div class="lang-adaptive__column column">
									<a class="link-lang link-lang--secondary" href="#">UZ</a>
								</div>
								<div class="lang-adaptive__column column">
									<a class="link-lang link-lang--secondary current" href="#">ENG</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
@@include('./src/partials/html/menu/menu.html')