.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
}
.breadcrumbs__item {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	&:after {
		content: '→';
		position: relative;
		top: -2px;
		display: block;
		flex-shrink: 0;
		color: #fff;
	}
	&:first-child {
		.breadcrumbs__link {
			padding-left: 0;
		}
	}
	&:last-child {
		&:after {
			display: none;
		}
		.breadcrumbs__link {
			padding-right: 0;
		}
	}
}
.breadcrumbs__link {
	padding-left: 20px;
	padding-right: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: #fff;
	&:hover {
		color: #fff;
		text-decoration: underline;
	}
	@include xl() {
		padding-left: 20px;
		padding-right: 20px;
	}
	@include xxl() {
		padding-left: 30px;
		padding-right: 30px;
	}
}