.stat-data {
  position: relative;
  padding: 15px;
  @include sm() {
    padding: 30px 50px 30px;
  }
  @include md() {
    padding: 30px 100px 30px 170px;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    background: rgba(227, 0, 22, 0.5);
    opacity: 0.5;
    backdrop-filter: blur(24px);
  }
}

.stat-data__row {
  position: relative;
  z-index: 2;
  justify-content: space-between;
}