.map {
	position: relative;
	color: $fontColorPrimary;
	&--basic {
		width: 100%;
		height: 100%;
		.map__frame {
			position: relative;
			width: 100%;
			height: 100%;
		}
		.map__frame-in {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
	&--secondary {
		@include lg() {
			// padding-bottom: 150px;
		}
		.map__frame {
			position: relative;
			width: 100%;
			height: 400px;
			@media screen and (min-width: $xxl) {
				height: 550px;
			}
		}
		.map__frame-in {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
		.map__container {
			@include lg() {
				position: relative;
			}
		}
		.map__info {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) !important;
			max-width: 280px;
			width: 100%;
			opacity: 0;
			visibility: hidden;
			&.active {
				opacity: 1;
				visibility: visible;
			}
			@include sm() {
				max-width: 400px;
			}
			@include lg() {
				top: 100%;
				left: 15px;
				margin-top: -137px;
				max-width: 820px;
				transform: translate(0, 0) !important;
			}
		}
	}
	&--third {
		.map__frame-in {
			height: 400px;
		}
	}
}