.title-primary {
	font-family: $fontSecondary, sans-serif;
	font-size: $titlePrimaryFontSize / $UIRelativeValue_xl + rem;
	line-height: $titlePrimaryLineHeight;
}
.title-inline__txt {
	margin-bottom: 20px;
}