.title-secondary {
  font-size: $titleSecondaryFontSize + px;
  font-weight: $titleSecondaryFontWeight;
	@include md() {
		font-size: $titleSecondaryFontSize_md + px;
	}
	@include xl() {
		font-size: $titleSecondaryFontSize_xl + px;
	}
}