<div class="section section--chain-of-stores">
	<div class="section__in">
		<div class="section__scroll-container swiper-container" data-full-page-scroller>
			<div class="section__scroll-wrapper swiper-wrapper">
				<div class="section__scroll-slide swiper-slide swiper-slide--height-auto">
					<div class="section__indents">
						<div class="section__container container">
							<div class="section__title">
								<h2>Chain of stores</h2>
							</div>
							<div class="section__title-sub title-inline text-transform-uppercase">Choose City</div>
							<ul class="section__nav-list nav-list nav-list--basic">
								<li class="nav-list__item">
									<a class="nav-list__link title-inline text-transform-uppercase active" href="#">Tashkent</a>
								</li>
								<li class="nav-list__item">
									<a class="nav-list__link title-inline text-transform-uppercase" href="#">Samarqand</a>
								</li>
								<li class="nav-list__item">
									<a class="nav-list__link title-inline text-transform-uppercase" href="#">Fergana</a>
								</li>
								<li class="nav-list__item">
									<a class="nav-list__link title-inline text-transform-uppercase" href="#">Namangan</a>
								</li>
								<li class="nav-list__item">
									<a class="nav-list__link title-inline text-transform-uppercase" href="#">Andijan</a>
								</li>
								<li class="nav-list__item">
									<a class="nav-list__link title-inline text-transform-uppercase" href="#">Nukus</a>
								</li>
								<li class="nav-list__item">
									<a class="nav-list__link title-inline text-transform-uppercase" href="#">Bukhara</a>
								</li>
								<li class="nav-list__item">
									<a class="nav-list__link title-inline text-transform-uppercase" href="#">Qarshi</a>
								</li>
							</ul>
							<div class="section__title-sub title-inline text-transform-uppercase">Choose district</div>
							<ul class="nav-list nav-list--basic">
								<li class="nav-list__item">
									<a class="nav-list__link title-inline text-transform-uppercase active" href="#">all Disctricts</a>
								</li>
								<li class="nav-list__item">
									<a class="nav-list__link title-inline text-transform-uppercase" href="#">Bektemir</a>
								</li>
								<li class="nav-list__item">
									<a class="nav-list__link title-inline text-transform-uppercase" href="#">Mirzo-Uluzbek</a>
								</li>
								<li class="nav-list__item">
									<a class="nav-list__link title-inline text-transform-uppercase" href="#">Mirobad</a>
								</li>
								<li class="nav-list__item">
									<a class="nav-list__link title-inline text-transform-uppercase" href="#">Olmazor</a>
								</li>
								<li class="nav-list__item">
									<a class="nav-list__link title-inline text-transform-uppercase" href="#">Sergeli</a>
								</li>
								<li class="nav-list__item">
									<a class="nav-list__link title-inline text-transform-uppercase" href="#">Uchtepa</a>
								</li>
								<li class="nav-list__item">
									<a class="nav-list__link title-inline text-transform-uppercase" href="#">Yashnabad</a>
								</li>
								<li class="nav-list__item">
									<a class="nav-list__link title-inline text-transform-uppercase" href="#">Chilanzar</a>
								</li>
								<li class="nav-list__item">
									<a class="nav-list__link title-inline text-transform-uppercase" href="#">Shayhontahur</a>
								</li>
								<li class="nav-list__item">
									<a class="nav-list__link title-inline text-transform-uppercase" href="#">Yunusobod</a>
								</li>
								<li class="nav-list__item">
									<a class="nav-list__link title-inline text-transform-uppercase" href="#">Yakkasaroy</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-scrollbar--section swiper-scrollbar"></div>
		</div>
	</div>
</div>