.section {
  position: relative;
  width: 100%;
  height: 100%;

  transition: linear 0.1s;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
  &.visible {
    opacity: 1;
    visibility: visible;
  }
}
.section__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;

  transition: linear .5s;
  // transform: scale(.75, .7);
}
.section__in {
  padding-top: 50px;
  width: 100%;
  height: 100%;

  @include xl() {
    padding-top: 80px;
  }
}

.section__scroll-slide {
  justify-content: center;
  .footer {
    margin-top: auto;
  }
}

.section__indents {
  position: relative;
  padding: 30px 0;
  @include xl() {
    padding: 65px 0;
  }
}

.section__container {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}