@mixin titles($element, $fontSize: null, $fontSize_md: null, $fontSize_xl, $lineHeight: null, $fontWeight: null) {
  $element {
    @if($fontSize && $fontSize_md) {
      font-size: $fontSize;
      @if($lineHeight) {
        line-height: $lineHeight;
      }
      @if($fontWeight) {
        font-weight: $fontWeight;
      }
      @include md() {
        font-size: $fontSize_md;
      };
      @include xl() {
        font-size: $fontSize_xl;
      };
    } @else {
      font-size: $fontSize_xl / $UIRelativeValue_xl + rem;
      @if($lineHeight) {
        line-height: $lineHeight;
      }
      @if($fontWeight) {
        font-weight: $fontWeight;
      }
    }
  }
}