.section {
	&--footer-contacts-map {
		background-color: $UIBackgroundThird;
		color           : $fontColorSecondary;

		.section__indents {
			position : relative;
			flex-grow: 1;
			padding  : 0;
		}

		.section__map-wrap {
			height: 300px;
			@include lg() {
				position: absolute;
				top     : 0;
				right   : 0;
				bottom  : 0;
				width   : 56%;
				height: auto;
				z-index: 9999;
			}
		}

		.section__map {
			width     : 100%;
			min-height: 400px;
			@include md() {
				min-height: 500px;
			}
			@include xl() {
				height    : 100%;
				object-fit: cover;
			}
		}

		.section__row {}

		.section__column {
			width: 100%;

			@include lg() {
				max-width: 41.666%;
				flex     : 0 0 41.666%;
			}
		}

		.section__contact-card {
			max-width: 550px;
			// padding: 15px;
			padding: 15px 0;

			@include sm() {
				padding: 30px;
			}

			@include xl() {
				padding: 40px 0;
			}
		}

		.section__person {
			margin-bottom: 20px;
			// padding-left : 0;
			// padding-right: 0;
			@include sm() {
				
			}
			@include xl() {
				margin-bottom: 40px;
			}
		}

		.section__row-contact {
			flex-wrap    : nowrap;
			margin-bottom: 10px;
		}

		.section__column-contact {
			min-width    : 150px;
			margin-bottom: 5px;
		}

		.section__button-wrap {
			margin-top: 30px;

			@include xl() {
				margin-top: 65px;
			}
		}

		.section__button {
			min-width: 210px;
		}
	}
}