.accordion {
	&--basic {
		.accordion__item {
			margin-bottom: 25px;
			&.active {
				.accordion__item-head {
					color: $fontColorSecondary;
					background-color: $UIBackgroundAttention;
				}
				.accordion__item-collapse {
					opacity: 1;
					visibility: visible;
				}
				.svg-icon--rotate-90 {
					transform: rotate(-90deg);
				}
				.accordion__item-head-column {
					&--loc {
						display: block;
					}
				}
			}
		}
		.accordion__item-head {
			padding: 10px 15px;
			color: $fontColorWarning;
			background-color: $UIBackgroundSecondary;
			cursor: pointer;
			@include sm() {
				padding: 20px 40px;
			}
		}
		.accordion__item-head-row {
			flex-wrap: nowrap;
		}
		.accordion__item-head-column {
			&--loc {
				display: none;
			}
			&--icon {
				margin-left: auto;
			}
		}
		.accordion__item-collapse {
			max-height: 0;
			opacity: 0;
			visibility: hidden;
			transition: linear .3s;
		}
		.accordion__item-collapse-in {
			padding: 20px 40px 40px;
			background-color: $UIBackgroundSecondary;
			background-image: url('../img/legion.svg');
			background-position: 10% 95%;
			background-repeat: no-repeat;
			background-size: 1120px 174px;

		}
		.accordion__item-collapse-row {
			margin-left: -25px;
			margin-right: -25px;
		}
		.accordion__item-collapse-column {
			width: 100%;
			margin-bottom: 30px;
			@include sm() {
				max-width: 50%;
				flex: 0 0 50%;
			}
			@include lg() {
				max-width: 33.3%;
				flex: 0 0 33.3%;
				padding-left: 25px;
				padding-right: 25px;
				margin-bottom: 0;
			}
		}
		.accordion__item-collapse-title {
			margin-bottom: 15px;
		}
		.accordion__item-button-wrap {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			margin-top: 33px;
		}
		.accordion__item-button {
			margin-right: 19%;
		}
	}
}

.accordion__item {
}
.accordion__item-head {
}
.accordion__item-row {
}
.accordion__item-column {
}
.accordion__item-column--icon {
}
.accordion__item-collapse {
}
.accordion__item-collapse-row {

}
.accordion__item-collapse-column {

}