<div class="modal modal--basic micromodal-slide" id="modal-1" aria-hidden="true">
	<div class="modal__overlay" tabindex="-1" data-micromodal-close>
		<div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
			<header class="modal__header">
				<div class="modal__title">
					<h2>Заполните форму для обратной связи</h2>
				</div>
				<button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
			</header>
			<main class="modal__content" id="modal-1-content">
				<form class="form form--basic">
					<div class="form-row row">
						<div class="form-group column">
							<input class="form-control" type="text" placeholder="Имя">
						</div>
						<div class="form-group column">
							<input class="form-control" type="mail" placeholder="Email">
						</div>
						<div class="form-group column">
							<input class="form-control" type="tel" placeholder="Телефон">
						</div>
						<div class="form-group column">
							<input class="form-control" type="text" placeholder="Сообщение">
						</div>
						<div class="form-group column">
							<button class="button" type="submit">
								<span class="button__in">
									<span>Отправить сообщение</span>
								</span>
							</button>
						</div>
					</div>
					<div class="form__succes">
						<small>Нажимая на кнопку «Отправить», вы подтверждаете, что предоставляете Компании свое согласие на обработку ваших персональных данных.</small>
					</div>
				</form>
			</main>
		</div>
	</div>
</div>