<div class="modal modal--secondary micromodal-slide" id="modal-partners" aria-hidden="true">
	<div class="modal__overlay" tabindex="-1" data-micromodal-close>
		<div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-partners-title">
			<header class="modal__header">
				<button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
			</header>
			<main class="modal__content" id="modal-partners-content">
				<div class="modal__map-wrap">
					<div class="map map--third">
						<div class="map__frame">
							<div class="map__frame-in" id="map-modal"></div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</div>