<div class="modal modal--basic micromodal-slide" id="modal-2" aria-hidden="true">
	<div class="modal__overlay" tabindex="-1" data-micromodal-close>
		<div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-2-title">
			<header class="modal__header">
				<div class="modal__title">
					<h2>Заполните форму для обратной связи</h2>
				</div>
				<button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
			</header>
			<main class="modal__content" id="modal-2-content">
				<form class="form form--basic">
					<div class="form-row row">
						<div class="form-group column">
							<input class="form-control" type="text" placeholder="Имя">
						</div>
						<div class="form-group column">
							<input class="form-control" type="mail" placeholder="Email">
						</div>
						<div class="form-group column">
							<input class="form-control" type="tel" placeholder="Телефон">
						</div>
						<div class="form-group column">
							<input class="form-control" type="text" placeholder="Сообщение">
						</div>
						<div class="form-group form-group--full-width column">
							<input class="input-hidden" type="file" name="" id="">
							<label class="button button--third">
								<span class="button__in">
									<span class="link" href="#">
										<span class="link__in">
											<span class="link__icon">
												<svg class='svg-icon svg-icon--size-lg'>
													<use xlink:href='img/svgSprite.svg#upload'></use>
												</svg>
											</span>
											<span>Загрузить резюме</span>
										</span>
									</span>
								</span>
							</дф>
						</div>
						<div class="form-group form-group--full-width column">
							<button class="button" type="submit">
								<span class="button__in">
									<span>Отправить сообщение</span>
								</span>
							</button>
						</div>
					</div>
					<div class="form__succes">
						<small>Нажимая на кнопку «Отправить», вы подтверждаете, что предоставляете Компании свое согласие на обработку ваших персональных данных.</small>
					</div>
				</form>
			</main>
		</div>
	</div>
</div>