.section {
  &--previews {
    .section__main-wrap {
      &:before {
        display: none;
      }
    }
    .section__container {
      @include lg() {
        transition: max-width .5s linear .5s, flex-grow .5s linear .5s;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    .section__row-head {
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      padding-top: 20px;
      @include sm() {
        margin-bottom: 0;
      }
      @include lg() {
        max-height: 100px;
        flex-direction: row;
        justify-content: space-between;
        transition: padding-top .5s linear 1s, opacity .5s linear 2s, visibility .5s linear 2s, max-height .5s linear 1s, transform .5s linear 2s;
      }
    }
    .section__column-head {
      margin-bottom: 4%;
      & > * {
        margin-bottom: 0;
      }
    }
    .section__content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  &--previews-full-screen {
    .swiper-slide {
    }
    .section__container {
      max-width: 100%;
      flex-grow: 1;
      @include lg() {
        transition: max-width .5s linear 1s, flex-grow .5s linear 1s;
        // margin-top: 0;
      }
    }
    .section__row-head {
      transform: translate(-50%, 500%);
      opacity: 0;
      visibility: hidden;
      padding: 0;
			max-height: 0;
			margin: 0;
      @include lg() {
        transition: padding-top .5s linear 0s, opacity .5s linear 0s, visibility .5s linear 0s, max-height .5s linear 0s, transform .5s linear 0s;
      }
    }
    .section__previews {
      transition: .5s linear .5s;
    }
    .section__column-previews {
    }
  }
}
.section__row-previews {
  justify-content: center;
  align-items: center;
  @include lg() {
    justify-content: flex-start;
  }
}
.section__column-previews {
  position: relative;
  width: 100%;
  max-width: 440px;
  flex: 1 0 auto;
  @include lg() {
    max-width: 33.3%;
    flex: 0 0 33.3%;
    transform: translate(0, 0);
    // opacity .5s linear 2s,
    // visibility .5s linear 2s,
    transition: 
      transform .5s linear 1.5s,
      opacity .5s linear 1.5s,
      visibility .5s linear 1.5s,
      padding-left .5s linear .5s,
      padding-right .5s linear .5s,
      width .5s linear .5s,
      max-width .5s linear .5s,
      flex-basis .5s linear .5s;
  }
  @include xl() {
    margin-bottom: 0;
  }
  &--full-screen {
    width: 100%;
		max-width: 100%;
		flex: 0 0 100%;
		padding-left: 0;
    padding-right: 0;
    @include lg() {
      transition: 
        padding-left .5s linear 1s,
        padding-right .5s linear 1s,
        width .5s linear 1s,
        max-width .5s linear 1s,
        flex-basis .5s linear 1s;
    }

    .preview {
      cursor: default;
      max-width: 100%;
      transition: max-width .5s linear 1s;
    }
    .preview__figcaption {
      top: 0;
      left: 0;
      max-width: 100%;
      transform: translate(0, -100%);
      padding: 20px 50px 20px 20px;
      @include lg() {
        padding: 20px 20px 20px 70px;
        top: -100px;
        max-width: 770px;
        transform: translate(0, 0);
        transition: 
          top .5s linear 1s,
          left .5s linear 1s,
          padding-top .5s linear 1s,
          padding-left .5s linear 1s,
          padding-right .5s linear 1s,
          padding-bottom .5s linear 1s,
          max-width .5s linear 1s,
          transform .5s linear 1s,;
      }
    }
    .preview__figure-img-wrap {

    }
    .preview__figure-img {
      @include lg() {
        opacity: 0;
        visibility: hidden;
        transition: .5s linear 1s;
      }
    }
    .preview__figure-img-large {
      @include lg() {
        opacity: 1;
        visibility: visible;
        transition: .5s linear 1s;
      }
    }
    .preview__figure-arrow {
      opacity: 0;
      visibility: hidden;
      transition: 0s linear 0s;
    }
    .preview__figure-close {
      left: auto;
      right: 5px;
      top: -5px;
      opacity: 1;
      visibility: visible;
      @include lg() {
        top: 10px;
        left: 5px;
        right: auto;
        transition: top 0s linear 1.5s, opacity .5s linear 1.5s, visibility .5s linear 1.5s;
      }
    }
    .preview__next-article {
      opacity: 1;
      visibility: visible;
      transform: translate(0, 0);
      @include lg() {
        top: 80px;
        right: 10px;
        transition: .5s linear 1.5s;
      }
    }
    .preview__content {
      max-height: 100%;
      padding-top: 20px;
      opacity: 1;
      visibility: visible;
      transform: translate(0, 0);
      
      @include lg() {
        padding-top: 150px;
        transition: max-height .5s linear 1.5s,
                    opacity .5s linear 1.5s,
                    visibility .5s linear 1.5s,
                    transform .5s linear 1.5s,
                    padding-top .5s linear 1.5s;
      }
    }
  }
  &--animated {
  //  &:not(.section__column-previews--next-element-hide) {
  //   &:not(.section__column-previews--prev-element-hide) {
  //     &:not(.section__column-previews--full-screen) {
  //       transition:
  //         transform .5s linear 1s,
  //         flex-basis .5s linear 1s,
  //         width .5s linear 1s,
  //         max-width .5s linear 1s,
  //         padding-left .5s linear 1s,
  //         padding-right .5s linear 1s,
  //         opacity .5s linear 1s,
  //         visibility .5s linear 1s;
  //     }
  //   }
  //  }
  }
  &--prev-element-hide {
    @include lg() {
      flex: 0 0 0;
      width: 0;
      max-width: 0;
      padding-left: 0;
      padding-right: 0;

      // opacity: 0;
      // visibility: hidden;
  
      transform: translate(-1500px, 0);
      transition:
        transform .5s linear .5s,
        flex-basis .5s linear 1s,
        width .5s linear 1s,
        max-width .5s linear 1s,
        padding-left .5s linear 1s,
        padding-right .5s linear 1s;
        // opacity .5s linear .5s,
        // visibility .5s linear .5s,
    }
  }
  &--next-element-hide {
    @include lg() {
      flex: 0 0 0;
      width: 0;
      max-width: 0;
      padding-left: 0;
      padding-right: 0;

      // opacity: 0;
      // visibility: hidden;
  
      transform: translate(1500px, 0);
      transition:
        transform .5s linear .5s,
        flex-basis .5s linear 1s,
        width .5s linear 1s,
        max-width .5s linear 1s,
        padding-left .5s linear 1s,
        padding-right .5s linear 1s;
        // opacity .5s linear .5s,
        // visibility .5s linear .5s
    }
  }
  &--hide {
		display: none;
    @include lg() {
    }
  }
}
