<div class="section section--previews" id="previews">
  <div class="section__in">
    <div class="section__scroll-container swiper-container" data-full-page-scroller>
      <div class="section__scroll-wrapper swiper-wrapper">
        <div class="section__scroll-slide swiper-slide swiper-slide--height-auto">
          <div class="section__container container">
            <div class="section__row-head row">
              <div class="section__column-head column">
                <h2>Новости</h2>
              </div>
              <div class="section__column-head column">
                <a class="link link--hover-pulse font-color-first text-decoration-none" href="#">
                  <span class="link__in">
                    <span class="link__icon">
                      <svg class="svg-icon svg-icon--size-md"><use xlink:href="img/svgSprite.svg#grid"></use></svg>
                    </span>
                    <span class="title-secondary">Смотреть все</span>
                  </span>
                </a>
              </div>
            </div>
            <div class="section__previews">
              <div class="section__row-previews row" id="previews-list">
                <div class="section__column-previews column">
                  <article
                    class="preview"
                    data-collapse-preview="show"
                    data-parent="#previews"
                    data-preview="#preview-1"
                    id="preview-1"
                  >
                    
                    <div class="preview__figure font-color-secondary">
                      <span class="preview__figure-img-wrap">
                        <img class="preview__figure-img" src="img/previews/preview-2.jpg" alt="">
                        <img class="preview__figure-img-large" src="img/previews/preview-2-1895.jpg" alt="">
                      </span>
                      <div class="preview__container container">
                        <div class="preview__figcaption">
                          <span class="preview__figure-title title-secondary">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint</span>
                          <time class="preview__figure-time font-color-fourth" datetime="31-12-2021">25 Septempber 2020</time>
                          <svg class="preview__figure-arrow svg-icon"><use xlink:href="img/svgSprite.svg#long-arrow"></use></svg>
                          <a
                            class="preview__figure-close"
                            data-collapse-preview="hide"
                            data-parent="#previews"
                            data-preview="#preview-1"
                            href="#"
                          >
                            <svg class="svg-icon"><use xlink:href="img/svgSprite.svg#close"></use></svg>
                          </a>
                        </div>
                        <div class="preview__next-article">
                          <a
                            class="link link--hover-long-arrow font-color-first text-decoration-none"
                            data-preview-next
                            data-previews-list="#previews-list"
                            data-previews-section="#previews"
                            href="#"
                          >
                            <span class="link__in">
                              <span>Следующая новость</span>
                              <span class="link__icon link__icon--arrow-long">
                                <svg class="svg-icon svg-icon--size-extra"><use xlink:href="img/svgSprite.svg#long-arrow"></use></svg>
                              </span>
                            </span>
                          </a>
                        </div>
                        <div class="preview__content">
                          <h2>Lorem ipsum dolor sit amet.</h2>
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, inventore fugit minima quasi veritatis quae a, dolorem ducimus commodi incidunt, doloribus perferendis quam excepturi corrupti at quibusdam voluptas ullam id!</p>
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, inventore fugit minima quasi veritatis quae a, dolorem ducimus commodi incidunt, doloribus perferendis quam excepturi corrupti at quibusdam voluptas ullam id!</p>
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, inventore fugit minima quasi veritatis quae a, dolorem ducimus commodi incidunt, doloribus perferendis quam excepturi corrupti at quibusdam voluptas ullam id!</p>
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, inventore fugit minima quasi veritatis quae a, dolorem ducimus commodi incidunt, doloribus perferendis quam excepturi corrupti at quibusdam voluptas ullam id!</p>
                        </div>
                      </div>
                    </div>
                  
                  </article>
                </div>
                <div class="section__column-previews column">
                  <article
                    class="preview"
                    data-collapse-preview="show"
                    data-parent="#previews"
                    data-preview="#preview-2"
                    id="preview-2"
                  >
                    
                    <div class="preview__figure font-color-secondary">
                      <span class="preview__figure-img-wrap">
                        <img class="preview__figure-img" src="img/previews/preview-1.jpg" alt="">
                        <img class="preview__figure-img-large" src="img/previews/preview-2-1895.jpg" alt="">
                      </span>
                      <div class="preview__container container">
                        <div class="preview__figcaption">
                          <span class="preview__figure-title title-secondary">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint</span>
                          <time class="preview__figure-time font-color-fourth" datetime="31-12-2021">25 Septempber 2020</time>
                          <svg class="preview__figure-arrow svg-icon"><use xlink:href="img/svgSprite.svg#long-arrow"></use></svg>
                          <a
                            class="preview__figure-close"
                            data-collapse-preview="hide"
                            data-parent="#previews"
                            data-preview="#preview-2"
                            href="#"
                          >
                            <svg class="svg-icon"><use xlink:href="img/svgSprite.svg#close"></use></svg>
                          </a>
                        </div>
                        <div class="preview__next-article">
                          <a
                            class="link link--hover-long-arrow font-color-first text-decoration-none"
                            data-preview-next
                            data-previews-list="#previews-list"
                            data-previews-section="#previews"
                            href="#"
                          >
                            <span class="link__in">
                              <span>Следующая новость</span>
                              <span class="link__icon link__icon--arrow-long">
                                <svg class="svg-icon svg-icon--size-extra"><use xlink:href="img/svgSprite.svg#long-arrow"></use></svg>
                              </span>
                            </span>
                          </a>
                        </div>
                        <div class="preview__content">
                          <h2>Lorem ipsum dolor sit amet.</h2>
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, inventore fugit minima quasi veritatis quae a, dolorem ducimus commodi incidunt, doloribus perferendis quam excepturi corrupti at quibusdam voluptas ullam id!</p>
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, inventore fugit minima quasi veritatis quae a, dolorem ducimus commodi incidunt, doloribus perferendis quam excepturi corrupti at quibusdam voluptas ullam id!</p>
                        </div>
                      </div>
                    </div>
                  
                  </article>
                </div>
                <div class="section__column-previews column">
                  <article
                    class="preview"
                    data-collapse-preview="show"
                    data-parent="#previews"
                    data-preview="#preview-3"
                    id="preview-3"
                  >
                    
                    <div class="preview__figure font-color-secondary">
                      <span class="preview__figure-img-wrap">
                        <img class="preview__figure-img" src="img/previews/preview-3.jpg" alt="">
                        <img class="preview__figure-img-large" src="img/previews/preview-2-1895.jpg" alt="">
                      </span>
                      <div class="preview__container container">
                        <div class="preview__figcaption">
                          <span class="preview__figure-title title-secondary">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint</span>
                          <time class="preview__figure-time font-color-fourth" datetime="31-12-2021">25 Septempber 2020</time>
                          <svg class="preview__figure-arrow svg-icon"><use xlink:href="img/svgSprite.svg#long-arrow"></use></svg>
                          <a
                            class="preview__figure-close"
                            data-collapse-preview="hide"
                            data-parent="#previews"
                            data-preview="#preview-3"
                            href="#"
                          >
                            <svg class="svg-icon"><use xlink:href="img/svgSprite.svg#close"></use></svg>
                          </a>
                        </div>
                        <div class="preview__next-article">
                          <a
                            class="link link--hover-long-arrow font-color-first text-decoration-none"
                            data-preview-next
                            data-previews-list="#previews-list"
                            data-previews-section="#previews"
                            href="#"
                          >
                            <span class="link__in">
                              <span>Следующая новость</span>
                              <span class="link__icon link__icon--arrow-long">
                                <svg class="svg-icon svg-icon--size-extra"><use xlink:href="img/svgSprite.svg#long-arrow"></use></svg>
                              </span>
                            </span>
                          </a>
                        </div>
                        <div class="preview__content">
                          <h2>Lorem ipsum dolor sit amet.</h2>
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, inventore fugit minima quasi veritatis quae a, dolorem ducimus commodi incidunt, doloribus perferendis quam excepturi corrupti at quibusdam voluptas ullam id!</p>
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, inventore fugit minima quasi veritatis quae a, dolorem ducimus commodi incidunt, doloribus perferendis quam excepturi corrupti at quibusdam voluptas ullam id!</p>
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, inventore fugit minima quasi veritatis quae a, dolorem ducimus commodi incidunt, doloribus perferendis quam excepturi corrupti at quibusdam voluptas ullam id!</p>
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, inventore fugit minima quasi veritatis quae a, dolorem ducimus commodi incidunt, doloribus perferendis quam excepturi corrupti at quibusdam voluptas ullam id!</p>
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, inventore fugit minima quasi veritatis quae a, dolorem ducimus commodi incidunt, doloribus perferendis quam excepturi corrupti at quibusdam voluptas ullam id!</p>
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, inventore fugit minima quasi veritatis quae a, dolorem ducimus commodi incidunt, doloribus perferendis quam excepturi corrupti at quibusdam voluptas ullam id!</p>
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, inventore fugit minima quasi veritatis quae a, dolorem ducimus commodi incidunt, doloribus perferendis quam excepturi corrupti at quibusdam voluptas ullam id!</p>
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, inventore fugit minima quasi veritatis quae a, dolorem ducimus commodi incidunt, doloribus perferendis quam excepturi corrupti at quibusdam voluptas ullam id!</p>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-scrollbar--section swiper-scrollbar"></div>
    </div>
  </div>
</div>

