.section {
  &--footer-about-bussines {
    background-color: $UIBackgroundThird;
    .section__indents {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 350px;
    }
    .section__container {
      position: relative;
    }
    .section__background {
      background-position: 80% 50%;
      @include sm() {
        background-position: 100% 50%;
      }
      // background-size: cover;
    }
    .section__content {
      max-width: 470px;
    }
    .title-inline {
      margin-bottom: 20px;
    }
    .title-primary {
      margin-bottom: 50px;
    }
  }
}