<div class="section section--footer-about-bussines">
  <div class="section__in">
    <div class="section__scroll-container swiper-container" data-full-page-scroller>
      <div class="section__scroll-wrapper swiper-wrapper">
        <div class="section__scroll-slide swiper-slide swiper-slide--height-auto">
          <div class="section__indents">
            <div class="section__background" style="background-image: url('img/sections-bg/front-side-footer-about-bussines.jpg');">&nbsp;</div>
						<div class="section__container container">
							<div class="section__content font-color-secondary">
                <div class="title-inline dash font-weight-normal">ознакомьтесь подробнее с информацией...</div>
								<div class="title-primary">О нашем бизнесе в цифрах</div>
								<a class="link link--hover-long-arrow text-decoration-none font-color-secondary" href="about-bussines.html">
                  <span class="link__in">
                    <span class="link__icon">
                      <svg class="svg-icon svg-icon--size-extra"><use xlink:href="img/svgSprite.svg#long-arrow"></use></svg>
                    </span>
                  </span>
                </a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-scrollbar--section swiper-scrollbar"></div>
		</div>
	</div>
</div>

